<!doctype html>
<html lang="en">
<head>
    <title>MySTC Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS libraries imports -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/animate.min.css" rel="stylesheet" type="text/css"/>
    <!-- end of CSS libraries imports -->

    <!-- STC custom styles -->
    <link href="../css/mystc_icons.css" rel="stylesheet" type="text/css"/>
    <link href="../css/main.css" rel="stylesheet" type="text/css"/>
    <link href="../css/mobile.css" rel="stylesheet" type="text/css"/>
    <!-- end of STC custom styles -->

</head>
<body>
<!-- header which will come from template -->
<header></header>
<!-- End of header which will come from template -->


<!-- page content which will be added here  -->
<main class="mainsection">

  Page content will be placed here

</main>
<!-- End of page content which will be added here  -->


<!-- footer which will come from template -->
<footer></footer>


<!-- widget panel -->
<panel></panel>


<!-- Javascript libraries imports -->
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
<script type="text/javascript" src="../js/owl.carousel.js" ></script>
<script type="text/javascript" src="../js/Chart.min.js" ></script>
<!-- end of Javascript libraries imports -->

<!-- STC custom Javascript functions -->
<script type="text/javascript" src="../js/functions.js" ></script>
<!-- end of STC custom Javascript functions -->

</body>
</html>