<div id="header">
    <div class="mainheader">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <div class="logo">
                        <a href="../Dashboard/dashboard.html"><img src="../../imgs/stc-logo.jpg" alt="STC Logo" /></a>
                    </div>
                    <div class="nav">
                        <ul>
                            <li class="active"><a href="../Dashboard/dashboard.html"><span>Home</span></a></li>
                            <li><a href=""><span>Store</span></a></li>
                            <li><a href=""><span>Location</span></a></li>
                            <li><a href=""><span>Support</span></a></li>
                        </ul>
                    </div>
                    <div class="search">
                            <i class="icon-search"></i>
                            <input type="search" placeholder="Search site ..." />
                    </div>
                    <div class="control">
                        <ul>
                            <li class="languages"><a href=""><span>العربية</span></a></li>
                            <!-- <li class="icons notify"><span><i class="icon-bell"></i></span></li> -->
                            <li class="icons profile">
                                <span><i class="icon-1_profile"></i></span>
                                <div class="dropdown_list">
                                    <ul>
                                        <li><a href=""><span>Mohammad Samak</span></a></li>
                                        <li><a href=""><i class="icon-1_profile"></i><span>Profile</span></a></li>
                                        <li><a href=""><i class="icon-3_my_payments2"></i><span>Payment</span></a></li>
                                        <li><a href=""><i class="icon-logout"></i><span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <span class="widgets_btn"><i class="icon-th-large"></i></span>
    </div>


        <div class="subheader" id="subheader">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="snav">
                            <ul id="otherswrvices">
                                    <li><a href=""><i class="icon-3_my_subscriptions"></i><span>My Subscriptions</span></a></li>
                                    <li><a href=""><i class="icon-3_my_payments"></i><span>Number Properties</span></a></li>
                                    <li><a href=""><i class="icon-3_sim_details"></i><span>SIM Details</span></a></li>
                                    <li><a href=""><i class="icon-6_sms"></i><span>SMS</span></a></li>
                                    <li><a href=""><i class="icon-telegram"></i><span>Telegram</span></a></li>
                                </ul>

                    </div>
                    <div class="accounts">
                            <div class="form-input">
                            <select name="accounts" id="accounts" title="accounts" class="selectpicker" data-live-search="true">
                                <optgroup label="Prepaid" data-max-options="2" data-show-icon="true">
                                    <option data-subtext="first name" data-icon="icon icon-2_prepaid" data-type="prepaid">0533727579</option>
                                    <option data-subtext="name" data-icon="icon icon-2_prepaid" data-type="prepaid">0552424211</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_prepaid" data-type="prepaid">0501234567</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_prepaid" data-type="prepaid">0531234567</option>
                                </optgroup>
                                <optgroup label="Postpaid" data-max-options="2">
                                    <option data-subtext="Name" data-icon="icon icon-2_postpaid" data-type="postpaid">0507654321</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_postpaid" data-type="postpaid">0557654321</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_postpaid" data-type="postpaid">0506574432</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_postpaid" data-type="postpaid">0502288211</option>
                                </optgroup>
                                <optgroup label="Landline" data-max-options="2">
                                    <option data-subtext="Name" data-icon="icon icon-2_landline" data-type="landline">0112345678</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_landline" data-type="landline">0126562211</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_landline" data-type="landline">0152211218</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_landline" data-type="landline">0167321110</option>
                                </optgroup>
                                <optgroup label="Data" data-max-options="2">
                                    <option data-subtext="Name" data-icon="icon icon-2_data_sim" data-type="quicknet_prepaid">0656622311</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_data_sim" data-type="quicknet_prepaid">0233211121</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_data_sim" data-type="quicknet_postpaid">0762662727</option>
                                    <option data-subtext="Name" data-icon="icon icon-2_data_sim" data-type="quicknet_postpaid">0762552662</option>
                                </optgroup>


                            </select>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="footer">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="t_footer">
                    <div class="f__left app_store">
                        <a href="#"><img src="../../imgs/ios.png" /></a>
                        <a href="#"><img src="../../imgs/android.png" /></a>
                    </div>
                    <div class="f__right socialmedia">
                        <ul>
                            <li><a href=""><i class="icon-facebook" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="icon-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="icon-instagram" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="icon-twitter" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="icon-youtube" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="icon-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="b_footer">
                    <div class="f__left copyrights">
                        <span><img src="../../imgs/footerlogo.jpg" /></span>
                        <label>© 2019, All right reserved.</label>
                    </div>
                    <div class="f__right quicklinks">
                        <a href="">STC Homepage</a>
                        <a href="">Privacy Statement </a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


<div id="widgetspanel">
    <div class="paneltitle">
        <h1>My Bookmarks</h1>
        <i class="icon-error" data-toggle="popover" tabindex="0" data-trigger="focus" data-placement="bottom" data-title="What is My Bookmarks?" data-content="My Bookmarks is a set of visual bookmarks that is displayed every time you login to MySTC, giving you a quick access to your favorite service number information.
        Each entry in My Bookmarks represents your choice of information for the service number you have selected."></i>
    </div>
    <div class="panel_container">
        <div class="scroll">
            <div class="item">
                <div class="widgetcontent graybg">
                    <span class="delete_widget" data-toggle="modal" data-target="#deleteConfirmation"></span>
                    <div class="widgettitle text-center">
                        <h3>0503672947</h3>
                        <h4>Local Internet</h4>
                    </div>
                    <div class="dounghtchart ">
                        <canvas id="local-internet_widget" class="dounghtcanvas internetcharts" width="140" height="140"  data-source="localinternet" data-type="packages"></canvas>
                        <div class="chartvalues numberdisplay">
                            <div>
                                <h2>
                                    <span class="mainnumber">13.5</span>
                                    <span class="secondnumber">
                                             <i class="numberabbr">MB</i>
                                         </span>
                                </h2>
                            </div>
                        </div>

                    </div>
                    <h4>15 GB Expired in 30 days</h4>


                </div>
            </div>
            <div class="item">
                <div class="widgetcontent graybg">
                        <span class="delete_widget"  data-toggle="modal" data-target="#deleteConfirmation"></span>
                    <div class="widgettitle text-center">
                        <h3>0503672947</h3>
                        <h4>Unbilled Amount</h4>
                    </div>
                    <div class="numberdisplay ">
                        <a href="../Bill_Details/usage_details.html" title="Usage Details">
                        <h2>
                            <span class="mainnumber">32</span>
                            <span class="secondnumber">
                                <i class="numberamount">34</i>
                                <i class="numberabbr">SR</i>
                            </span>
                        </h2>
                        </a>
                        <h4>Update 10 hours ago</h4>
                    </div>

                </div>
            </div>
            <div class="item addwidget">
                <div class="widgetcontent graybg">
                    <div class="widgettitle text-center">
                        <h3>Add Bookmark</h3>
                    </div>

                    <div class="wizard">
                        <div class="step">
                                <a href="#" class="btns addnewbtn" data-step="next"><i
                                    class="icon-add"></i></a>
                        </div>
                        <div class="step">
                            <div class="row">
                                <select name="serviceNumber" id="serviceNumber" title="Service Number" class="selectpicker" data-live-search="true">
                                    <option>0533727579</option>
                                    <option>0533727579</option>
                                    <option>0533727579</option>
                                    <option>0533727579</option>
                                </select>
                            </div>
                            <div class="row">
                                <select name="widgetCards" id="widgetCards" title="Widgets" class="selectpicker">
                                    <option>0533727579</option>
                                    <option>0533727579</option>
                                    <option>0533727579</option>
                                    <option>0533727579</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="btnWrap">
                                    <div class="col-md-6">
                                        <a href="#" class="btns purplebg text-white curvedbtns text-center">Save</a>
                                    </div>

                                    <div class="col-md-6">
                                        <a href="#" class="btns btnGray text-white curvedbtns text-center"  data-step="prev">canel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>



    </div>


</div>

