.inv-header { position:relative; display:block; width:942px; height:380px; }
.inv-header-left { position:absolute; padding:85px 0 0 0; }
.inv-header-right { position:absolute; right:0px; z-index:10; }

.inv-guide { text-align:center; }
.inv-guide img { text-align:center; }

.inv-content { z-index:-1; margin-top:-40px; }
.inv-content .inv-content-title { }
.inv-content .inv-content-title .inv-discover { padding:10px 0 0 10px; font-family:"Conv_STC-Bold"; color:#501f6e; font-size:24px; float:left; }
.inv-content .inv-content-title .inv-play { background:url() no-repeat right; display:block; width:300px; height:100px; float:right; margin:10px 20px 0 0; }
.inv-content .inv-content-title .inv-play div { padding:40px 0 0 0; color:#501f6e; font-size:14px; font-weight:bold; }
.inv-content .inv-cards .inv-card { display:block; width:297px; float:left; padding:0 0 0 10px; }
.inv-content .inv-cards .inv-card .inv-card-title { padding:0 0 0 0; text-align:center; }
.inv-content .inv-cards .inv-card .inv-card-title a { font-family:"Conv_STC-Bold"; color:#501f6e; text-decoration:none; }
.inv-content .inv-cards .inv-card .curved-content-cont { min-height:310px; }
.inv-content .inv-cards .inv-card-1 { background:url(/wps/wcm/connect/english/css/resources/1/2/1212aa50-a47c-460d-bea2-3803c9856076/slide-1.png) no-repeat; }
.inv-content .inv-cards .inv-card-2 { background:url(/wps/wcm/connect/english/css/resources/a/c/ac44e1e0-d5e4-4e31-a4f3-04c04f67f6fe/slide-2.png) no-repeat; }
.inv-content .inv-cards .inv-card-3 { background:url(/wps/wcm/connect/english/css/resources/6/a/6a7f664f-b64d-408d-9fa3-73c71ef4860d/slide-3.png) no-repeat; }

.inv-remote {}
.inv-remote-canvas { display:block; width:700px; margin:0 auto; }

.inv-page {}
.inv-page .inv-title { font-family:"Conv_STC-Bold"; color:#501f6e; font-size:24px; }
.inv-page .offers { padding:30px 0 0 0; }
.inv-page .offers .offer-title { font-family:"Conv_STC-Bold"; color:#501f6e; font-size:24px; border-bottom:solid 1px #cccccc; }
.inv-page .offers .offer-cards { }
.inv-page .offers .offer-cards .offer-card { display:block; width:320px; height:96px; float:left; margin:5px; border-bottom:solid 1px #cccccc; }
.inv-page .offers .offer-cards .offer-card .card-title { font-weight:bold; font-size:14px; padding:8px 0 0 60px; color:#501f6e; }
.inv-page .offers .offer-cards .offer-card .card-text { font-size:11px; padding:10px 0 0 60px; }
.inv-page .offers .offer-cards .offer-card1 { background:url(/wps/wcm/connect/english/css/resources/8/f/8f10f202-772f-4fc6-848f-fd653807d438/offer-card-1.png) no-repeat left 5px; }
.inv-page .offers .offer-cards .offer-card2 { background:url(/wps/wcm/connect/english/css/resources/f/7/f7a5e489-8b79-487d-b977-bf91a9710704/offer-card-2.png) no-repeat left 5px; }
.inv-page .offers .offer-cards .offer-card3 { background:url(/wps/wcm/connect/english/css/resources/c/2/c2ee29bb-fa07-436a-8c43-c261ebd88c9b/offer-card-3.png) no-repeat left 5px; }
.inv-page .offers .offer-cards .offer-card4 { background:url(/wps/wcm/connect/english/css/resources/e/9/e9724d6f-8c8a-4b8a-b647-ef970fe548a7/offer-card-4.png) no-repeat left 5px; }
.inv-page .features { padding:30px 0 0 0; }
.inv-page .features .feature-title { font-family:"Conv_STC-Bold"; color:#501f6e; font-size:24px; }
.inv-page .features .feature-cards { }
.inv-page .features .feature-cards .feature-card { display:block; width:180px; height:250px; float:left; margin:10px 20px 10px 20px; }
.inv-page .features .feature-cards .feature-card .card-title { padding:160px 0 0 0; text-align:center; font-size:14px; font-weight:bold; color:#501f6e; }
.inv-page .features .feature-cards .feature-card .card-text { padding:10px 0 0 0; text-align:center; font-size:11px; }
.inv-page .features .feature-cards .feature-card1 { background:url(/wps/wcm/connect/english/css/resources/8/f/8f8cb076-74e0-4070-902a-b1d39d1b0481/feature-card-1.png) no-repeat center top; }
.inv-page .features .feature-cards .feature-card2 { background:url(/wps/wcm/connect/english/css/resources/c/9/c9e1e18e-667c-442a-a31f-f72cc5b9a188/feature-card-2.png) no-repeat center top; }
.inv-page .features .feature-cards .feature-card3 { background:url(/wps/wcm/connect/english/css/resources/4/9/499132e2-c7cf-436e-a2df-e4473bc0d405/feature-card-3.png) no-repeat center top; }
.inv-page .features .feature-cards .feature-card4 { background:url(/wps/wcm/connect/english/css/resources/7/0/7049d496-aa37-4ccd-ba21-c83550c32f03/feature-card-4.png) no-repeat center top; }
.inv-page .features .feature-cards .feature-card5 { background:url(/wps/wcm/connect/english/css/resources/1/0/102fe2b9-a927-4039-a1a2-2946d24f640d/feature-card-5.png) no-repeat center top; }
.inv-page .features .feature-cards .feature-card6 { background:url(/wps/wcm/connect/english/css/resources/6/7/671a54c1-110a-44e0-a3f5-392804d624b0/feature-card-6.png) no-repeat center top; }
.inv-page .features .feature-cards .feature-card7 { background:url(/wps/wcm/connect/english/css/resources/2/2/22912556-26f4-40b5-92a7-b37a8dee0008/feature-card-7.png) no-repeat center top; }

.inv-packages {}
.inv-packages .inv-title { font-family:"Conv_STC-Bold"; color:#501f6e; font-size:24px; border-bottom:solid 1px #cccccc; }
.inv-packages .package { border-bottom:solid 1px #cccccc; }
.inv-packages .package .package-title-header { padding:15px 0 0 0; }
.inv-packages .package .package-title-header .package-logo { float:left; }
.inv-packages .package .package-title-header .package-title { float:left; padding:5px 15px 0 15px; font-family:"Conv_STC-Bold"; font-size:24px; }
.inv-packages .package .package-title-header .package-title span { color:#b6b6b6; }
.inv-packages .package-basic .package-title-header .package-title { color:#83476f; }
.inv-packages .package-naqa .package-title-header .package-title { color:#f3b119; }
.inv-packages .package-osn .package-title-header .package-title { color:#e1491a; }
.inv-packages .package-other .package-title-header .package-title { color:#7808f2; border-bottom:0px; }
.inv-packages .package .package-title-header .package-price { float:left; }
.inv-packages .package .package-content { padding:20px 0 0 0; }
.inv-packages .package .package-content .package-text { float:left; display:block; width:220px; font-size:12px; }
.inv-packages .package .package-content .package-text span { color:#501f6e; font-weight:bold; }
.inv-packages .package .package-content .package-text .help { color:#e30079; font-size:11px; }
.inv-packages .package .package-content .package-channels { float:right; }

.inv-myinvision {}
.inv-myinvision .inv-title { font-family:"Conv_STC-Bold"; color:#501f6e; font-size:24px; }
.inv-myinvision .inv-subtitle { color:#501f6e; font-size:14px; font-weight:bold; }
.inv-myinvision .howto-cards { padding:5px 0 0 0; }
.inv-myinvision .howto-cards .howto-card { display:block; float:left; margin:0px 10px 0 0; }

.inv-guide a {
background-image: none !important;
padding: 0 0!important;
border: none !important;

}

.package.package-other{
border-bottom:0px;
}