@import url("https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css");
@font-face {
    font-family: 'Conv_STC-Bold';
    src: url("fonts/STC-Bold.eot");
    /* for non-IE */
    src: local("?"), url("fonts/STC-Bold.woff") format("woff"), url("fonts/STC-Bold.ttf") format("truetype"), url("fonts/STC-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Italic';
    src: url("fonts/STC-Italic.eot");
    src: local("?"), url("fonts/STC-Italic.woff") format("woff"), url("fonts/STC-Italic.ttf") format("truetype"), url("fonts/STC-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Light';
    src: url("fonts/STC-Light.eot");
    src: local("?"), url("fonts/STC-Light.woff") format("woff"), url("fonts/STC-Light.ttf") format("truetype"), url("fonts/STC-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_STC-Regular';
    src: url("fonts/STC-Regular.eot");
    src: local("?"), url("fonts/STC-Regular.woff") format("woff"), url("fonts/STC-Regular.ttf") format("truetype"), url("fonts/STC-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

body{font-family: "Conv_STC-Regular",arial, sans-serif !important}
a{font-family: "Conv_STC-Regular",arial, sans-serif !important}
.container{width:980px;margin:0 auto;display: table;border-collapse: separate;border-spacing: 10px;}
.announcement_container, .main_container {display:table-cell;background:#fff;padding:10px;vertical-align:top;}
.announcement_container{width:30%;}
.main_container {width:70%;position:relative;}
.transparent_bg{background:transparent;padding:0;}
.dashboard_row{height:110px;margin-bottom:15px;transition: height ease 300ms;}
.dashboard_items{display: inline-block;width: 31%;margin: 0 5px 15px;vertical-align: top;height: 110px;}
.dashboard_items .dashboard_icon {display: block;background: #f2f2f2;padding:10px;height: 90px;box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.5);transition:all ease 300ms;cursor: pointer;text-align: center;text-decoration: none;}
.dashboard_items .dashboard_icon i{display: block;font-size: 45px;color:#8d569a;}
.dashboard_items .dashboard_icon span{display: block;text-align: center;font-size: 17px;color: #712c81;margin: 5px 0;font-family: 'stc-light',arial,sans-serif;}
.dashboard_items .dashboard_icon:hover{background:#e3d5e6;}
.dashboard_items.active .dashboard_icon{background:#712c81;}
.dashboard_items.active .dashboard_icon i , .dashboard_items.active .dashboard_icon span {color:#fff;}

.dashboard_sub {background: #f2f2f2;position: absolute;width: 95%;margin-top: 12px;display: none;left: 15px;}
.dashboard_sub ul{
    padding: 10px;
    margin: 10px;
    list-style: none;
    position: relative;
}
.dashboard_sub ul li{
    display: inline-block;
    width: 24.3%;
    position: relative;
    vertical-align: top;
}
.dashboard_sub ul li a{
    display: block;
    height: 100%;
    background: transparent;
    padding: 10px;
    margin: 0 5px 15px;
    color:#e16595;
    min-height: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border: solid 1px #8D569A;
    box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.5);
    transition: all ease 300ms;
    border-radius: 4px;
}
.dashboard_sub ul li a:hover{background: #fceed4;}
.dashboard_sub ul li a i{
    display: block;
    color: #712C81;
    font-size: 35px;
    margin-bottom: 5px;
}
.iconBlock img{display:none !important; }
.iconBlock a.xh7:before{
    content:'';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #501F6C;
    font-size: 48px;
    display: block;
    margin-bottom: 5px;
}
table.x1a td:nth-of-type(2) .iconBlock a.xh7:before{content:'\f0b1'}
table.x1a td:nth-of-type(3) .iconBlock a.xh7:before{content:'\f12e'}
table.x1a td:nth-of-type(4) .iconBlock  a.xh7:before{content:'\f0c0'}
table.x1a td:nth-of-type(5) .iconBlock  a.xh7:before{content:'\f007'}
.iconBlock:nth-of-type(5) a.xh7:before{content:'\f0e4'}
.iconBlock:nth-of-type(6) a.xh7:before{content:'\f085'}
.iconBlock:nth-of-type(7) a.xh7:before{content:'\f0e8'}


.iconBlock:hover{background:#712c81 !important; }
.iconBlock:hover a, .iconBlock:hover a.xh7:before{color:#fff !important;}
.subIconBlock{margin: 11px 0 0 20px;width: 80%;position: relative;}

