/* New STC brand fonts */
@font-face {
    font-family: 'stc-thin';
    src: url('fonts/stc/STCForward-Thin.eot');
    src: local('☺'), url('fonts/stc/STCForward-Thin.woff') format('woff'), url('fonts/stc/STCForward-Thin.ttf') format('truetype'), url('fonts/stc/STCForward-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-light';
    src: url('fonts/stc/STCForward-Light.eot');
    src: local('☺'), url('fonts/stc/STCForward-Light.woff') format('woff'), url('fonts/stc/STCForward-Light.ttf') format('truetype'), url('fonts/stc/STCForward-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-regular';
    src: url('fonts/stc/STCForward-Regular.eot');
    src: local('☺'), url('fonts/stc/STCForward-Regular.woff') format('woff'), url('fonts/stc/STCForward-Regular.ttf') format('truetype'), url('fonts/stc/STCForward-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-medium';
    src: url('fonts/stc/STCForward-Medium.eot');
    src: local('☺'), url('fonts/stc/STCForward-Medium.woff') format('woff'), url('fonts/stc/STCForward-Medium.ttf') format('truetype'), url('fonts/stc/STCForward-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-bold';
    src: url('fonts/stc/STCForward-Bold.eot');
    src: local('☺'), url('fonts/stc/STCForward-Bold.woff') format('woff'), url('fonts/stc/STCForward-Bold.ttf') format('truetype'), url('fonts/stc/STCForward-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-extra-bold';
    src: url('fonts/stc/STCForward-ExtraBold.eot');
    src: local('☺'), url('fonts/stc/STCForward-ExtraBold.woff') format('woff'), url('fonts/stc/STCForward-ExtraBold.ttf') format('truetype'), url('fonts/stc/STCForward-ExtraBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-icons';
    src:  url('fonts/icons/stc-icons.eot?naie7h');
    src:  url('fonts/icons/stc-icons.eot?naie7h#iefix') format('embedded-opentype'),
    url('fonts/icons/stc-icons.ttf?naie7h') format('truetype'),
    url('fonts/icons/stc-icons.woff?naie7h') format('woff'),
    url('fonts/icons/stc-icons.svg?naie7h#stc-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*import of stc icons font*/
@import "stc-icons.css";
