#footer {
    height: 219px;
    background-color: var(--grayBG);
    padding: 18px 0;
}
.t_footer,
.b_footer {
    padding: 27px 0;
    display: table;
    width:100%;
    display: flex;
    align-items: center;
}
.b_footer {
    border-top:1px var(--lightGray) solid
}
.app_store {
    float: left;
    margin: 0 -10px;
    flex:1;
}
.app_store a {
    display: block;
    width: 150px;
    padding: 0 10px;
    float: left;
    line-height: 9px;
}
.socialmedia {
    float: right;
    margin: 0 -8px;
}
.socialmedia ul {
    display: flex;
}
.socialmedia ul li {
    display: inline-block;
    padding: 0 8px;
}
.socialmedia ul li a {
    background-color: var(--purple);
    border-radius: var(--circle);
    width:38px;
    height: 38px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 38px;
    transition: all .5s;
    color:#fff;
}
.socialmedia ul li a i {
    line-height: 38px;
}
.socialmedia ul li a:hover {
    background-color: #fff;
    color:var(--purple);
    transition: all .5s;
}
.copyrights {
    flex:1;
    font-size: 1.2rem;
}
.copyrights span {
    display: block;
    margin-right: 15px;
    line-height: 9px;
    float: left;
}
.copyrights label {
    line-height: 38px;
}
.quicklinks a {
    display: inline-block;
    padding: 0 15px;
    color: var(--purple);
    font-size: 1.2rem;
}
.quicklinks a:first-child {
    border-right:1px var(--purple) solid;
}