@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('variables.css');
@import url('header.css');
@import url('footer.css');
@import url('form_controls.css');

@font-face {
    font-family: 'stc-bold';
    src: url("fonts/main/STC-Bold.eot");
    /* for non-IE */
    src: local("?"), url("fonts/main/STC-Bold.woff") format("woff"), url("fonts/main/STC-Bold.ttf") format("truetype"), url("fonts/main/STC-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-italic';
    src: url("fonts/main/STC-Italic.eot");
    src: local("?"), url("fonts/main/STC-Italic.woff") format("woff"), url("fonts/main/STC-Italic.ttf") format("truetype"), url("fonts/main/STC-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-light';
    src: url("fonts/main/STC-Light.eot");
    src: local("?"), url("fonts/main/STC-Light.woff") format("woff"), url("fonts/main/STC-Light.ttf") format("truetype"), url("fonts/main/STC-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-regular';
    src: url("fonts/main/STC-Regular.eot");
    src: local("?"), url("fonts/main/STC-Regular.woff") format("woff"), url("fonts/main/STC-Regular.ttf") format("truetype"), url("fonts/main/STC-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.f__left {
    float: left;
}

.f__right {
    float: right;
}
button {
    outline: none !important;
}
@font-face {
    font-family: 'Geeza Pro';
    src: url('fonts/text/Geeza Pro.eot');
    src: local('☺'), url('fonts/text/Geeza Pro.woff') format('woff'), url('fonts/text/Geeza Pro.ttf') format('truetype'), url('fonts/text/Geeza Pro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
    max-width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a, input, button select, textarea {
    outline: none !important;
}

li {
    display: inline-block;
    list-style: none;
}

tr, th, td {
    vertical-align: middle;
}

a {
    text-decoration: none !important;
    color: var(--pink);
    transition: var(--transition);
}

a:hover {
    opacity: .8;
    color: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html, body {
    width: 100%;
    height: 100%;

}

body {
    background: #fff;
    font-family: var(--fontEn);
    -webkit-font-smoothing: antialiased;
    color: var(--purple);
    font-size: 1.6rem;
    line-height: normal;
}

main, .wrapper {
    padding: 30px 0 0;
    max-width: var(--containerWidth);
    margin: 0 auto;
}

.wrapper {
    padding: 0;
}

.row {
    margin: 0;
}

.widgetcontainer {
    margin-bottom: 30px;
}

.widgetcontent {
    height: 100%;
    padding: var(--defualtPadding);
    border-radius: var(--mainRadius);
    z-index: 99;
}

.widgetcontainer h1 + .widgetcontent {
    height: calc(100% - 50px)
}

.graybg {
    background: var(--grayBG);
}

.btnGray {
    background: var(--lightGray);
}

h1, h2, h3 {
    font-family: 'stc-regular';
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 3.5rem;
    color: var(--purple);
    margin: 0 0 15px;
    line-height: 1;
}

.widgettitle {
    font-size: 2rem;
    color: var(--purple);
    margin-bottom: 20px;
    line-height: 0.94;
    text-transform: capitalize;
}

.widgetmargins {
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

.seperatorbrdr {
    position: relative;
}

.seperatorbrdr:after {
    content: '';
    background: var(--purple);
    width: 1px;
    height: calc(100% - 80px);
    position: absolute;
    right: 0.75rem;
    opacity: 0.4;
    top: 25px;
    z-index: 111;
    max-height: 160px;
    display: block;
}

.seperatorbrdr.leftbrder:after {
    right: auto;
    left: -40px;
}

.circlechartscontainer.seperatorbrdr:after {
    right: -5px;
    height: calc(100% - 45px);
}

.freebiesusage .circlechartscontainer.seperatorbrdr:after {
    height: 100%;
    top: -9px;
}

.numberdisplay {
    margin-bottom: 24px;
    position: relative;
}

.numberdisplay h2 {
    color: var(--pink);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    text-align: center;
    justify-content: center;
}

.numberdisplay h2 .mainnumber {
    font-size: 5.6rem;
    margin-right: 5px;
    line-height: 1;
}

.numberdisplay h2 .secondnumber {
    font-size: 2.3rem;
    margin-top: -5px;
}

.numberdisplay h2 .secondnumber i {
    display: block;
    line-height: 0.95;
}

.widgetcontent h4 {
    text-align: center;
    color: var(--gray);
    font-size: 1.4rem;
    line-height: 0.95;
}

.widgetbtns {
    margin-top: 2.4rem;
}

.btns {
    font-size: 1.1rem;
    padding: 10px;
    text-transform: uppercase;
    line-height: 1;
    margin: 5px 3px;
    display: inline-block;
    transition: var(--transition);
    position: relative;
    border: solid 1px transparent;
    outline: 0 !important;
    min-width: 80px;
}

.btns:hover {
    box-shadow: inset 0 0 35px 0 rgba(0, 0, 0, 0.3);
}

.btns:disabled {
    background: var(--darkGray)
}
.btns:disabled:hover {
    box-shadow:none;
}
.bordered{
    border:solid 1px #d6d6d6;
}

.purplebg {
    background: var(--purple);
}

.pinkbg {
    background: var(--pink);
}


p {
    font-size: 1.3rem;
    padding: 0 0 10px;
}

h6 {
    font-size: 1.2rem;
    color: var(--gray);
    margin: 10px 0;
}

h3 {
    font-size: 1.8rem;
    margin: 15px 0 10px;
    line-height: 1;
}

.black_text {
    color: #000;
}

.purple_text {
    color: var(--purple)
}

.pink_text {
    color: var(--pink)
}

.gray_text {
    color: var(--gray)
}
.blackGray_text{
    color:var(--blackGray);
}

.curvedbtns {
    border-radius: var(--curved);
}

.borderedbtns {
    color: var(--purple);
    padding: 10px 5px;
    text-transform: capitalize;
    text-decoration: underline !important;
    font-size: 1.2rem;
    width: auto !important;
    display: inline-flex;
    line-height: 1 !important;
}

.borderedbtns:before {
    content: '';
    position: absolute;
    width: 2px;
    background: var(--purple);
    height: 50%;
    left: -1px;
    top: 8px;
}

.borderedbtns:hover {

    color: var(--purple);
    box-shadow: none;
}

.reset_btn {
    background: #fff;
    border: solid 1px var(--gray);
    color: var(--gray);
    border-radius: var(--curved);
}

.addnewbtn {
    width: 140px;
    height: 140px;
    display: flex;
    color: var(--purple);
    font-size: 5.8rem !important;
    border: dashed 2px var(--lightGray);
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
    max-width: 140px;
}

.addnewbtn i {
    font-weight: bold;
}

.addnewbtn:hover{

    color: var(--purple);
    box-shadow: none;
    border-color: var(--purple);
}

.packagesimg {
    max-width: 110px;
    max-height: 125px;
    margin: 0 auto;
}

.packagesmargin {
    margin-bottom: 68px;
}

.circlechartscontainer {
    /*max-width: 170px;*/
    /*margin: 0 auto;*/
    /*position: relative;*/
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

.dounghtchart {
    width: 140px;
    height: 140px;
    margin: 0px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dounghtchart.freebies {
    width: 80px;
    height: 80px;
}

.dounghtchart:before {
    content: '';
    position: absolute;
    width: 93%;
    height: 93%;
    display: block;
    background: transparent;
    border: dashed 1px var(--purple);
    border-radius: 50%;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 150ms;
    z-index: 0;
}

.dounghtchart.freebies:before {
    border-color: var(--pink);
}

.chartvalues {
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100%);
    padding: 20px 10px;
    margin-top: 12px;
}

.freebies .chartvalues {
    margin-top: 2px
}

.chartvalues h2 {
    align-items: baseline;
}

.chartvalues h2 .mainnumber {
    font-size: 3rem;
    text-transform: lowercase;
}

.chartvalues h2 .secondnumber {
    font-size: 2rem;
}

.chartvalues h4 {
    font-size: 1.3rem;
    max-width: 90%;
    margin-top: 0px;
    padding: 0 5px;
}

.freebiesusage h4 {
    font-size: 1.3rem;
    margin-top: -5px;
    margin-bottom: 30px;
}

.dounghtchart.freebies .chartvalues h2 .mainnumber {
    font-size: 2.3rem;
}

.dounghtchart.freebies .chartvalues h2 .secondnumber {
    font-size: 1.8rem;
}

.barcharts {
    width: 100% !important;
}

/* Tabs classes */
.tabscontainer {
}

.tabscontainer .nav-tabs {
    border: none;
    /* justify-content: center; */
    /* align-items: center; */
}

.tabscontainer .nav-tabs li {
    position: relative;
}

.tabscontainer .nav-tabs li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--purple);
    border: none;
    border-radius: 0;
    padding: 0.5rem 2rem 0px 0;
    font-family: 'stc-regular';
}

.tabscontainer .nav-tabs li:last-child a {
    padding-right: 0;
}

.tabscontainer .nav-tabs li a.active {
    background: transparent;
    border: none;
    color: inherit;
}

.tabscontainer .nav-tabs li a:before {
    content: '';
    position: absolute;
    width: calc(100% - 2rem);
    height: 0px;
    background: var(--purple);
    left: 0;
    bottom: -1px;
    transition: var(--transition);
}

.tabscontainer .nav-tabs li:last-child a:before {
    width: 100%
}

.tabscontainer .nav-tabs li a:hover:before, .tabscontainer .nav-tabs li a.active:before {

    height: 4px;
}

.tabscontainer .tab-content {
    padding: 3rem 0 1rem;
}

.tabscontainer .tab-content .tab-pane {
}

.nav_list.qitaf {
    margin-top: 45px;
}

.nav_list a {
    text-transform: uppercase;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0;
    text-decoration: none !important;
}

.nav_list a:before {
    display: none
}

.nav_list a i {
    font-size: 3.5rem;
    margin-right: 5px;
}

.qitaf_tiers {
    background: transparent no-repeat center center;
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff !important;
    width: 100%;
    height: 175px;
    margin: 30px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: 100%;
    flex: 0 0 100%;
    max-width: 266px;
    padding-top: 50px;
    border-radius: 12px;
    font-family: 'stc-regular';
    position: relative;
    flex-wrap: wrap;
}
.qitaf_tiers .qitaf_expire{
    display: block;
    font-size: 1.3rem;
    flex: 1 1 100%;
    text-align: center;
    margin-top: -40px;
    font-family: inherit;
}

.qitaf_tiers .hint {
    flex: 1;
    display: block;
    position: absolute;
    bottom: 5px;
    font-size: 1.1rem;
    font-weight: normal;
    left: 12px;
    font-family: var(--fontEn);
}

.qitaf_tiers.gold {
    background-image: url('../imgs/qitaf/gold.jpg');
}

.qitaf_tiers.classic {
    background-image: url('../imgs/qitaf/classic.jpg');
}

.qitaf_tiers.platinum {
    background-image: url('../imgs/qitaf/platinum.jpg');
}

.qitaf_tiers.diamond {
    background-image: url('../imgs/qitaf/diamond.jpg');
}

.no-padding {
    padding: 0 !important;
}

/** widget panel **/

#panel {
    position: fixed;
    width: 460px;
    top: 0;
    right: 0;
    height: 100vh;
    background: #fff;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: -7px 0 67px -14px rgba(0, 0, 0, 0.1);
    z-index: 9991;
    transform: translateX(100%);
}

#panel .btnWrap {
    margin: 0 -3px;
    display: flex;
    flex-flow: wrap;
    flex:1;
}

#panel .btnWrap .col-md-6,
#panel .btnWrap .col-md-12 {
    padding: 0 3px !important;

}
#panel .step a.btns.addnewbtn {
    margin: 0 auto !important;
}
#panel .btns {
    width: 100%;
    margin: 0 !important;
    padding: 10px 0;
    line-height: 1;
}

.open_widgets #panel {
    transform: translateX(0%)
}

#widgetspanel {
    padding: 30px;
}

#widgetspanel .panel_container {
    /* display: flex;
    flex-flow: wrap; */
    margin: 0 -10px;
    overflow: auto;
    height: calc(100vh - 120px);
}

#widgetspanel .panel_container .scroll {
    /* display: flex; */
    /* flex-flow: wrap; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    align-content: flex-start;
}

#widgetspanel .panel_container .item {
    /* flex:0 0 50%; */
    padding: 0 10px;
    margin-bottom: 20px;
    min-height: 210px;
    /* display: flex; */
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
}

#widgetspanel .panel_container .item .widgetcontent {
    width: 100%;
    /* min-height: 115px; */
    position: relative;
    cursor: pointer;
    padding-bottom: 25px;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

#widgetspanel .panel_container .item .widgetcontent .widgettitle {
    margin-bottom: 10px;
    height: 65px;
}

#widgetspanel .panel_container .item .widgetcontent .widgettitle h3 {
    margin-bottom: 0;
}

#widgetspanel .panel_container .item .widgetcontent .widgettitle h4 {
    margin-top: 5px;
}

#widgetspanel .panel_container .item:not(.addwidget) .widgetcontent {
    overflow: hidden;
}

#widgetspanel .panel_container .item:not(.addwidget) .widgetcontent::before {
    content: '';
    position: absolute;
    background: var(--purple);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 210ms ease;
    z-index: 999991;
}

#widgetspanel .panel_container .item:not(.addwidget) .widgetcontent::after {
    font-family: 'mystc3' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f014";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 41px;
    z-index: 999991;
    opacity: 0;
    visibility: hidden;
    transition: all 210ms ease;
}

@media (min-width:992px) {
    #widgetspanel .panel_container .item .widgetcontent:hover::before,
    #widgetspanel .panel_container .item .widgetcontent:hover::after {
        opacity: 0.9;
        visibility: visible;
    }
}
#widgetspanel .numberdisplay {
    padding: 24px 0 0;
}
.addwidget .widgetcontent {
    z-index: 999;
}

#panel .chartvalues.numberdisplay {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.widgetcontent .row {
    margin: 0 0 10px !important;
}

#panel .form-input {
    width: 100%;
    margin-bottom: 0 !important;
}

#panel .bootstrap-select > .dropdown-toggle, .form-input input {
    min-height: 35px;
}




.widgetcontent .row .filter-option-inner-inner {
    font-size: 14px !important;
}

#panel .dropdown-menu.show {
    min-width: 100%;
}

#panel .paneltitle {
    border-bottom: 1px var(--lightGray) solid;
    margin: 0 0 30px;
    position: relative;
    padding: 0 0 10px;
}

#panel .paneltitle h1 {
    font-size: 21px;
    font-weight: bold;
}

#panel .paneltitle i {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.wow {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.wow {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


/* Budget Control custom bootstrap select */
.bc_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.bc_item span {
    color: var(--purple);
    text-rendering: geometricPrecision;
    transition: var(--transition)
}

.bc_item .bc_price_block {
    width: 30%;
    background: var(--purple);
    color: #fff;
    height: 100%;
    display: flex;
    border-radius: 4px;
    font-size: 1.3rem;
    white-space: pre-wrap;
    text-align: center;
    padding: 5px;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    transition: var(--transition);
}

.bc_item small {
    color: var(--darkGray);
    transition: var(--transition);
}

.col-lg-hidden, .hidden {
    display: none;
}

.widgetcontainer h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    text-transform: uppercase;
}

.action-sheet-btn {
    position: relative;
    margin-left: 8px;
    right: 0;
}

.action-sheet-btn .action_btn {
    color: var(--darkGray);
    font-size: 2.4rem;
    width: 36px;
    height: 36px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.action-sheet-btn .dropdown-menu {
    border-radius: var(--mainRadius);
    border-color: var(--lightGray);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 47px;
    left: auto !important;
    transition: all 300ms ease-in;
    transform: translate(0px, 10px) !important;
    min-width: 50vw;
    right: 0;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.action-sheet-btn.show .action_btn {
    background: var(--grayBG);
    color: var(
            --gray);
}

.action-sheet-btn .dropdown-menu.show {
    opacity: 1;
    transform: translate(0px, 0px) !important;
    visibility: visible;
}

.action-sheet-btn .dropdown-menu .dropdown-item {
    font-size: 1.4rem;
    margin: 0;
    color: var(--blackGray);
    text-decoration: none !important;
    display: block;
    text-transform: inherit;
    padding: 5px 20px;
    background: transparent;
    font-family: var(--fontEn);
}

.action-sheet-btn .dropdown-menu .dropdown-item:hover {

    background: var(--grayBG);
    box-shadow: none;
}

.action-sheet-btn .dropdown-menu .dropdown-header {
    font-size: 1.3rem;
    font-family: var(--fontEn);
    margin-top: 20px;
}

.same_height {
    height: 100%;
    position: relative;

}


.bottom_position {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.chart_legend {
    background: transparent;
    /* border: solid 1px var(--lightGray); */
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px;
}

.chart_legend ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.chart_legend ul li {
    padding: 0 5px;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.chart_legend ul li span {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
    vertical-align: sub;
    border-radius: 2px;
}

.clr {
    clear: both;
}

/* Modal classes */
.modal {
    max-width: calc(100% - 14px);
    margin: 0 auto;
    top: 60px;
    width: 560px;
}

.modal .modal-content {
    border: none;
    background: transparent;
}

.modal .modal-content .modal-header {
    background: var(--purple);
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'stc-regular';
    font-size: 2rem;
}

.modal .modal-content .modal-header .close {
    color: #fff;
    outline: none;
    opacity: 1;
    text-shadow: none;
    font-family: var(--fontEn);
    font-size: 2rem;
}
.modal-lg {
    max-width:733px !important;
}
.modal h6 {
    font-size: 1.6rem;
    color: var(--blackGray);
    font-family: 'stc-regular';
}
.modal h6.text-center {
    color: var(--purple);
}
.modal h6.text-center span {
    color: var(--gray);
}
.modal .circlechartscontainer.seperatorbrdr:after {
    display: none;
}
.modal .numberdisplay h2 .mainnumber {
    font-size: 2.7rem;
}
.usageModal {
    width:733px;
}

.modal .modal-content .modal-body {
    padding: 1.6rem;
    background: #fff;
    overflow: auto;
    overflow-x: hidden;
    max-height: 650px;
    border-radius: 0 0 10px 10px;
    padding-bottom: 71px;
}
.modal .modal-content .modal-body > .row {
    margin-top:30px;
}
.modal .modal-content .modal-body > .row:first-of-type {
    margin-top:0px;
}
.modal .modal-content .modal-footer, .modal .modal-content .modal-body .popup_btns {
    background: #f9f7f7;
    border-radius: 0 0 10px 10px;
    border-color: var(--lightGray);
}
.modal .modal-content .modal-body .popup_btns{
    width: calc(100%);
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: fixed;
    left: 0;
    border-top: solid 3px var(--lightGray);
    background: rgb(253, 253, 253);
}
.modal .modal-content .modal-footer .btns, .modal .modal-content .modal-body .popup_btns .btns {
    width: auto !important;
    min-width: 90px;
}

.width_60 {
    width: 60%;
}

h4 {
    font-size: 1.6rem;
    margin: 10px 0;
}

.list_view {
    margin-bottom: 20px;
}

.list_view ul li {
    margin-bottom: 15px;
    border-bottom: solid 1px var(--light);
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    align-items: center;
}

.list_view .list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list_view .list_item .list_icon {
    max-width: 64px;
    flex: 1;
    margin-right: 20px;
}

.list_view .list_item .list_icon img {
    max-width: 100%;
}

.list_view .list_item .list_lables {
    flex: 1;
}

.list_view .list_item .list_title {
    display: block;
    font-family: 'stc-regular';
    font-size: 1.8rem;
    margin-bottom: 2px;
    line-height: 1;
}

.list_view .list_item .list_descripion {
    display: block;
    font-size: 1.2rem;
    color: var(--gray);
}

.list_view .list_item .list_descripion i {
    margin-left: 10px;
}

.add_card {
    display: inline-block;
    margin-left: 35px;
    font-family: 'stc-regular';
    font-size: 2rem;
    line-height: 1;
}

.add_card i {
    margin-right: 15px;
}

.payment_methods {
    margin: 20px auto;
    max-width: 100%;
}

.payment_methods .col {
    padding: 0 7px;
}

.payment_methods input[type='radio'] + label:before, .payment_methods input[type='radio'] + label:after {
    display: none
}

.payment_methods input[type='radio'] + label {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 0 0 1px var(--lightGray);
    transition: 0.3s cubic-bezier(0, .89, .44, 1);
    cursor: pointer;
    display: block;
}
.payment_methods input[type='radio'] + label:hover {
    box-shadow: inset 0 0 0 1px var(--hoverColor);
}

.payment_methods input[type='radio'] + label img {
    max-width: 80%;
}

.payment_methods input[type='radio'] + label span {
    font-size: 1.3rem;
    color: var(--gray);
    font-family: 'stc-regular';
    text-rendering: optimizeLegibility;
}

.payment_methods input[type='radio']:checked + label {
    box-shadow: inset 0 0 0 2px var(--pink);
}

.card_details {
    margin: 20px 0;
}

.card_details .col {
    margin-bottom: 20px
}

.tabs_top_margin {
    margin-top: 32px;
}

.no-margin {
    margin: 0
}

.amount_display {
    font-size: 2rem;
    font-family: 'stc-regular';
}

.circle_icons {
    width: 90px;
    height: 90px;
    display: inline-flex;
    background: var(--purple);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 20px;
}

.payment_btns_flaoted {
}

.floated_btns_space {
}

.details_btns {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0;
    z-index: 999;
}
.charts_title{
    font-size:1.5rem;
    text-transform: uppercase;
    margin: 15px 20px 20px;
    width: 100%;
}

.piechartsholder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top:30px;
}
.piechartsholder .chart_legend {
    flex:1;
}
.piechartsholder .chart_legend ul li{flex:0 0 100%}

.bill_details .bill_date{
    font-size: 1.8rem;
    color: #585858;
    text-align: right;
    margin-right: 60px;
}
.accordion_parent{
    margin-top: 33px;
}
.accordion_item{
    margin-bottom: 1px;
}
.accordion_header{
    background: var(--grayBG);
    padding: 8px 15px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'stc-regular';
}
.accordion_header .feature {
    flex: 1;
}
.amount_section{margin-top:20px;}
.accordion_header[data-toggle="collapse"]:after{font-family: 'mystc3' !important;font-size: 2.5rem;transition: var(--transition);margin-left: 15px;width: 15px; content: '\f0d9';}
.accordion_header[aria-expanded="true"]:after{
    content: '\f0d7';
}
.accordion_header[aria-expanded="false"]:after{
    content: '\f0d9';
}

.accordion_body{
    padding: 8px 30px;
    color: #868686;
    font-size: 1.6rem;
}

body .bill_details.owl-loaded.owl-carousel .owl-nav {
    top: -15px;
}
body .owl-loaded.owl-carousel .owl-nav {
    position: absolute;
    top: -45px;
    right: 0;
    background: #fff;
    margin: 0;
}
body .owl-loaded.owl-carousel .owl-nav button {
    font-size: 5rem;
    color: var(--pink);
    outline: none !important;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
body .owl-loaded.owl-carousel .owl-nav button:hover {
    background:transparent;
    color:var(--pink)
}
.push_inside_title{
    position: absolute;
    top: 10px;
}
.bold{font-weight:bold;}
.stripe_list li{
    display: block;
    padding: 12px;
    background: #fff;
}
.stripe_list li:nth-of-type(even){
    background: #fbfbfb;
}

.bill_details_ul{
    margin: -8px -30px;
}
.bill_details_ul li{
    font-family: 'stc-regular';
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    align-items: center;
}
.bill_details_ul li .price{
    font-size: 1.3rem;
    color: #282828;
}


.Postpaid_Packages_list .package-item {
    border-radius: 4px;
    border: solid 2px #dddddd;
    text-align:  center;
    padding-top:  6px;
    margin: 15px 7px;
    transition: var(--transition);
    cursor:pointer;
}

.Postpaid_Packages_list .package-item img {
    width: 73px;
    display: inline-block;
}

#Postpaid_Packages {
    width:  766px;
}

.Postpaid_detils ul {
    margin-left:  30px;
    font-size: 15px;
}


.Postpaid_detils ul li {
    width: 100%;
}

.Postpaid_detils h3 {
    color: var(--blackGray);
}


.Postpaid_detils_table_ul feature {
    width: 80% !important;
}


.Postpaid_detils_table_ul li {
    width: 100%;
    padding:   10px 8px;
    display:  flex;
}

.Postpaid_detils
.accordion_body {
    padding:  0px;
}

.Postpaid_detils_table_ul li span {
    flex: 1;
}

.Postpaid_detils_table_ul {
    margin: 20px 0;
}



.Postpaid_Packages_list .package-item.current h6{
    color:  var(--pink);
}

.Postpaid_Packages_list .package-item:hover{
    border-color: var(--hoverColor);
}
.Postpaid_Packages_list .package-item.active {
    border-color: var(--pink);
}

.Postpaid_Packages_list .package-item.current .price_postpaid{
    display: none;
}

.subscribed_postpaid {
    display: none;
}

.Postpaid_Packages_list .package-item.current .subscribed_postpaid {
    display: block;
}
.table_icon i{
    font-size: 3rem;
    color: var(--purple);
    margin-right: 20px;
    vertical-align: middle;
}

.small_font {
    font-size: 1.4rem;
    font-family: 'stc-regular';
}

.drop_menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    box-shadow: -1px 10px 35px -4px rgba(0,0,0,0.1);
    z-index: 20;
    right: 0;
    max-width: 240px;
    border: solid 1px #f5f6f7;
    margin-top: 15px;
    transition: all 300ms ease-in;
    transform: translate(2px,  5px);
    opacity: 0;
    visibility: hidden;
}
.drop_menu:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #fff;
    top:-18px;
    right: 12px;
    margin-left: -18px;
    z-index: -1;
}
.drop_menu:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 21px solid #f5f6f7;
    top: -21px;
    right: 9px;
    margin-left: -21px;
    z-index: -2;
}

.open .drop_menu{
    transform: translate(0,  0);
    opacity: 1;
    visibility: visible;
}

table.display_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
}

table.display_table thead th {
    font-family: 'stc-regular';
    background: var(--grayBG);
    padding: 8px 15px;
    font-size: 1.6rem;
    color: var(--blackGray);
}
table.display_table tbody td {
    background: #fff;
    padding: 8px 15px;
    font-size: 1.4rem;
    color: var(--grayText);
}
table.display_table tbody tr:nth-of-type(even) td {
    background: #fbfcfb;
}
.page-link{
    line-height: 1;
    min-height: 32px;
}

/* internet packages */
.pitems {
    /* display: flex; */
    /* margin: 0 -11px; */
    padding: 20px 0;
}
.pitems .item {
    /* flex:1; */
    /* padding: 0 11px; */
    cursor: pointer;
    /* flex-basis: 20%;
    max-width: 20%; */
}
.pitems .item .package-item {
    border: 2px var(--lightGray) solid;
    border-radius: var(--mainRadius);
    padding: 10px;
    width:100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: var(--transition);
}
.pitems .item .package-item i {
    font-size: 40px;
}
.pitems .item .package-item h6 {
    font-size: 1.3rem;
    margin: 0;
}
.wizard h6 + p {
    font-weight: normal;
    font-size: 1.5rem;
}
.wizard h6 + p + b {
    margin-top: 14px;
    margin-bottom: 10px;
    display: block;
    color: var(--blackGray);
    font-size: 14px;
}
.pitems .item:hover .package-item {
    border-color:var(--hoverColor);
}
.pitems .item.selected .package-item {
    border-color: var(--pink) ;
}
.package_details td {
    background-color: var(--grayBG) !important;
    line-height: 24px;
    text-align: right;
}
.package_details td span {
    text-align: left;
    display: block;
}
.package_details tr:last-child td {
    background-color: var(--purple) !important
}
.wizard .btn-wrapper button:last-of-type {
    float: right
}
.step .confirm {
    padding-top: 40px;
    padding-bottom: 40px;
}
.step .confirm .circle_icons {
    margin-bottom: 0px;
}
.step .confirm i {
    font-size: 70px;
    color: var(--purple);
    text-align: center;
    display: inline-block;
}
.step .confirm h1 {
    font-size: 2.1rem;
    color:var(--blackGray);
}
header a:hover, .tabscontainer .nav-tabs li a:hover, a.curvedbtns:hover {opacity:1 }
a.pink_text:hover{color:var(--pink);}

.popover {
    z-index: 99991;
    padding: 5px 15px 15px;
    border-radius: 8px;
    box-shadow: 0 0 47px -14px rgba(0, 0, 0, 0.3);
    border:0;
}
.popover h3 {
    font-size: 21px;
    background-color: transparent;
    border-bottom: 0;
}
.popover .popover-body {font-size: 1.6rem;color: #3e3e3e;line-height: 2;}
.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::after, .bs-popover-bottom .arrow::before {
    border-width: 0 1rem 1rem 1rem;
}
.bs-popover-auto[x-placement^=bottom] .arrow, .bs-popover-bottom .arrow {
    top: calc((1rem + 1px) * -1);
}
.popover .arrow {
    width: 2rem;
    height: 1rem;
}
.bs-popover-auto[x-placement^=bottom], .bs-popover-bottom {
    margin-top: 1rem;
}
.bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::before {
    opacity: 0.1;
}
.form-input label{
    color:var(--blackGray);
    margin-bottom:5px;
    font-family: 'stc-regular';
    font-size: 1.6rem;
}

.no-scroll{
    overflow: visible !important;
}


