@media (max-width:1140px) {
    main,
    .wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width:1001px) {
    #header .mainheader .search {
        margin-right: 15px;
    }
}
@media (max-width: 992px){
    #header .mainheader {
        padding: 0;
        height: auto;
    }
    #header .subheader {
        height: 77px;
    }
    .col-sm-hidden{display:none;}
    .widgettitle{font-size:2rem;}
    .packagesmargin{margin-bottom:0;}
    .widgetmargins{
        margin: 15px 0;
    }
    .billing .widgetmargins{
        margin:  0;
    }
    .btns{width:100%}
    .form-input.inline-inputs {display:block;}
    .form-input.inline-inputs input{max-width:100%}
    div#footer {
        height: auto;
        padding: 0;
    }
    div#footer .col-lg-12 {
        display:flex;
        flex-flow: column;
    }
    div#footer .col-lg-12 .t_footer,
    div#footer .col-lg-12 .socialmedia,
    div#footer .col-lg-12 .socialmedia,
    div#footer .col-lg-12 .app_store {
        flex: 1;
    }

    .t_footer {
        flex-flow: column-reverse;
    }
    .quicklinks {
        padding: 15px 0;
    }
    .copyrights {
        flex: none;
        margin: 0 auto;
        display: inline-block;
        width: 85% !important;
        margin-bottom: 40px;
        font-size: 1.2rem;
    }
    header .nav {
        width: 100%;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.95);
        position: fixed;
        left:0;
        bottom: 0;
        border-top: 1px #dadbdd solid;
        z-index:9999;
    }
    header .nav ul {
        width:100%;
        text-align: center;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    header .nav ul li {
        position: relative;
        padding: 0 20px !important;
        width: 25%;
        max-height: 100%;
    }
    header .nav ul li a span {
        display:none;
    }
    header .nav ul li a:before {
        display:none;
    }
    header .nav ul li a:after {
        font-family: 'mystc3' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content:"\61";
        font-size: 3.2rem;
        line-height: 60px;
    }
    header .nav ul li:nth-child(2) a:after {
        content:'\62';
    }
    header .nav ul li:nth-child(3) a:after {
        content:'\63';
    }
    header .nav ul li:nth-child(4) a:after {
        content:'\64';
    }
    #header .nav ul li a {
        color: var(--darkGray) ;
    }
    #header .nav ul li.active a{
        color: var(--purple);
    }
    main,
    .wrapper {
        padding: 15px 8px 8px;
    }
    header .wrapper {
        padding: 0 8px;
    }
    .accounts {
        margin: 0 auto;
        flex:0 0 80%;
        line-height: 76px;
    }
    .search i {
        color:var(--purple);
    }
    html {
        overflow-x: hidden !important;
    }

    .widgetcontainer {
        margin-bottom: 15px;
        padding: 0 5px;
    }

    .widgetcontainer h1 {
        margin: 0 0 8px;
        font-size: 2.6rem;
        min-height: 36px;
    }

    .nav_list.qitaf {
        margin-top: 20px;
    }

    .col-sm-hidden {
        display: none;
    }

    .widgettitle {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .packagesmargin {
        margin-bottom: 0;
    }

    .qitaf_tiers {
        height: 195px;
        max-width: 290px;
    }

    .nav_list a {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .nav_list a i {
        font-size: 5rem;
        margin-right: 14px;
    }

    .btns {
        width: 100%;
        line-height: 1.5;
        font-size: 1.4rem;
    }

    .form-input.inline-inputs {
        display: block;
    }

    .form-input.inline-inputs input {
        max-width: 100%;
    }

    .bootstrap-select > .dropdown-toggle, .form-input input {
        min-height: 40px;
    }

    .bootstrap-select .dropdown-toggle .filter-option {
        top: 5px;
    }

    .bootstrap-select > .dropdown-toggle:after {
        top: 5px;
        right: 29px;
    }
    #widgetspanel .panel_container .item .widgetcontent {
        padding-left:30px;
        padding-right:30px;
    }
    .seperatorbrdr:after, .widgetcontent.billing .flex-sm-full.seperatorbrdr:after {
        width: calc(100% - 30px);
        height: 1px;
        right: 15px;
        opacity: 0.4;
        top: auto;
        bottom: 0;
        display: block;
        left: 15px;
    }

    .circlechartscontainer.seperatorbrdr:after {
        height: 100%;
        top: -9px;
        width: 1px;
        right: -5px;
        left: auto;
    }

    .freebiesusage .circlechartscontainer.seperatorbrdr:after {
        height: 100%;
        top: -9px;
        width: 1px;
        right: -5px;
    }

    .widgetcontent.billing .seperatorbrdr:after {
        height: 60%;
        top: 27px;
        width: 1px;
        right: -5px;
        left: auto;
    }

    .seperatorbrdr.leftbrder:after{
        right: inherit;
        left: inherit;
        bottom: auto;
        top: -15px;
    }
    .widgetcontent.billing .seperatorbrdr:nth-child(3):after {
        width: 0
    }
    .tabscontainer .nav-tabs li a {
        font-size: 1.6rem;
    }

    .flex-sm-full {
        flex: 100%;
        padding: 10px 0;
    }
    .flex-sm-full.widgetmargins{
        margin: 0 0 15px;
        padding: 0 0 20px;
    }
    .col-lg-hidden {
        display: block;
    }

    .numberdisplay h2 .mainnumber {
        font-size: 3.4rem;
    }

    .qitaf_tiers .hint {

        font-size: 1.4rem;

    }

    .billing .same_height {
        min-height: 100px;
    }

    .t_footer, .b_footer {
        padding: 8px 0;
        height: auto;
    }
    .t_footer {
        padding-bottom: 16px;
    }
    .owl-carousel .owl-dots .owl-dot span {
        width: 6px;
        height: 6px;
        margin: 5px 5px 0;
    }
    .tabscontainer .tab-content{
        padding: 1.5rem 0 1rem;
    }
    .copyrights {
        text-align: center;
    }
    .copyrights span {
        display: inline-block;
        float: none;
    }
    .copyrights label {
        line-height: 38px;
        top: -15px;
        position: relative;
    }
    #msnav .snav #otherswrvices {
        width:100%;
    }
    #msnav .snav #otherswrvices li {
        width: 100%;
    }
    #msnav .snav #otherswrvices li a {
        width:100%;
        border-top:1px #ddd solid;
    }
    #msnav .snav #otherswrvices li:first-child a {
        border-top: 0 !important;
    }
    #msnav .snav #otherswrvices li a {
        min-width: auto;
        width: 100%;
        margin: 0;
        text-align: left;
        padding: 15px 0;
        display: block;
        float: left;
        position: relative;
    }
    #msnav .snav #otherswrvices li a:before {
        position: absolute;
        content:'\53';
        font-size: 16px;
        line-height: 62px;
        color:var(--purple);
        top:0;
        right:0;
        font-family: 'mystc3' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        letter-spacing: 0;
        -webkit-font-feature-settings: "liga";
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        font-feature-settings: "liga";
        -webkit-font-variant-ligatures: discretionary-ligatures;
        font-variant-ligatures: discretionary-ligatures;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .snav ul li a i {
        font-size: 32px;
        margin-right: 14px;
    }
    .snav ul li a i,
    .snav ul li a span {
        float: left;
    }
    .snav ul li a span {
        margin: 0;
        line-height: 32px;
        font-size: 16px;
    }
    header .snav {
        display: none;
    }
    #header .mainheader .control {
        flex: 0;
        float: right;
        flex-direction: row;
        display: flex;
    }
    #header .mainheader .control li {
        float: right !important;
    }
    #header .mainheader .logo {
        float: left;
        flex:1;
        margin: 0 !important;
        width: 90px;
    }
    #header .mainheader .logo img {
        width: 91px !important;
        margin-top: 8px;
    }
    #header .mainheader .icons {
        width:45px;
        padding: 0;
        text-align: center;
    }
    #header .mainheader .icons > a {
        padding: 0 !important;
    }
    .control .icons.notify {
        display: none !important;
    }
    span.widgets_btn {
        width: 45px;
        text-align: center;
        display: block;
        float: right;
        line-height: 60px;
        color:#acafb1;
    }
    span.widgets_btn i {
        font-size: 19px;
    }
    .icons {
        cursor: pointer;
    }
    .profile span i.icon-1_profile {
        font-size: 27px !important;
    }
    /* header .mainheader i  {
        font-size: 21px !important;
    } */
    #header .mainheader .search {
        margin: 0px 5px 0 0;
        flex: 0;
    }
    #header .mainheader .search input {
        width: 130px;
    }
    header .icons > span > i,
    .widgets_btn i {
        line-height: 58px !important;
    }
    .app_store a {
        width:140px;
    }
    .socialmedia ul li {
        padding: 0 5px;
    }
    #header .mainheader .control > ul > li {
        position: initial !important;
    }
    .dropdown_list {
        width:100%;
        min-width: 100%;
        left:0;
        top: 99%;
    }
    .dropdown_list:before {
        left: 100%;
        margin-left: -90px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid var(--purple);
        top:-12px;
    }
    .dropdown_list:after {
        left: 100%;
        margin-left: -100px;
        display: none;
    }
    .profile .dropdown_list ul li:first-child {
        background: var(--purple);
    }
    .profile .dropdown_list ul li:first-child a {
        color:#fff !important;
    }
    .dropdown_list ul li:nth-child(2) a {
        border-top: 0;
    }

    .widgetcontainer h1 + .widgetcontent {
        height: calc(100% - 45px);
    }
    header.sticky + main.mainsection {
        padding-top: 96px;
    }
    .payment_methods{
        max-width: 90%;
    }
    .payment_methods .col, .card_details .col{
        padding: 7.5px;
        height: 100%;
        flex: 0 0 50%;
    }
    .card_details .col{padding:0 7.5px;}
    .payment_methods input[type='radio'] + label img{max-width:100%}
    .circle_icons {
        width: 53px;
        height: 53px;
        font-size: 3.2rem;
        margin-bottom: 0;
    }
    #panel {
        width:100%;
        top: 63px;
        transform: translate(0, -4px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    #panel:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid var(--purple);
        top: -14px;
        left: 100%;
        margin-left: -60px;
        z-index: -1;
    }
    body.open_widgets #panel {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0px);
    }
    body.open_widgets header {
        position: fixed !important;
        top: 0;
    }
    .accounts .filter-option-inner-inner {
        line-height: 1.4;
    }
    body.open_widgets div#subheader {
        display:none;
    }
    #widgetspanel .panel_container {
        height: calc(100vh - 170px);
    }
    #widgetspanel {
        padding: 0 20px 30px;
    }
    #widgetspanel .paneltitle {
        padding: 30px 20px 10px;
        margin-left: -20px;
        margin-right: -20px;
        background-color: var(--purple);
    }
    #widgetspanel .paneltitle * {
        color:#fff;
    }
    #panel .paneltitle i {
        top: 30px;
        right: 35px;
    }
    #widgetspanel .panel_container .scroll {
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }
    #panel .btnWrap {
        flex-flow: nowrap;
        width: 100%;
    }

    .bill_details.owl-carousel .owl-nav{top: -40px;}
    .owl-carousel.bill_details {
        margin: 0 -20px;
        width: calc(100% + 40px);}
    .accordion_header{
        padding:8px;
    }

    .drop_menu:before{
        border-width: 14px;
        top: -14px;
        right: 14px;
    }
    .drop_menu:after{
        border-width: 17px;
        top: -17px;
        right: 11px;
    }

    div.dataTables_wrapper div.dataTables_filter{text-align: right;}
    .widgetbtns.bottom_position{
        position: inherit;
    }

}

@media (min-width: 992px) {
    header.sticky + main.mainsection {
        padding-top: 136px;
    }
    #msnav {
        display: none;
    }

    .modal-dialog {
        max-width: 590px;
    }

}



@media (max-width:320px) {
    .search i {
        line-height: 57px !important;
        width:45px;
        position: relative;
        font-size: 20px;
        display: block;
        text-align: center;
    }
    #header .mainheader .search input {
        display: none;
    }
    .qitaf_tiers {height: 165px;}
    .modal .modal-content .modal-body{max-height:370px;}
}

@media (max-width: 375px) {
    html{font-size: 9px;}

}
