@font-face {
  font-family: 'mystc3';
  src:  url('fonts/icons/mystc3.eot?khomsv');
  src:  url('fonts/icons/mystc3.eot?khomsv#iefix') format('embedded-opentype'),
  url('fonts/icons/mystc3.ttf?khomsv') format('truetype'),
  url('fonts/icons/mystc3.woff?khomsv') format('woff'),
  url('fonts/icons/mystc3.svg?khomsv#mystc3') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mystc3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app:before {
  content: "\e900";
}
.icon-desktop:before {
  content: "\e901";
}
.icon-sms:before {
  content: "\e902";
}
.icon-Failed:before {
  content: "\220b";
}
.icon-information:before {
  content: "\220c";
}
.icon-Success:before {
  content: "\220d";
}
.icon-Warning:before {
  content: "\220f";
}
.icon-error:before {
  content: "\e904";
}
.icon-logout:before {
  content: "\e903";
}
.icon-happiness:before {
  content: "\e908";
}
.icon-free_internet:before {
  content: "\e909";
}
.icon-Landline:before {
  content: "\e90a";
}
.icon-prepaid:before {
  content: "\e90b";
}
.icon-qitaf:before {
  content: "\e90c";
}
.icon-ftth:before {
  content: "\e90d";
}
.icon-network-3g:before {
  content: "\e90e";
}
.icon-network-2g:before {
  content: "\e90f";
}
.icon-netowrk-4g-1800:before {
  content: "\e910";
}
.icon-network-4g-2300:before {
  content: "\e911";
}
.icon-fingerprint:before {
  content: "\e912";
}
.icon-offices-24-hours:before {
  content: "\e913";
}
.icon-offices-Book-appointment:before {
  content: "\e914";
}
.icon-offices-handicap:before {
  content: "\e915";
}
.icon-offices-invision:before {
  content: "\e916";
}
.icon-offices-kiosk:before {
  content: "\e917";
}
.icon-offices-ladies:before {
  content: "\e918";
}
.icon-offices-maintenance:before {
  content: "\e919";
}
.icon-offices-tamayouz:before {
  content: "\e91a";
}
.icon-account-manager:before {
  content: "\e91b";
}
.icon-finger-print:before {
  content: "\e91c";
}
.icon-tour:before {
  content: "\e91d";
}
.icon-Call-Details:before {
  content: "\e91e";
}
.icon-date:before {
  content: "\e923";
}
.icon-error1:before {
  content: "\e922";
}
.icon-logout1:before {
  content: "\e921";
}
.icon-profile:before {
  content: "\e920";
}
.icon-settings1:before {
  content: "\e91f";
}
.icon-Access-Control:before {
  content: "\e924";
}
.icon-Inbox:before {
  content: "\e925";
}
.icon-Manager:before {
  content: "\e926";
}
.icon-Overview:before {
  content: "\e927";
}
.icon-Request-management:before {
  content: "\e928";
}
.icon-Request-Manager:before {
  content: "\e929";
}
.icon-Resume:before {
  content: "\e92a";
}
.icon-Send-Message:before {
  content: "\e92b";
}
.icon-Senders:before {
  content: "\e92c";
}
.icon-Suspend:before {
  content: "\e92d";
}
.icon-Request-access:before {
  content: "\2210";
}
.icon-Login:before {
  content: "\220e";
}
.icon-Failed1:before {
  content: "\2211";
}
.icon-information1:before {
  content: "\2212";
}
.icon-Success1:before {
  content: "\2213";
}
.icon-Warning1:before {
  content: "\2214";
}
.icon-box:before {
  content: "\e936";
}
.icon-boxes:before {
  content: "\e937";
}
.icon-store:before {
  content: "\e938";
}
.icon-Request-access1:before {
  content: "\2215";
}
.icon-Login1:before {
  content: "\2216";
}
.icon-MMS:before {
  content: "\2246";
}
.icon-Others:before {
  content: "\2245";
}
.icon-iPhonex-01:before {
  content: "\2242";
  color: #4e4f50;
}
.icon-STC-pay-2:before {
  content: "\2241";
}
.icon-STC-pay:before {
  content: "\2240";
}
.icon-Call-out-of-STC-network:before {
  content: "\223f";
}
.icon-Call-within-STC-network:before {
  content: "\223e";
}
.icon-Incoming-Call-While-Roaming:before {
  content: "\223d";
}
.icon-International-Call:before {
  content: "\223c";
}
.icon-International-MMS:before {
  content: "\223b";
}
.icon-International-SMS:before {
  content: "\223a";
}
.icon-MMS-out-of-STC-network:before {
  content: "\2239";
}
.icon-MMS-within-STC-network:before {
  content: "\2238";
}
.icon-Outgoing-Call-While-Roaming:before {
  content: "\2237";
}
.icon-SMS-out-of-STC-network:before {
  content: "\2236";
}
.icon-SMS-to-Shortcode:before {
  content: "\2235";
}
.icon-SMS-within-STC-network:before {
  content: "\2234";
}
.icon-tam-discounts:before {
  content: "\222e";
}
.icon-Redeem:before {
  content: "\222d";
}
.icon-Device-Purchase:before {
  content: "\222c";
}
.icon-face-ID:before {
  content: "\2227";
}
.icon-New-SIM:before {
  content: "\2225";
}
.icon-MyOrder:before {
  content: "\2219";
}
.icon-SIM:before {
  content: "\22c7";
}
.icon-outgoing_incoming2:before {
  content: "\221a";
}
.icon-Device:before {
  content: "\22f9";
}
.icon-rate_app:before {
  content: "\2217";
}
.icon-Fiber:before {
  content: "\2204";
}
.icon-2G:before {
  content: "\2206";
}
.icon-3G:before {
  content: "\2207";
}
.icon-4g-2300:before {
  content: "\2203";
}
.icon-4g-1800:before {
  content: "\2205";
}
.icon-referral:before {
  content: "\2202";
}
.icon-special_offers:before {
  content: "\2201";
}
.icon-telegram:before {
  content: "\2200";
}
.icon-credit_cards:before {
  content: "\22ff";
}
.icon-tech_visit:before {
  content: "\a9";
}
.icon-Camera:before {
  content: "\c0";
}
.icon-special_offers_empty:before {
  content: "\ae";
}
.icon-special_offers_full:before {
  content: "\a5";
}
.icon-discount:before {
  content: "\2117";
}
.icon-drag:before {
  content: "\2218";
}
.icon-local:before {
  content: "\b4";
}
.icon-exclamation_mark_fill:before {
  content: "\3e";
}
.icon-exclamation_mark:before {
  content: "\60";
}
.icon-happy_face:before {
  content: "\7e";
}
.icon-sad_face:before {
  content: "\e5";
}
.icon-silent_face:before {
  content: "\222b";
}
.icon-5_free_local_minutes:before {
  content: "\41";
}
.icon-5_free_international_minutes:before {
  content: "\42";
}
.icon-5_free_local_sms:before {
  content: "\43";
}
.icon-5_free_international_sms:before {
  content: "\44";
}
.icon-5_free_internet:before {
  content: "\45";
}
.icon-5_free_services:before {
  content: "\46";
}
.icon-5_free_balance:before {
  content: "\47";
}
.icon-6_all:before {
  content: "\48";
}
.icon-6_calls:before {
  content: "\49";
}
.icon-6_sms:before {
  content: "\4a";
}
.icon-7_on_net_calls:before {
  content: "\4b";
}
.icon-7_off_net_calls:before {
  content: "\4c";
}
.icon-7_international:before {
  content: "\4d";
}
.icon-7_roaming:before {
  content: "\4e";
}
.icon-1_home:before {
  content: "\61";
}
.icon-1_store:before {
  content: "\62";
}
.icon-1_locations:before {
  content: "\63";
}
.icon-1_support:before {
  content: "\64";
}
.icon-1_social:before {
  content: "\65";
}
.icon-1_profile:before {
  content: "\66";
}
.icon-1_settings:before {
  content: "\67";
}
.icon-1_more:before {
  content: "\68";
}
.icon-2_postpaid:before {
  content: "\69";
}
.icon-2_prepaid:before {
  content: "\6a";
}
.icon-2_landline:before {
  content: "\6b";
}
.icon-2_data_sim:before {
  content: "\6c";
}
.icon-3_qitaf:before {
  content: "\6d";
}
.icon-3_my_subscriptions:before {
  content: "\6e";
}
.icon-3_my_payments2:before {
  content: "\6f";
}
.icon-3_my_payments:before {
  content: "\70";
}
.icon-3_free_sms:before {
  content: "\71";
}
.icon-3_analytics:before {
  content: "\72";
}
.icon-3_transfer:before {
  content: "\73";
}
.icon-3_recharge:before {
  content: "\74";
}
.icon-3_sim_details:before {
  content: "\75";
}
.icon-3_internet_status:before {
  content: "\76";
}
.icon-4_qitaf_rewards:before {
  content: "\77";
}
.icon-4_alfursan:before {
  content: "\153";
}
.icon-4_evoucher:before {
  content: "\79";
}
.icon-4_donation:before {
  content: "\7a";
}
.icon-update_avaliable:before {
  content: "\4f";
}
.icon-1_map_warning:before {
  content: "\50";
}
.icon-add_contact:before {
  content: "\51";
}
.icon-add:before {
  content: "\52";
}
.icon-back_arrow_ar:before {
  content: "\53";
}
.icon-back_arrow_en:before {
  content: "\54";
}
.icon-bill-chart:before {
  content: "\55";
}
.icon-call_1500:before {
  content: "\56";
}
.icon-check:before {
  content: "\57";
}
.icon-CMD_icon:before {
  content: "\58";
}
.icon-currentLocationArrow:before {
  content: "\59";
}
.icon-dashboard_more_indicator:before {
  content: "\5a";
}
.icon-Delete:before {
  content: "\31";
}
.icon-drop_menu:before {
  content: "\32";
}
.icon-Filter:before {
  content: "\33";
}
.icon-fingerprint1:before {
  content: "\34";
}
.icon-FullStar:before {
  content: "\35";
}
.icon-hint_arrow:before {
  content: "\36";
}
.icon-hint_finger:before {
  content: "\37";
}
.icon-icAvatar:before {
  content: "\38";
}
.icon-icAvatarS:before {
  content: "\39";
}
.icon-icAvatarSActive:before {
  content: "\21";
}
.icon-icClose:before {
  content: "\40";
}
.icon-Icons3-50:before {
  content: "\23";
}
.icon-icPhone:before {
  content: "\24";
}
.icon-icPincode:before {
  content: "\25";
}
.icon-icPincodeS:before {
  content: "\5e";
}
.icon-icPincodeSActive:before {
  content: "\26";
}
.icon-icPraimaryNu:before {
  content: "\2a";
}
.icon-icTermsCond:before {
  content: "\28";
}
.icon-info:before {
  content: "\29";
}
.icon-language_change:before {
  content: "\2d";
}
.icon-Locations_icons_-maintenance:before {
  content: "\5f";
}
.icon-Locations_icons_24_hours:before {
  content: "\3d";
}
.icon-Locations_icons_Book_an_appointment:before {
  content: "\2b";
}
.icon-Locations_icons_handicap:before {
  content: "\b1";
}
.icon-Locations_icons_Invision:before {
  content: "\a7";
}
.icon-Locations_icons_Kiosk:before {
  content: "\5b";
}
.icon-Locations_icons_Ladies:before {
  content: "\5d";
}
.icon-Locations_icons_Offices:before {
  content: "\7b";
}
.icon-Locations_icons_Tamayouz:before {
  content: "\7d";
}
.icon-Locations_icons_target:before {
  content: "\3b";
}
.icon-Locations_icons_Wi_Fi_Hotspots:before {
  content: "\3a";
}
.icon-outgoing_incoming:before {
  content: "\27";
}
.icon-outgoing:before {
  content: "\22";
}
.icon-Register:before {
  content: "\5c";
}
.icon-select_time:before {
  content: "\7c";
}
.icon-setting:before {
  content: "\3f";
}
.icon-SMS_cancel:before {
  content: "\2f";
}
.icon-Star:before {
  content: "\2c";
}
.icon-touch_id_icon:before {
  content: "\2e";
}
.icon-transfer_arrow:before {
  content: "\3c";
}
.icon-cancel:before {
  content: "\e907";
}
.icon-export:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e905";
}
.icon-locations:before {
  content: "\e92e";
}
.icon-Orders:before {
  content: "\e92f";
}
.icon-users:before {
  content: "\e930";
}
.icon-history-clock:before {
  content: "\e931";
}
.icon-access-requests:before {
  content: "\e932";
}
.icon-cancel1:before {
  content: "\e933";
}
.icon-export1:before {
  content: "\e934";
}
.icon-settings2:before {
  content: "\e935";
}
.icon-language:before {
  content: "\e9c9";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-sphere:before {
  content: "\e9ca";
}
.icon-pencil:before {
  content: "\e939";
}
.icon-pencil2:before {
  content: "\e93a";
}
.icon-map:before {
  content: "\e94b";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-meter2:before {
  content: "\e9a7";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch1:before {
  content: "\e9b7";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-openoffice:before {
  content: "\eae0";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-plus1:before {
  content: "\f067";
}
.icon-question:before {
  content: "\f128";
}
.icon-minus1:before {
  content: "\f068";
}
.icon-search1:before {
  content: "\f002";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check1:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-share-square-o:before {
  content: "\f045";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-phone:before {
  content: "\f095";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-hdd-o:before {
  content: "\f0a0";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-tachometer:before {
  content: "\f0e4";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download1:before {
  content: "\f0ed";
}
.icon-cloud-upload1:before {
  content: "\f0ee";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-minus-square-o:before {
  content: "\f147";
}
.icon-sort-alpha-asc:before {
  content: "\f15d";
}
.icon-sort-alpha-desc:before {
  content: "\f15e";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-sort-numeric-asc:before {
  content: "\f162";
}
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-file-word-o:before {
  content: "\f1c2";
}
.icon-file-excel-o:before {
  content: "\f1c3";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-file-archive-o:before {
  content: "\f1c6";
}
.icon-file-zip-o:before {
  content: "\f1c6";
}
.icon-jsfiddle:before {
  content: "\f1cc";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-history1:before {
  content: "\f1da";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-calculator:before {
  content: "\f1ec";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-bell-slash:before {
  content: "\f1f6";
}
.icon-bell-slash-o:before {
  content: "\f1f7";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-area-chart:before {
  content: "\f1fe";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-safari:before {
  content: "\f267";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv:before {
  content: "\f26c";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-edge:before {
  content: "\f282";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-o:before {
  content: "\f2c0";
}
