
@font-face {
    font-family: 'stc-light';
    src: url("../fonts/STC-Light.eot");
    src: local("?"), url("../fonts/STC-Light.woff") format("woff"), url("../fonts/STC-Light.ttf") format("truetype"), url("../fonts/STC-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-regular';
    src: url("../fonts/STC-Regular.eot");
    src: local("?"), url("../fonts/STC-Regular.woff") format("woff"), url("../fonts/STC-Regular.ttf") format("truetype"), url("../fonts/STC-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    background-size: 4px 4px;
    background-color: #fff;
    /* background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent);
     background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent);
     background-image: linear-gradient(-45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent);
     */
    font-family: arial, sans-serif;
}

header{background:#fff;height:90px;box-shadow: 0px 2px 2px -1px  rgba(0,0,0,0.4);width: 100%;position: fixed;z-index: 100;}
.logo {background:url('../images/stc-logo.jpg') no-repeat left top;width: 190px;height: 71px;display: block;font-size: 0;margin-top: 9px;}
.nopadding{padding:0;}
.align_right{text-align:right;}
.align_left{text-align:left;}
.align_center{text-align:center;}
a,a:visited{color:#E26B99;text-decoration: none;}
a:hover{color:#722C82;}
.main_top{width:100%;height: 100%;position: absolute;}
.main_top:before{content:'';width:100%;height: 100%;position: absolute;background: url('../images/fp_bg.jpg') no-repeat top left;background-size: cover;-webkit-filter: blur(5px);}
.main_top:after{content:'';width:100%;height:100%;position: absolute;top:0;left:0;background: rgba(114, 44, 130, 0.72);}
.lang a{font-size:16px;font-family:'stc-regular',arial,sans-serif;}
.navbar-nav{float:none;}
.navbar-default {background:transparent;border: none;margin: 0;}
.navbar-nav > li{
    font-size: 16px;
    font-family: 'stc-regular',arial,sans-serif;
    text-transform: uppercase;
    margin-right: 25px;
    float: none;
    display: inline-block;
    border-bottom: solid 5px transparent;
    padding: 0 10px;
}
.navbar-default .navbar-nav > li > a{color:#712c81;padding: 6px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{background:transparent;color:#da3f7b}
.navbar-nav > li.active{border-bottom-color:#722c82}
.navbar-default .navbar-nav > .active > a{background:transparent;}

.main_top .container{z-index:10;margin-top: 10%;}
.esales_icon{background:url('../images/eslaes_logo.png') no-repeat center center;width: 158px;height: 129px;display: block;margin: 40px auto 0;}
.main_top h2{color:#fff;font-size: 40px;font-family: 'stc-regular',arial,sans-serif;text-align: center;margin: 30px;}
.main_top p{
    color:#fff;
    font-size: 15px;
    text-align: center;
}
.downloads a{background: #fff;padding:20px;display: block;width:100%;border-radius:6px;font-size: 15px;color: #722C82;transition: all ease 300ms;margin-bottom: 10px;position: relative;}
.downloads a:hover{background: #D9407B;color: #fff;}
.downloads a i{font-size: 30px;color: #D9407B;margin-right: 5px;}
.downloads a:hover i{color: #fff;}
.downloads .android{}
.downloads  h4.coming_soon{
    position: absolute;
    top: -45px;
    color: #722C82;
    font-size: 13px;
    right: 12px;
    background: #F5CD73;
    padding: 20px 10px 0;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    text-align: center;
}
.tablet_frame{border: solid 30px #f2f2f2;width: 96%;height: 380px;background-size: 100% 77%;display: block;z-index: 20;margin-top: 40px;border-radius: 12px;box-shadow: 0px -2px 5px 2px rgba(0,0,0,0.4);}
.tablet_frame:before{content:'';width: 10px;height: 10px;background: #552260;position: absolute;border-radius: 50%;margin: 26% 0 0 -22px;}
.tablet_frame:after{content: "\f17a";font: normal normal normal 14px/1 FontAwesome;width: 40px;height: 40px;position: absolute;right: 18px;top: 50%;font-size: 20px;color: #722C82;}
.owl-carousel .item img{width:100%;height:320px;}
.owl-carousel {height:470px;}
.mobile_frame{width: 20%;height: 85%;border: solid 20px #110F23;position: absolute;margin-top: -20%;border-radius: 11px;z-index: 99999;background: #fff;}
.mobile_frame img{width:100%}
.owl-controls{margin-top:-46px;}
.centered{float:none;margin:40px auto  ;}
.scrolldown{
    color: #FFFFFF;
    position: relative;
    z-index: 11;
    font-size: 30px;
    width: 20px;
    margin: 0 auto;
    bottom: 0;
}
div.features{
    background:#fff;
    position: absolute;
    width:100%;
    height:100%;
    top:100%
}
div.features.updates{top:200%;background:#f2f2f2;}
.purple-border{border-color:#501f6e;}
.purple-border:before{background:#f2f2f2}
.purple-border:after{color:#f2f2f2}
.features_ul{padding:5px;margin:5px;list-style: none}
.features_ul span{border-left:solid 1px #b5b5b5;display: block;padding: 10px;}
.features_ul li {
    font-size: 15px;
    font-family: 'stc-regular',arial,sans-serif;
    line-height: 34px;
    margin-bottom: 20px;
}
.features_ul li:before{content:"";width: 20px;height: 20px;display: inline-block;background: #D9417B;border-radius: 50%;border: solid 2px #501F6E;margin-left: -21px;vertical-align: middle;margin-right: 20px;}
div.features h2{
    font-family: 'stc-regular',arial,sans-serif;
    font-size: 30px;
    border-bottom: solid 2px #b5b5b5;
    line-height: 35px;
    width: 30%;
    margin: 30px auto;
    text-transform: uppercase;
    text-align: center;
    color: #D9407B;
}
div.features.updates .updated_bg {
    background: #fff;
    padding:10px;
    box-shadow:0px 2px 2px -1px  rgba(0,0,0,0.4);
    display:block;
    min-height: 301px;
    border-radius:5px;
}
div.features.updates .updated_bg h3{
    font-size: 23px;
    font-family: 'stc-light',arial,sans-serif;
    text-transform: uppercase;
    color: #703081;
    margin: 10px 0;
}
div.features.updates .updated_bg h5{
    color: #D52F6F;
    margin: -9px 0 0;
    font-family: 'stc-light',arial,sans-serif;
}
div.features.updates .updated_bg h4{
    font-weight: bold;
    font-size: 14px;
}
div.features.updates .updated_bg ul{
    padding: 16px;
    list-style: none;
}
div.features.updates .updated_bg ul li {
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 10px;
}
div.features.updates .updated_bg ul li:before{content:'';background: #D73775;width: 10px;height: 10px;display: inline-block;border-radius: 50%;margin-left: -23px;margin-right: 10px;}
.bottom_download{margin-top:150px;}
.bottom_download .downloads a {background: #7C387F;color: #fff;}
.bottom_download .downloads a i{color:#fff}
.bottom_download .downloads a:hover{background: #D63674;}