$breakpoints: (
	'small': (
		max-width: 990px,
	),
	'medium': (
		min-width: 1024px,
	),
	'large': (
		max-width: 1200px,
	),
	'huge': (
		min-width: 1201px,
	),
);

$heightBreakpoints: (
				'small': (
								max-height: 667px,
				),
				'medium': (
								min-height: 740px,
				),
				'large': (
								max-height: 915px,
				)
);
