$default_font: 'Open Sans', arial,sans-serif;
$custom_icon_font: 'icomoon';
$main_color: #5b6ab1;
$upload_bg_color:#d4ddf4;
$verify_bg_color:#e0f2f1;
$main_bg : #f6f7fb;
$header_font_size: 5rem;
$gray:#d8d8d8;



