@font-face {
    font-family: 'STC-regular';
    src: url('fonts/STC-Regular.svg');
    src: url('fonts/STC-Regular.eot') format('embedded-opentype'),
    url('fonts/STC-Regular.ttf') format('truetype'),
    url('fonts/STC-Regular.woff') format('woff'),
    url('fonts/STC-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STC-light';
    src: url('fonts/STC-Light.svg');
    src: url('fonts/STC-Light.eot') format('embedded-opentype'),
    url('fonts/STC-Light.ttf') format('truetype'),
    url('fonts/STC-Light.woff') format('woff'),
    url('fonts/STC-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 14px;
    color: #703081;
    font-family: 'STC-regular';
    text-rendering: geometricPrecision;
    background: #f1f1f1;
    height: 100%;
    width: 100%;
}

header {
    border-bottom: solid 1px #d8d7d8;
    box-shadow: 7px 1px 15px -3px rgba(0, 0, 0, 0.3);
    background: #fff;
    width: 100%;
    left: 0;
    height: 60px;
    position: relative;
    box-sizing: border-box;
}

header .container, header .container .right-align {
    height: 100%;
}

header img {
    width: 50%;
    margin-top: 10px;
    max-width: 150px;
}
.full_height {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang_link {
    font-family: "STC-light", arial, "Open Sans";
    background: #f1eaf2;
    display: inline-flex;
    padding: 4px 20px 10px;
    margin: 0;
    color: #713081;
    text-align: center;
    font-size: 15px;
    height: 100%;
    transition: all ease 300ms;
    width: auto;
    justify-content: center;
    align-items: center;
}

.lang_link i {
    margin: -6px 0 0;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;

}

.lang_link:hover, .lang_link.__ghostlab-hover__, .lang_link.__ghostlab-hover__, .lang_link.__ghostlab-hover__, .lang_link.__ghostlab-hover__, .lang_link.__ghostlab-hover__, .lang_link.__ghostlab-hover__ {
    --ghostlab-has-hover: true;
    --ghostlab-has-hover: true;
    --ghostlab-has-hover: true;
    --ghostlab-has-hover: true;
    --ghostlab-has-hover: true;
    --ghostlab-has-hover: true;
    background: #713081;
    color: #fff;
}

.bottom_seperator {
    margin-bottom: 25px;
}

.pattern_gradient {
    background: radial-gradient(circle farthest-side at 0% 50%, #f4f4f4 23.5%, rgba(240, 166, 17, 0) 0) 21px 30px,
    radial-gradient(circle farthest-side at 0% 50%, #ededed 24%, rgba(240, 166, 17, 0) 0) 19px 30px,
    linear-gradient(#f4f4f4 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #f4f4f4 0) 0 0,
    linear-gradient(150deg, #f4f4f4 24%, #ededed 0, #ededed 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #ededed 0, #EDEDDD 76%, #f4f4f4 0) 0 0,
    linear-gradient(30deg, #F4F4F4 24%, #ededed 0, #ededed 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #ededed 0, #ededed 76%, #F4F4F4 0) 0 0,
    linear-gradient(90deg, #ededed 2%, #F4F4F4 0, #F4F4F4 98%, #ededed 0%) 0 0 #F4F4F4;
    background-size: 40px 60px;
    min-height: 126px;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: inset -1px 3px 6px rgba(0, 0, 0, 0.3);
    display: none;
}

a {
    color: #d9417d;
}

a:hover {
    color: #703081;
}

h1, h2, h3, h4, h5, h6 {
    color: #703081;
    font-family: 'STC-regular' !important;
}

h1, h2, .bigtitle {
    text-transform: uppercase;
}

h1 {
    font-size: 35px !important;
}

h2 {
    font-size: 24px !important;
}

h3 {
    font-size: 18px !important;
    line-height: 1.35;
    padding-left: 46px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 0;
}

.breif p, .disclosure p {
    margin-bottom: 15px;
}

.question_count {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #d9417d;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    padding-top: 4px;
    position: absolute;
    left: 0;
    vertical-align: top;
    margin-top: -4px;
}

.pattern_gradient h1 {
    margin: 45px 20px;
    vertical-align: middle;
}

.survey_form {
    position: relative;
    height: 100%;
}
.col-lg-12{height:100%;}
.questions_cont {
    background: #fff;
    box-shadow: 1px 1px 11px -3px rgba(0, 0, 0, 0.3);
    padding: 20px 30px 50px;
    border-radius: 4px;
    /* border: solid 1px #d9d7d94d; */
    margin-bottom: 0;
    min-height: calc(95vh - 222px);
    overflow-x: hidden;
    margin-top: 20px;
    height: auto;
    max-height: calc(95vh - 55px);
}

.buttons_cont {
    background: #e6e6e6;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 5px;
    /* border: solid 1px #d9d7d9;*/
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    min-height: 60px;
}

.questions_cont p {
    padding: 0 6px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    line-height: 1.5;
}
.brief p {
    margin-top: 30px;
}
input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    outline: 0 !important;
    display: none;
}

.questions_cont label {
    font-size: 17px;
    font-family: STC-light;
    vertical-align: middle;
    position: relative;
    min-width: 90%;
    padding: 5px 0;
}

.question_holder label span {
    padding-left: 20px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
}

.question_holder label {
    margin-left: 30px;
}

input[type="checkbox"] + label::before {
    outline: none;
    outline: 0;
    outline-offset: 0;
    content: "";
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -30px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    vertical-align: middle;
    margin-top: 4px;
}

input[type="checkbox"] + label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -30px;
    padding-left: 3px;
    padding-top: 9px;
    font-size: 11px;
    color: #555555;
    vertical-align: middle;
    margin-top: 4px;
}

input[type="checkbox"]:checked + label::before {
    background-color: #d8427d;
    border-color: #d8427d;
}

input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #fff;

}

input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

input[type="checkbox"]:checked:disabled + label::before {
    background-color: #CECCCC;
    border-color: #CECCCC;
}

input[type="radio"] {
    opacity: 0;
    z-index: 1;
    display: none;
}


input[type="radio"] + label::before {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
    content: "";
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -30px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    vertical-align: middle;
    margin-top: 5px;
    order: 2;
}

input[type="radio"] + label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 8px;
    margin-left: -30px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    vertical-align: middle;
    margin-top: 6px;
    order: 3;
}

input[type="radio"]:checked + label::before {
    border-color: #d8427d;
}

input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    background-color: #d8427d;

}

input[type="radio"]:disabled + label {
    opacity: 0.65;
}

input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}


input[type="radio"]:disabled:checked + label::before {
    border-color: #B3B1B1;
}

input[type="radio"]:disabled:checked + label::after {
    background-color: #B3B1B1;
}


input[type="text"], input[type="email"], input[type="search"], input[type="number"], textarea {
    width: 100%;
    display: block;
    line-height: 40px;
    border: none;
    padding: 4px 10px 0px;
    font-size: 16px;
    color: #703081;
    font-family: STC-regular;
    outline: none;
    right: 0;
    background: #fff;
    border: 1px #d7d7d7 solid;
    border-radius: 6px;
}

textarea {
    min-height: 70px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.btns-bg {
    font-family: 'STC-regular';
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px !important;
    width: auto;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: normal !important;
    outline: none;
    border: 0;
    -webkit-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    border-radius: 35px;
    cursor: pointer;
    background-color: #703081;
    /* right: 60px; */
    min-width: 130px;
    z-index: 10;
}

.btns-bg:hover {
    box-shadow: inset 0 0 35px 0 rgba(0, 0, 0, 0.3);
}

button[disabled], input[disabled] {
    opacity: 0.5;
}

.thanks_msg, .question_holder, .page {
    display: none
}

.question_holder .other {
    margin-left: 30px;
    width: 90%;
}

.thanks_msg {
    text-align: center;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    left: 0;
    top: 0;
}

.thanks_msg i {
    font-size: 100px;
}

.thanks_msg h2 {
    font-size: 40px !important;
}

.thanks_msg p {
    font-size: 17px;
    font-family: STC-light;
    margin: 20px auto 30px;
    width: 70%;
}

.thanks_msg a {
    display: inline-block;
    background: #703081;
    padding: 14px 30px;
    border-radius: 35px;
    color: #fff;
    -webkit-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    font-size: 20px;
}

.thanks_msg a:hover {

    box-shadow: inset 0 0 35px 0 rgba(0, 0, 0, 0.3);

}

.submit {
    display: none;
}

.last.question_holder .other {
    width: 90%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2);
}

::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2);
}

:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 0, 0, 0.2);
}

:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2);
}

.last.question_holder .gender_label {
    margin-left: 0;
    font-family: STC-regular;
    font-weight: bolder;
}

.top_seperator {
    margin-top: 30px;
}

.right-align {
    text-align: right;
}

.modal {
    top: 10%;
}

.breif h1 {
    margin: 0 0 10px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 50px;
}

.breif h2 {
    margin: 0 0 30px;
    font-size: 22px !important;
}


.survey_progress {
    height: 5px;
    background: #f9f9f9;
    position: absolute;
    left: 0;
    top: -6px;
    padding: 0;
    width: 100%;
    z-index: 999999999;
}

.survey_progress .section {
    width: 100%;
    background: #f1eded;
    height: 100%;
    margin: 2px 1px;
    float: left;
}

.survey_progress .section span {
    width: 0%;
    background: #d9407d;
    display: block;
    height: 100%;
    transition: width ease 300ms;
}

.survey_progress .section.active span {
    width: 100%
}

.notification_div {
    position: absolute;
    top: 439px;
    background: #d9417e;
    width: 100%;
    color: #fff;
    padding: 8px 10px 0;
    border-radius: 7px;
    font-size: 17px;
    display: none;
}

.notifications {
    position: absolute;
    height: 40px;
    bottom: 80px;
    width: 100%;
    left: 0;
    display: none;
}

.notification_part_1, .notification_part_2 {
    background: #d9417e;
    width: calc(100% - 20px);
    color: #fff;
    padding: 8px 10px 0;
    border-radius: 7px;
    font-size: 17px;
    margin: 0 auto;
    display: none;
    line-height: 40px;
    z-index: 1;
    text-align: center;
}

.thanks_msg img.happiness {
    width: 90px;
    margin-bottom: 20px;
}


.box {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
}

section.main {
    height: calc(100vh - 90px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.lang_options {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
}

.langs_option {
    height: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    transition: all cubic-bezier(0.475, 0.425, 0, 0.995) 150ms;
    flex: 0 0 50%;
    max-width: 50%;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    position: relative;
}

.langs_option:nth-of-type(1) {
    background: #ece9e9;
    border-radius: 4px 0 0 4px;
}

.langs_option:before{
    content:'';
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.04);
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 200ms;
}
.langs_option:hover:before{
    box-shadow: inset 2px 2px 5px 40px rgba(0, 0, 0, 0.04);

}

.langs_option span {
    background: #7a3a8b;
    display: block;
    padding: 20px;
    min-width: 150px;
    color: #fff;
    font-size: 22px;
    font-family: stc-light;
    text-transform: uppercase;
    margin-top: 60px;
    border-radius: 35px;
}

.langs_option:hover span{
    background: #592767;
}

.btns_holder {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    z-index: 9999999999;
}

.prev_btn {
    margin-right: auto;
}

.questions_numbers {
    background: transparent;
    position: absolute;
    width: 100%;
    margin-top: 11px;
    text-align: center;
    font-size: 20px;
    color: rgba(41, 38, 38, 0.54);
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.questions_numbers .section_name {
    font-size: 15px;
    color: #7a3a8b;
}

.questions_numbers .current {
    font-weight: bold;
    font-size: 25px;
    color: #dc5089;
}

.question_holder {
    padding-bottom: 50px;
    display: block;
}

.row_radios label {
    font-size: 0;
}

.row_radios p {
    margin: 0;
}
.row_radios input[type="radio"]+label::after{
    margin-top:5px
}

.question_holder.bordered {
    border-bottom: solid 1px #f7f3f3;
    padding-bottom: 0px;
    margin-bottom: 20px;
}
.question_holder.bordered:last-child{
    border:none
}
.multi_header{
    height: 45px;
    margin: 0;
}
.multi_header h4{
    font-weight: normal;
    color: #000;
    font-size: 16px;
}
.multi_header h6{
    font-weight: normal;
    font-size: 15px;
}
.char_counter{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.42);
}
.char_counter .current{
    color: #000;
    font-size: 110%;
    margin: 0 5px;
}
.char_counter .total{
    margin: 0 5px;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.options_two_width{
    max-width:30%;
}
.conditions_divs{display: none;padding: 20px;background: #f5f5f5;border-radius: 4px;margin: 10px 20px;border: solid 1px #f5f5f5;}
.conditions_divs h4{
    color: #000;
    font-size: 17px;
    font-weight: normal;
    flex: 0 0 100%;
}
.cols {
    display: flex !important;
    justify-content: flex-start;
}
.cols_2 p {
    flex: 0 0 calc(100% /2);
    max-width: calc(100% /2);
}
.cols_3 p {
    flex: 0 0 calc(100% /3);
    max-width: calc(100% /3);
}
.cols_4 p {
    flex: 0 0 calc(100% /4);
    max-width: calc(100% /4);
}
.cols_5 p {
    flex: 0 0 calc(100% /5);
    max-width: calc(100% /5);
}
.cols_6 p {
    flex: 0 0 calc(100% /6);
    max-width: calc(100% /6);
}
.cols p {margin-bottom:15px}
/*.row.row_radios div[class^="col-"], .row.row_radios div [class*=" col-"] {
    padding: 0;
}
*/
.row.row_radios .col-lg-7{
    padding:0;
}
.conditions_divs .survey_options{
    display: none;
}






@media (max-width: 991px) {
    body{
        background:#fff;
    }
    header img {
        width: 75%;
    }

    .lang_options {
        width: calc(100%);
        height: calc(100% + 28px);
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-bottom: 0px;
        max-height: unset;
        top: 0;
        position: absolute;
    }

    .langs_option {
        height: calc(50%);
        padding: 20px;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .langs_option h1 {
        font-size: 7vmin !important;
    }

    .langs_option a {
        margin-top: 8vmin;
    }


    .lang_link {
    }

    .pattern_gradient {
        min-height: 76px;
    }

    .pattern_gradient h1 {
        margin: 20px;
    }

    .buttons_cont {
        position: fixed;
        left: 0
    }

    .btns-bg {
        font-size: 21px !important;
        padding: 9px 20px 5px;
        width: 90%;
        line-height: 40px;
        margin: 0 15px;
    }

    .questions_cont {
        background: transparent;
        box-shadow: none;
        padding: 15px 15px 80px;
        margin-top: 0;
    }

    .thanks_msg p {
        width: 100%;
        margin-top: 10px;
        flex: unset !important;
    }

    .thanks_msg h2 {
        margin-top: 10px;
    }

    .thanks_msg {
        margin-top: 0;
        height: 100%;
    }

    .buttons_cont {
        text-align: center
    }

    .btns-bg {
        left: auto;
        right: auto;
    }

    .top_seperator {
        margin-top: 0px;
    }

    .question_holder .other {
        width: 90%
    }

    .notifications {
        position: fixed;
        bottom: 125px;
    }

    section.main {
        display: initial;
    }

    .questions_numbers {
        background: #e2dfdf;
        margin-top: -27px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px;
    }

    .row_radios label {
        font-size: 3vmin;
    }

    .row_radios label span {
        font-size: 3vmin;
        position: absolute;
        top: -30px;
        right: -41px;
        display: block;
        max-width: 60px;
    }

    .row_radios .col-xs-2 {
        width: calc(100% / 5);
        padding: 0 10px !important;
    }

    .row_radios p {
        margin: 0;
    }

    .row_radios {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .row_radios h3 {
        margin-bottom: 50px;
    }

    .question_holder.bordered {
    }
    .flex{
        display:initial
    }
    .conditions_divs{
        display:none;
    }
    .options_two_width{
        max-width:unset;
        display: flex;
        justify-content: space-around;
    }

    .conditions_divs{
        margin: 0px;
    }
    .cols p {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container{height:100%;}

}

