@font-face {
    font-family: 'stc-bold';
    src: url("fonts/stc/STC-Bold.eot");
    /* for non-IE */
    src: local("?"), url("fonts/stc/STC-Bold.woff") format("woff"), url("fonts/stc/STC-Bold.ttf") format("truetype"), url("fonts/stc/STC-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-italic';
    src: url("fonts/stc/STC-Italic.eot");
    src: local("?"), url("fonts/stc/STC-Italic.woff") format("woff"), url("fonts/stc/STC-Italic.ttf") format("truetype"), url("fonts/stc/STC-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-light';
    src: url("fonts/stc/STC-Light.eot");
    src: local("?"), url("fonts/stc/STC-Light.woff") format("woff"), url("fonts/stc/STC-Light.ttf") format("truetype"), url("fonts/stc/STC-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stc-regular';
    src: url("fonts/stc/STC-Regular.eot");
    src: local("?"), url("fonts/stc/STC-Regular.woff") format("woff"), url("fonts/stc/STC-Regular.ttf") format("truetype"), url("fonts/stc/STC-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url("fonts/icons/icomoon.eot?ojmhan");
    src: url("fonts/icons/icomoon.eot?ojmhan#iefix") format("embedded-opentype"), url("fonts/icons/icomoon.ttf?ojmhan") format("truetype"), url("fonts/icons/icomoon.woff?ojmhan") format("woff"), url("fonts/icons/icomoon.svg?ojmhan#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =================================*/
/*Custom STC icons font - added by Mohammad Samak - 19-03-2019 */
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}

.icon-mic:before {
    content: "\e901";
}

.icon-stop:before {
    content: "\e902";
}

/* =================================*/
/* Main Shazam theme classes - added by Mohammad Samak - 19-03-2019 */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-rendering: geometricPrecision;
    direction: rtl;
}

.shazam_cont {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
}

.app_sections {
    padding: 10vmin 5vmin 25vmin;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 1.5s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition-delay: 10ms;
    transition-duration: 250ms;
    box-sizing: border-box;
}
.app_sections.current{

}
.app_sections h1 {
    font-family: "stc-regular";
    font-size: 9vmin;
    color: #fff;
    position: relative;
    z-index: 10;
    margin-bottom: 50vmin;
    line-height: 1.6;
}

.app_sections.spalsh {
    z-index: 10;
    justify-content: center;
}
.app_sections.spalsh.current{
    transition-delay: 100ms;
}

.app_sections.spalsh:before {
    content: '';
    background: #7e00ba;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition-delay: 10ms;
    transition-duration: 400ms;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.app_sections.spalsh svg {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition-delay: 0ms;
    transition-duration: 400ms;
    height: 60vmin;
    width: auto;
    max-height: 165px;
}

.app_sections.spalsh svg #logo {
    fill: rgba(255, 255, 255, 0);
    stroke: #fff;
    stroke-width: 2px;
    stroke-miterlimit: 10;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;

}

.app_sections.spalsh.current:before {
    opacity: 1;
    transition-delay: 400ms;
}

.app_sections.spalsh.current svg {
    opacity: 1;
    transform: scale(1);
    transition-delay: 300ms;
}

.app_sections.spalsh.current svg #logo{
    animation: offset 2s linear forwards, fill 2s ease-in-out forwards;
    animation-delay: .5s;
}
.isalmic_pattern {
    background: #32004a url("../images/islamic_bg.svg") no-repeat bottom left;
    background-size: 100%;
}

.isalmic_pattern:before {
    content: '';
    background-image: linear-gradient(36deg, #7e00ba, rgba(50, 0, 74, 0.88));
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 1;
}

.results .recieter_info h2 {
    font-family: "stc-bold";
    font-size: 9vmin;
    color: white;
    line-height: 1.3;
    position: relative;
    margin: 0;
}

.results .recieter_info h3 {
    font-family: "stc-regular";
    font-size: 8vmin;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.3;
    position: relative;
    margin: 5px 0 20px;
}

.results.results_c1 img {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.results.results_c1 .recieter_info {
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: 0;
    width: 100%;
    min-height: 60vmin;
    padding: 10vmin;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.results.results_c2 .recieter_info {
    margin-bottom: 20vmin;
}

.results.results_c2 .recieter_info img {
    width: 34vmin;
    height: 34vmin;
    border-radius: 50%;
    border: solid 2px #4d4d4d;
    max-width: 127px;
    max-height: 127px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.btns {
    text-align: center;
    font-size: 6vmin;
    color: #e94b5b;
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 7px;
    outline: 0;
}

.btns:before {
    background-image: linear-gradient(182deg, #ffffff, #dad7d7 64%, #dddddd);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.btns i {
    background-image: linear-gradient(35deg, #f68294, #e94b5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    position: relative;
}

.btns:hover, .btns:active, .btns.activated {
    color: #fff;
}

.btns.btns_circle {
    width: 43vmin;
    height: 43vmin;
    font-size: 14vmin;
    max-width: 145px;
    max-height: 145px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns.btns_circle:before {
    border-radius: 50%;
}

.btns.btns_circle:after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom, #ffffff, #7c7c7c);
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.btns.btns_pulse {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.6);
    animation: pulse2 1.7s linear infinite, innerbeat 1.7s linear infinite;
}

.btns.btns_ripple {
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    animation: pulse 1.7s ease-in-out infinite;
    overflow: visible;
}

.btns.btns_ripple span {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    opacity: 0;
    border-radius: 50%;
    display: block;
    animation: anim-ripple 1.7s ease-in-out infinite;
    animation-delay: var(--delay);
    z-index: -1;
    background-image: linear-gradient(to top, rgba(252, 252, 252, 0.26), rgba(247, 247, 247, 0));
}

.loading {
    display: block;
    font-size: inherit;
}

.loading span {
    -webkit-text-fill-color: #fff;
    animation: dot 1.5s infinite;
    margin: 0 3px;
    opacity: 0;
}

.loading span:nth-of-type(1) {
    animation-delay: 0.0s;
}

.loading span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
    animation-delay: 0.4s;
}

.slidingVertical span {
    animation: topToBottom ease infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: block;
    background: linear-gradient(to left, #613a84, #6a3c84 6%, #763e83 11%, #894181 27%, #9e427c 42%, #b4487c 52%, #ca4c7a 64%, #ce6476 74%, #d4786f 87%, #d98a65);
    -webkit-background-clip: text;
    width: 100%;
    text-align: center;
    animation-duration: 12.5s;
}

.slidingVertical span:nth-child(2) {
    animation-delay: 2.5s;
    animation-duration: 8s;
}

.animated {
    transition: all 0.5s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition-delay: var(--delay);
    transition-duration: var(--duration);
}

.animated.slideDown {
    transform: translateY(-150%);
    opacity: 0;
}

.animated.slideInUp {
    transform: translateY(150%);
    opacity: 0;
}

.animated.fadeIn {
    opacity: 0;
}

.animated.expose {
    transform: scale(0) translateZ(-1px);
}

.animated.expandInDown {
    transform: scale3d(1, 0, 1);
    transform-origin: 100% 0% 0px;
}

.current {
    opacity: 1;
    visibility: visible;
}

.current .animated {
    transition: all 0.5s cubic-bezier(0.475, 0.425, 0, 0.995);
    transition-delay: var(--delay);
    transition-duration: var(--duration);
}

.current .slideDown, .current .slideInUp {
    transform: translate(0);
    opacity: 1;
}

.current .fadeIn {
    opacity: 1;
}

.current .expose {
    transform: scale(1) translateZ(0);
}

.current .expandInDown {
    transform: scale(1);
}

/* =================================*/
/* Custom keyframes animation for shazamQuran - added by mohammad Samak - 19-03-2019*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse2 {


    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3), 0 0 0 0px rgba(255, 255, 255, 0.2);
        transform: scale(0.9);
    }

    45% {
        transform: scale(1.1);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3), 0 0 0 0px rgba(255, 255, 255, 0.2);

    }
    76% {
        transform: scale(0.96);
    }
    100% {
        box-shadow: 0 0 0 20vmin rgba(255, 255, 255, 0), 0 0 0 10vmin rgba(255, 255, 255, 0);
        transform: scale(.9);
    }

}
@keyframes innerbeat {
    0% {transform: scale(1);}
    10% {transform: scale(1);}
    50% {transform: scale(1.15);}
    60% {transform: scale(1.05);}
    75% {transform: scale(1.1);}
}

@keyframes anim-ripple {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(3, 3, 1);
    }
}

@keyframes dot {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes push {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    }
    10% {
        opacity: 1;
        transform: translateX(0px);
    }
    25% {
        opacity: 1;
        transform: translateX(0px);
    }
    30% {
        opacity: 0;
        transform: translateX(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes offset {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    to {
        fill: #fff;
        stroke-width: 0;
    }
}

@keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pulseShadow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        box-shadow: 0 0 0 20vmin rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}



