@font-face {
    font-family: 'stc-bold';
    src: url("../fonts/STC-Bold.eot");
    src: local("?"), url("../fonts/STC-Bold.woff") format("woff"), url("../fonts/STC-Bold.ttf") format("truetype"), url("../fonts/STC-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
body{}
.eid_cont {
    width:842px;
    margin:0 auto;
}
.eid_card{
    width:842px;
    height: 595px;
    background:url('../images/eid_card_bg.jpg') no-repeat center center;
    background-size:100% 100%;
    position:relative;
}
.eid_card .greeter_name {
    position: absolute;
    right: 40px;
    top:70px;
    font-family: stc-bold,arial,sans-serif;
    font-size:30px;
    color:#712d81;
    border:none;
    background:transparent;
    text-align: right;
    outline: 0;
    line-height: 38px;
    direction: rtl;
    padding: 0 5px;
}
.download_card{
    background: #6f2c80;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: -49px 10px 10px;
    position: relative;
    font-family: stc-bold;
    line-height: 19px;
    transition: all ease 400ms;
}
.download_card:hover{
    background:#cc317b;
}
