:root{
    --primary-color : #FF2156;
    --primary-color-rgb: 255, 33, 86;
    --default-spacing: 20px;
    --secondary-colro:#3A4351;
    --ion-color-white: #ffffff;
    --ion-color-white-rgb: 255,255,255;


    --ion-color-primary: #FF2156;
    --ion-color-primary-rgb: 255,33,86;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #e01d4c;
    --ion-color-primary-tint: #ff3767;
}
