@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y7mnl3');
  src:  url('fonts/icomoon.eot?y7mnl3#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?y7mnl3') format('truetype'),
  url('fonts/icomoon.woff?y7mnl3') format('woff'),
  url('fonts/icomoon.svg?y7mnl3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down1:before {
  content: "\e9af";
}
.icon-chevron-left1:before {
  content: "\e9b0";
}
.icon-chevron-right1:before {
  content: "\e9b1";
}
.icon-chevron-up1:before {
  content: "\e9b2";
}
.icon-chevrons-down:before {
  content: "\e9b3";
}
.icon-chevrons-left:before {
  content: "\e9b4";
}
.icon-chevrons-right:before {
  content: "\e9b5";
}
.icon-chevrons-up:before {
  content: "\e9b6";
}
.icon-home4:before {
  content: "\e9b7";
}
.icon-mail:before {
  content: "\e9b8";
}
.icon-power:before {
  content: "\e9b9";
}
.icon-settings:before {
  content: "\e9ba";
}
.icon-star2:before {
  content: "\e9bb";
}
.icon-bookmark2:before {
  content: "\e923";
}
.icon-bookmark-outline:before {
  content: "\e93b";
}
.icon-bookmark-outline-add:before {
  content: "\e93e";
}
.icon-duplicate:before {
  content: "\e93f";
}
.icon-edit-copy:before {
  content: "\e940";
}
.icon-view-tile:before {
  content: "\e941";
}
.icon-home1:before {
  content: "\e942";
}
.icon-home2:before {
  content: "\e943";
}
.icon-home3:before {
  content: "\e944";
}
.icon-pencil:before {
  content: "\e945";
}
.icon-pencil2:before {
  content: "\e946";
}
.icon-quill:before {
  content: "\e947";
}
.icon-eyedropper:before {
  content: "\e948";
}
.icon-image2:before {
  content: "\e949";
}
.icon-images2:before {
  content: "\e94a";
}
.icon-camera1:before {
  content: "\e94b";
}
.icon-connection:before {
  content: "\e94c";
}
.icon-file-text:before {
  content: "\e94d";
}
.icon-profile:before {
  content: "\e94e";
}
.icon-file-empty:before {
  content: "\e94f";
}
.icon-files-empty:before {
  content: "\e950";
}
.icon-file-text2:before {
  content: "\e951";
}
.icon-file-picture:before {
  content: "\e952";
}
.icon-file-music:before {
  content: "\e953";
}
.icon-file-play:before {
  content: "\e954";
}
.icon-stack:before {
  content: "\e955";
}
.icon-folder2:before {
  content: "\e956";
}
.icon-folder-open2:before {
  content: "\e957";
}
.icon-folder-plus1:before {
  content: "\e958";
}
.icon-folder-minus1:before {
  content: "\e95e";
}
.icon-folder-download:before {
  content: "\e963";
}
.icon-folder-upload:before {
  content: "\e964";
}
.icon-price-tag:before {
  content: "\e965";
}
.icon-price-tags:before {
  content: "\e966";
}
.icon-barcode1:before {
  content: "\e967";
}
.icon-credit-card2:before {
  content: "\e968";
}
.icon-phone1:before {
  content: "\e969";
}
.icon-location:before {
  content: "\e96a";
}
.icon-location2:before {
  content: "\e96b";
}
.icon-compass1:before {
  content: "\e96f";
}
.icon-compass2:before {
  content: "\e970";
}
.icon-map2:before {
  content: "\e974";
}
.icon-history:before {
  content: "\e976";
}
.icon-clock2:before {
  content: "\e977";
}
.icon-bell2:before {
  content: "\e97d";
}
.icon-printer:before {
  content: "\e97e";
}
.icon-laptop1:before {
  content: "\e97f";
}
.icon-mobile1:before {
  content: "\e982";
}
.icon-mobile2:before {
  content: "\e985";
}
.icon-tablet1:before {
  content: "\e98b";
}
.icon-drawer:before {
  content: "\e98c";
}
.icon-drawer2:before {
  content: "\e990";
}
.icon-box-add:before {
  content: "\e996";
}
.icon-box-remove:before {
  content: "\e998";
}
.icon-download1:before {
  content: "\e999";
}
.icon-upload1:before {
  content: "\e99a";
}
.icon-user2:before {
  content: "\e99b";
}
.icon-users1:before {
  content: "\e99c";
}
.icon-user-plus1:before {
  content: "\e99d";
}
.icon-user-minus1:before {
  content: "\e99e";
}
.icon-user-check1:before {
  content: "\e99f";
}
.icon-hour-glass:before {
  content: "\e9a0";
}
.icon-spinner:before {
  content: "\e9a2";
}
.icon-spinner2:before {
  content: "\e9a4";
}
.icon-spinner3:before {
  content: "\e9a5";
}
.icon-search1:before {
  content: "\e9a7";
}
.icon-zoom-in:before {
  content: "\e9a8";
}
.icon-zoom-out:before {
  content: "\e9a9";
}
.icon-stats-dots:before {
  content: "\e9aa";
}
.icon-stats-bars:before {
  content: "\e9ac";
}
.icon-stats-bars2:before {
  content: "\e9ad";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link1:before {
  content: "\e9cb";
}
.icon-flag2:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye2:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-eye-minus:before {
  content: "\e9d0";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half2:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-smile1:before {
  content: "\e9e1";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea09";
}
.icon-question1:before {
  content: "\ea0a";
}
.icon-plus1:before {
  content: "\ea0b";
}
.icon-minus1:before {
  content: "\ea0c";
}
.icon-info1:before {
  content: "\ea0d";
}
.icon-cancel-circle:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea11";
}
.icon-checkmark2:before {
  content: "\ea12";
}
.icon-youtube1:before {
  content: "\ea9d";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox1:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge1:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-file-pdf2:before {
  content: "\eadf";
}
.icon-file-openoffice:before {
  content: "\eae0";
}
.icon-file-word2:before {
  content: "\eae1";
}
.icon-file-excel2:before {
  content: "\eae4";
}
.icon-address-book:before {
  content: "\e900";
}
.icon-address-card:before {
  content: "\e901";
}
.icon-angry:before {
  content: "\e902";
}
.icon-arrow-alt-circle-down:before {
  content: "\e903";
}
.icon-arrow-alt-circle-left:before {
  content: "\e904";
}
.icon-arrow-alt-circle-right:before {
  content: "\e905";
}
.icon-arrow-alt-circle-up:before {
  content: "\e906";
}
.icon-bell-slash:before {
  content: "\e907";
}
.icon-bell:before {
  content: "\e908";
}
.icon-bookmark:before {
  content: "\e909";
}
.icon-building:before {
  content: "\e90a";
}
.icon-calendar-alt:before {
  content: "\e90b";
}
.icon-calendar-check:before {
  content: "\e90c";
}
.icon-calendar-minus:before {
  content: "\e90d";
}
.icon-calendar-plus:before {
  content: "\e90e";
}
.icon-calendar-times:before {
  content: "\e90f";
}
.icon-calendar:before {
  content: "\e910";
}
.icon-caret-square-down:before {
  content: "\e911";
}
.icon-caret-square-left:before {
  content: "\e912";
}
.icon-caret-square-right:before {
  content: "\e913";
}
.icon-caret-square-up:before {
  content: "\e914";
}
.icon-chart-bar:before {
  content: "\e915";
}
.icon-check-circle:before {
  content: "\e916";
}
.icon-check-square:before {
  content: "\e917";
}
.icon-circle:before {
  content: "\e918";
}
.icon-clipboard:before {
  content: "\e919";
}
.icon-clock:before {
  content: "\e91a";
}
.icon-clone:before {
  content: "\e91b";
}
.icon-closed-captioning:before {
  content: "\e91c";
}
.icon-comment-alt:before {
  content: "\e91d";
}
.icon-comment-dots:before {
  content: "\e91e";
}
.icon-comment:before {
  content: "\e91f";
}
.icon-comments:before {
  content: "\e920";
}
.icon-compass:before {
  content: "\e921";
}
.icon-copy:before {
  content: "\e922";
}
.icon-credit-card:before {
  content: "\e924";
}
.icon-dizzy:before {
  content: "\e925";
}
.icon-dot-circle:before {
  content: "\e926";
}
.icon-edit:before {
  content: "\e927";
}
.icon-envelope-open:before {
  content: "\e928";
}
.icon-envelope:before {
  content: "\e929";
}
.icon-eye-slash:before {
  content: "\e92a";
}
.icon-eye:before {
  content: "\e92b";
}
.icon-file-alt:before {
  content: "\e92c";
}
.icon-file-archive:before {
  content: "\e92d";
}
.icon-file-audio:before {
  content: "\e92e";
}
.icon-file-code:before {
  content: "\e92f";
}
.icon-file-excel:before {
  content: "\e930";
}
.icon-file-image:before {
  content: "\e931";
}
.icon-file-pdf:before {
  content: "\e932";
}
.icon-file-powerpoint:before {
  content: "\e933";
}
.icon-file-video:before {
  content: "\e934";
}
.icon-file-word:before {
  content: "\e935";
}
.icon-file:before {
  content: "\e936";
}
.icon-flag:before {
  content: "\e937";
}
.icon-flushed:before {
  content: "\e938";
}
.icon-folder-open:before {
  content: "\e939";
}
.icon-folder:before {
  content: "\e93a";
}
.icon-frown-open:before {
  content: "\e93c";
}
.icon-frown:before {
  content: "\e93d";
}
.icon-handshake:before {
  content: "\e959";
}
.icon-hdd:before {
  content: "\e95a";
}
.icon-heart:before {
  content: "\e95b";
}
.icon-hospital:before {
  content: "\e95c";
}
.icon-hourglass:before {
  content: "\e95d";
}
.icon-id-card:before {
  content: "\e95f";
}
.icon-image:before {
  content: "\e960";
}
.icon-images:before {
  content: "\e961";
}
.icon-keyboard:before {
  content: "\e962";
}
.icon-lightbulb:before {
  content: "\e96c";
}
.icon-list-alt:before {
  content: "\e96d";
}
.icon-map:before {
  content: "\e96e";
}
.icon-meh:before {
  content: "\e971";
}
.icon-minus-square:before {
  content: "\e972";
}
.icon-money-bill-alt:before {
  content: "\e973";
}
.icon-newspaper:before {
  content: "\e975";
}
.icon-paper-plane:before {
  content: "\e978";
}
.icon-pause-circle:before {
  content: "\e979";
}
.icon-play-circle:before {
  content: "\e97a";
}
.icon-plus-square:before {
  content: "\e97b";
}
.icon-question-circle:before {
  content: "\e97c";
}
.icon-save:before {
  content: "\e980";
}
.icon-share-square:before {
  content: "\e981";
}
.icon-smile-wink:before {
  content: "\e983";
}
.icon-smile:before {
  content: "\e984";
}
.icon-square:before {
  content: "\e986";
}
.icon-star-half:before {
  content: "\e987";
}
.icon-star:before {
  content: "\e988";
}
.icon-sticky-note:before {
  content: "\e989";
}
.icon-stop-circle:before {
  content: "\e98a";
}
.icon-sun:before {
  content: "\e9ae";
}
.icon-thumbs-down:before {
  content: "\e98d";
}
.icon-thumbs-up:before {
  content: "\e98e";
}
.icon-times-circle:before {
  content: "\e98f";
}
.icon-trash-alt:before {
  content: "\e991";
}
.icon-user-circle:before {
  content: "\e992";
}
.icon-user:before {
  content: "\e993";
}
.icon-window-close:before {
  content: "\e994";
}
.icon-window-maximize:before {
  content: "\e995";
}
.icon-window-restore:before {
  content: "\e997";
}
.icon-amazon:before {
  content: "\e9a1";
}
.icon-android:before {
  content: "\e9a3";
}
.icon-angular:before {
  content: "\e9a6";
}
.icon-apple:before {
  content: "\e9ab";
}
.icon-bluetooth-b:before {
  content: "\e9bd";
}
.icon-bluetooth:before {
  content: "\e9be";
}
.icon-buromobelexperte:before {
  content: "\e9c0";
}
.icon-edge:before {
  content: "\e9fa";
}
.icon-facebook-f:before {
  content: "\ea04";
}
.icon-facebook-square:before {
  content: "\ea06";
}
.icon-firefox:before {
  content: "\ea08";
}
.icon-font-awesome-flag:before {
  content: "\ea10";
}
.icon-google-drive:before {
  content: "\ea2e";
}
.icon-google-play:before {
  content: "\ea2f";
}
.icon-google-plus-g:before {
  content: "\ea30";
}
.icon-google-plus-square:before {
  content: "\ea31";
}
.icon-google-plus:before {
  content: "\ea32";
}
.icon-google:before {
  content: "\ea34";
}
.icon-html5:before {
  content: "\ea43";
}
.icon-instagram:before {
  content: "\ea46";
}
.icon-internet-explorer:before {
  content: "\ea47";
}
.icon-js-square:before {
  content: "\ea50";
}
.icon-js:before {
  content: "\ea51";
}
.icon-leanpub:before {
  content: "\ea5c";
}
.icon-less:before {
  content: "\ea5d";
}
.icon-linkedin-in:before {
  content: "\ea5f";
}
.icon-linkedin:before {
  content: "\ea60";
}
.icon-medapps:before {
  content: "\ea6a";
}
.icon-microsoft:before {
  content: "\ea70";
}
.icon-paypal:before {
  content: "\ea8b";
}
.icon-sistrix:before {
  content: "\eabb";
}
.icon-snapchat-ghost:before {
  content: "\eac2";
}
.icon-snapchat-square:before {
  content: "\eac3";
}
.icon-soundcloud:before {
  content: "\eac5";
}
.icon-tumblr-square:before {
  content: "\eae2";
}
.icon-tumblr:before {
  content: "\eae3";
}
.icon-twitter-square:before {
  content: "\eae5";
}
.icon-twitter:before {
  content: "\eae6";
}
.icon-uber:before {
  content: "\eae8";
}
.icon-windows:before {
  content: "\eb01";
}
.icon-youtube-square:before {
  content: "\eb12";
}
.icon-youtube:before {
  content: "\eb13";
}
.icon-address-book1:before {
  content: "\eb16";
}
.icon-address-card1:before {
  content: "\eb17";
}
.icon-align-center:before {
  content: "\eb1a";
}
.icon-align-justify:before {
  content: "\eb1b";
}
.icon-align-left:before {
  content: "\eb1c";
}
.icon-align-right:before {
  content: "\eb1d";
}
.icon-angle-double-down:before {
  content: "\eb22";
}
.icon-angle-double-left:before {
  content: "\eb23";
}
.icon-angle-double-right:before {
  content: "\eb24";
}
.icon-angle-double-up:before {
  content: "\eb25";
}
.icon-angle-down:before {
  content: "\eb26";
}
.icon-angle-left:before {
  content: "\eb27";
}
.icon-angle-right:before {
  content: "\eb28";
}
.icon-angle-up:before {
  content: "\eb29";
}
.icon-arrow-alt-circle-down1:before {
  content: "\eb2f";
}
.icon-arrow-alt-circle-left1:before {
  content: "\eb30";
}
.icon-arrow-alt-circle-right1:before {
  content: "\eb31";
}
.icon-arrow-alt-circle-up1:before {
  content: "\eb32";
}
.icon-arrow-circle-down:before {
  content: "\eb33";
}
.icon-arrow-circle-left:before {
  content: "\eb34";
}
.icon-arrow-circle-right:before {
  content: "\eb35";
}
.icon-arrow-circle-up:before {
  content: "\eb36";
}
.icon-arrow-down:before {
  content: "\eb37";
}
.icon-arrow-left:before {
  content: "\eb38";
}
.icon-arrow-right:before {
  content: "\eb39";
}
.icon-arrow-up:before {
  content: "\eb3a";
}
.icon-arrows-alt-h:before {
  content: "\eb3b";
}
.icon-asterisk:before {
  content: "\eb3f";
}
.icon-at:before {
  content: "\eb40";
}
.icon-atlas:before {
  content: "\eb41";
}
.icon-award:before {
  content: "\eb44";
}
.icon-backspace:before {
  content: "\eb45";
}
.icon-backward:before {
  content: "\eb46";
}
.icon-ban:before {
  content: "\eb48";
}
.icon-band-aid:before {
  content: "\eb49";
}
.icon-barcode:before {
  content: "\eb4a";
}
.icon-bars:before {
  content: "\eb4b";
}
.icon-battery-empty:before {
  content: "\eb4f";
}
.icon-battery-full:before {
  content: "\eb50";
}
.icon-battery-half:before {
  content: "\eb51";
}
.icon-battery-quarter:before {
  content: "\eb52";
}
.icon-battery-three-quarters:before {
  content: "\eb53";
}
.icon-bed:before {
  content: "\eb54";
}
.icon-beer:before {
  content: "\eb55";
}
.icon-bell-slash1:before {
  content: "\eb56";
}
.icon-bell1:before {
  content: "\eb57";
}
.icon-bezier-curve:before {
  content: "\eb58";
}
.icon-bicycle:before {
  content: "\eb5a";
}
.icon-binoculars:before {
  content: "\eb5b";
}
.icon-book-open:before {
  content: "\eb64";
}
.icon-book-reader:before {
  content: "\eb65";
}
.icon-book:before {
  content: "\eb66";
}
.icon-bookmark1:before {
  content: "\eb67";
}
.icon-box-open:before {
  content: "\eb69";
}
.icon-boxes:before {
  content: "\eb6b";
}
.icon-building1:before {
  content: "\eb74";
}
.icon-bullhorn:before {
  content: "\eb75";
}
.icon-calculator:before {
  content: "\eb7b";
}
.icon-calendar-alt1:before {
  content: "\eb7c";
}
.icon-calendar-check1:before {
  content: "\eb7d";
}
.icon-calendar-minus1:before {
  content: "\eb7e";
}
.icon-calendar-plus1:before {
  content: "\eb7f";
}
.icon-calendar-times1:before {
  content: "\eb80";
}
.icon-calendar1:before {
  content: "\eb81";
}
.icon-camera-retro:before {
  content: "\eb82";
}
.icon-camera:before {
  content: "\eb83";
}
.icon-caret-down:before {
  content: "\eb8b";
}
.icon-caret-left:before {
  content: "\eb8c";
}
.icon-caret-right:before {
  content: "\eb8d";
}
.icon-caret-square-down1:before {
  content: "\eb8e";
}
.icon-caret-square-left1:before {
  content: "\eb8f";
}
.icon-caret-square-right1:before {
  content: "\eb90";
}
.icon-caret-square-up1:before {
  content: "\eb91";
}
.icon-caret-up:before {
  content: "\eb92";
}
.icon-chalkboard-teacher:before {
  content: "\eb96";
}
.icon-chalkboard:before {
  content: "\eb97";
}
.icon-charging-station:before {
  content: "\eb98";
}
.icon-chart-area:before {
  content: "\eb99";
}
.icon-chart-bar1:before {
  content: "\eb9a";
}
.icon-chart-line:before {
  content: "\eb9b";
}
.icon-chart-pie:before {
  content: "\eb9c";
}
.icon-check-circle1:before {
  content: "\eb9d";
}
.icon-check-double:before {
  content: "\eb9e";
}
.icon-check-square1:before {
  content: "\eb9f";
}
.icon-check:before {
  content: "\eba0";
}
.icon-chevron-circle-down:before {
  content: "\eba9";
}
.icon-chevron-circle-left:before {
  content: "\ebaa";
}
.icon-chevron-circle-right:before {
  content: "\ebab";
}
.icon-chevron-circle-up:before {
  content: "\ebac";
}
.icon-chevron-down:before {
  content: "\ebad";
}
.icon-chevron-left:before {
  content: "\ebae";
}
.icon-chevron-right:before {
  content: "\ebaf";
}
.icon-chevron-up:before {
  content: "\ebb0";
}
.icon-circle-notch:before {
  content: "\ebb3";
}
.icon-circle1:before {
  content: "\ebb4";
}
.icon-city:before {
  content: "\ebb5";
}
.icon-clipboard-check:before {
  content: "\ebb6";
}
.icon-clipboard-list:before {
  content: "\ebb7";
}
.icon-clipboard1:before {
  content: "\ebb8";
}
.icon-clock1:before {
  content: "\ebb9";
}
.icon-clone1:before {
  content: "\ebba";
}
.icon-cloud-download-alt:before {
  content: "\ebbc";
}
.icon-cloud-upload-alt:before {
  content: "\ebbd";
}
.icon-cloud:before {
  content: "\ebbe";
}
.icon-code-branch:before {
  content: "\ebc0";
}
.icon-code:before {
  content: "\ebc1";
}
.icon-cog:before {
  content: "\ebc3";
}
.icon-cogs:before {
  content: "\ebc4";
}
.icon-coins:before {
  content: "\ebc5";
}
.icon-columns:before {
  content: "\ebc6";
}
.icon-comment-alt1:before {
  content: "\ebc7";
}
.icon-comment-dots1:before {
  content: "\ebc9";
}
.icon-comment-slash:before {
  content: "\ebca";
}
.icon-comment1:before {
  content: "\ebcb";
}
.icon-compress:before {
  content: "\ebd0";
}
.icon-copy1:before {
  content: "\ebd4";
}
.icon-credit-card1:before {
  content: "\ebd7";
}
.icon-crop-alt:before {
  content: "\ebd8";
}
.icon-crop:before {
  content: "\ebd9";
}
.icon-cut:before {
  content: "\ebe0";
}
.icon-desktop:before {
  content: "\ebe3";
}
.icon-door-closed:before {
  content: "\ebf6";
}
.icon-door-open:before {
  content: "\ebf7";
}
.icon-dove:before {
  content: "\ebf9";
}
.icon-download:before {
  content: "\ebfa";
}
.icon-edit1:before {
  content: "\ec00";
}
.icon-ellipsis-h:before {
  content: "\ec02";
}
.icon-ellipsis-v:before {
  content: "\ec03";
}
.icon-envelope-open-text:before {
  content: "\ec04";
}
.icon-envelope-open1:before {
  content: "\ec05";
}
.icon-envelope-square:before {
  content: "\ec06";
}
.icon-envelope1:before {
  content: "\ec07";
}
.icon-eraser:before {
  content: "\ec09";
}
.icon-exclamation-circle:before {
  content: "\ec0c";
}
.icon-exclamation-triangle:before {
  content: "\ec0d";
}
.icon-exclamation:before {
  content: "\ec0e";
}
.icon-expand-arrows-alt:before {
  content: "\ec0f";
}
.icon-external-link-alt:before {
  content: "\ec11";
}
.icon-external-link-square-alt:before {
  content: "\ec12";
}
.icon-eye-slash1:before {
  content: "\ec14";
}
.icon-eye1:before {
  content: "\ec15";
}
.icon-fax:before {
  content: "\ec18";
}
.icon-feather-alt:before {
  content: "\ec19";
}
.icon-feather:before {
  content: "\ec1a";
}
.icon-female:before {
  content: "\ec1b";
}
.icon-fighter-jet:before {
  content: "\ec1c";
}
.icon-file-alt1:before {
  content: "\ec1d";
}
.icon-file-archive1:before {
  content: "\ec1e";
}
.icon-file-audio1:before {
  content: "\ec1f";
}
.icon-file-code1:before {
  content: "\ec20";
}
.icon-file-contract:before {
  content: "\ec21";
}
.icon-file-download:before {
  content: "\ec22";
}
.icon-file-excel1:before {
  content: "\ec23";
}
.icon-file-export:before {
  content: "\ec24";
}
.icon-file-image1:before {
  content: "\ec25";
}
.icon-file-import:before {
  content: "\ec26";
}
.icon-file-invoice-dollar:before {
  content: "\ec27";
}
.icon-file-invoice:before {
  content: "\ec28";
}
.icon-file-medical-alt:before {
  content: "\ec29";
}
.icon-file-medical:before {
  content: "\ec2a";
}
.icon-file-pdf1:before {
  content: "\ec2b";
}
.icon-file-powerpoint1:before {
  content: "\ec2c";
}
.icon-file-prescription:before {
  content: "\ec2d";
}
.icon-file-signature:before {
  content: "\ec2e";
}
.icon-file-upload:before {
  content: "\ec2f";
}
.icon-file-video1:before {
  content: "\ec30";
}
.icon-file-word1:before {
  content: "\ec31";
}
.icon-file1:before {
  content: "\ec32";
}
.icon-fill-drip:before {
  content: "\ec33";
}
.icon-fill:before {
  content: "\ec34";
}
.icon-film:before {
  content: "\ec35";
}
.icon-filter:before {
  content: "\ec36";
}
.icon-fingerprint:before {
  content: "\ec37";
}
.icon-first-aid:before {
  content: "\ec3a";
}
.icon-flag-checkered:before {
  content: "\ec3c";
}
.icon-flag1:before {
  content: "\ec3d";
}
.icon-flask:before {
  content: "\ec3e";
}
.icon-folder-minus:before {
  content: "\ec40";
}
.icon-folder-open1:before {
  content: "\ec41";
}
.icon-folder-plus:before {
  content: "\ec42";
}
.icon-folder1:before {
  content: "\ec43";
}
.icon-funnel-dollar:before {
  content: "\ec4b";
}
.icon-gamepad:before {
  content: "\ec4d";
}
.icon-gas-pump:before {
  content: "\ec4e";
}
.icon-gavel:before {
  content: "\ec4f";
}
.icon-gift:before {
  content: "\ec52";
}
.icon-globe-africa:before {
  content: "\ec56";
}
.icon-globe-americas:before {
  content: "\ec57";
}
.icon-globe-asia:before {
  content: "\ec58";
}
.icon-globe:before {
  content: "\ec59";
}
.icon-graduation-cap:before {
  content: "\ec5c";
}
.icon-grip-horizontal:before {
  content: "\ec6d";
}
.icon-grip-vertical:before {
  content: "\ec6e";
}
.icon-h-square:before {
  content: "\ec6f";
}
.icon-hand-holding-heart:before {
  content: "\ec71";
}
.icon-hand-holding-usd:before {
  content: "\ec72";
}
.icon-hdd1:before {
  content: "\ec84";
}
.icon-headphones-alt:before {
  content: "\ec86";
}
.icon-headphones:before {
  content: "\ec87";
}
.icon-heart1:before {
  content: "\ec89";
}
.icon-heartbeat:before {
  content: "\ec8a";
}
.icon-helicopter:before {
  content: "\ec8b";
}
.icon-home:before {
  content: "\ec8f";
}
.icon-hourglass-end:before {
  content: "\ec95";
}
.icon-hourglass-half:before {
  content: "\ec96";
}
.icon-hourglass-start:before {
  content: "\ec97";
}
.icon-hourglass1:before {
  content: "\ec98";
}
.icon-i-cursor:before {
  content: "\ec99";
}
.icon-id-badge1:before {
  content: "\ec9a";
}
.icon-id-card-alt:before {
  content: "\ec9b";
}
.icon-id-card1:before {
  content: "\ec9c";
}
.icon-image1:before {
  content: "\ec9d";
}
.icon-images1:before {
  content: "\ec9e";
}
.icon-inbox:before {
  content: "\ec9f";
}
.icon-indent:before {
  content: "\eca0";
}
.icon-industry:before {
  content: "\eca1";
}
.icon-infinity:before {
  content: "\eca2";
}
.icon-info-circle:before {
  content: "\eca3";
}
.icon-info:before {
  content: "\eca4";
}
.icon-kaaba:before {
  content: "\eca9";
}
.icon-key:before {
  content: "\ecaa";
}
.icon-keyboard1:before {
  content: "\ecab";
}
.icon-laptop-code:before {
  content: "\ecb3";
}
.icon-laptop:before {
  content: "\ecb4";
}
.icon-layer-group:before {
  content: "\ecb9";
}
.icon-less-than-equal:before {
  content: "\ecbc";
}
.icon-less-than:before {
  content: "\ecbd";
}
.icon-level-down-alt:before {
  content: "\ecbe";
}
.icon-level-up-alt:before {
  content: "\ecbf";
}
.icon-life-ring1:before {
  content: "\ecc0";
}
.icon-lightbulb1:before {
  content: "\ecc1";
}
.icon-link:before {
  content: "\ecc2";
}
.icon-list-alt1:before {
  content: "\ecc4";
}
.icon-list-ol:before {
  content: "\ecc5";
}
.icon-list-ul:before {
  content: "\ecc6";
}
.icon-list:before {
  content: "\ecc7";
}
.icon-location-arrow:before {
  content: "\ecc8";
}
.icon-lock-open:before {
  content: "\ecc9";
}
.icon-lock:before {
  content: "\ecca";
}
.icon-long-arrow-alt-down:before {
  content: "\eccb";
}
.icon-long-arrow-alt-left:before {
  content: "\eccc";
}
.icon-long-arrow-alt-right:before {
  content: "\eccd";
}
.icon-long-arrow-alt-up:before {
  content: "\ecce";
}
.icon-low-vision:before {
  content: "\eccf";
}
.icon-magic:before {
  content: "\ecd1";
}
.icon-magnet:before {
  content: "\ecd2";
}
.icon-mail-bulk:before {
  content: "\ecd3";
}
.icon-male:before {
  content: "\ecd4";
}
.icon-map-marked-alt:before {
  content: "\ecd5";
}
.icon-map-marked:before {
  content: "\ecd6";
}
.icon-map-marker-alt:before {
  content: "\ecd7";
}
.icon-map-marker:before {
  content: "\ecd8";
}
.icon-map-pin:before {
  content: "\ecd9";
}
.icon-map-signs:before {
  content: "\ecda";
}
.icon-map1:before {
  content: "\ecdb";
}
.icon-marker:before {
  content: "\ecdc";
}
.icon-microphone-alt-slash:before {
  content: "\eceb";
}
.icon-microphone-alt:before {
  content: "\ecec";
}
.icon-microphone-slash:before {
  content: "\eced";
}
.icon-microphone:before {
  content: "\ecee";
}
.icon-minus-circle:before {
  content: "\ecf0";
}
.icon-minus-square1:before {
  content: "\ecf1";
}
.icon-minus:before {
  content: "\ecf2";
}
.icon-mobile-alt:before {
  content: "\ecf3";
}
.icon-mobile:before {
  content: "\ecf4";
}
.icon-money-bill-alt1:before {
  content: "\ecf5";
}
.icon-money-bill-wave-alt:before {
  content: "\ecf6";
}
.icon-money-bill-wave:before {
  content: "\ecf7";
}
.icon-money-bill:before {
  content: "\ecf8";
}
.icon-money-check-alt:before {
  content: "\ecf9";
}
.icon-money-check:before {
  content: "\ecfa";
}
.icon-mosque:before {
  content: "\ecfe";
}
.icon-motorcycle:before {
  content: "\ecff";
}
.icon-mouse-pointer:before {
  content: "\ed00";
}
.icon-newspaper1:before {
  content: "\ed03";
}
.icon-paint-brush:before {
  content: "\ed0b";
}
.icon-paint-roller:before {
  content: "\ed0c";
}
.icon-palette:before {
  content: "\ed0d";
}
.icon-paper-plane1:before {
  content: "\ed0f";
}
.icon-paperclip:before {
  content: "\ed10";
}
.icon-passport:before {
  content: "\ed14";
}
.icon-paste:before {
  content: "\ed16";
}
.icon-pause-circle1:before {
  content: "\ed17";
}
.icon-pause:before {
  content: "\ed18";
}
.icon-pen-alt:before {
  content: "\ed1b";
}
.icon-pen-nib:before {
  content: "\ed1d";
}
.icon-pen:before {
  content: "\ed1f";
}
.icon-pencil-alt:before {
  content: "\ed20";
}
.icon-pencil-ruler:before {
  content: "\ed21";
}
.icon-phone-slash:before {
  content: "\ed25";
}
.icon-phone-square:before {
  content: "\ed26";
}
.icon-phone-volume:before {
  content: "\ed27";
}
.icon-phone:before {
  content: "\ed28";
}
.icon-pills:before {
  content: "\ed2a";
}
.icon-place-of-worship:before {
  content: "\ed2b";
}
.icon-plane-arrival:before {
  content: "\ed2c";
}
.icon-plane-departure:before {
  content: "\ed2d";
}
.icon-plane:before {
  content: "\ed2e";
}
.icon-play-circle1:before {
  content: "\ed2f";
}
.icon-play:before {
  content: "\ed30";
}
.icon-plug:before {
  content: "\ed31";
}
.icon-plus-square1:before {
  content: "\ed33";
}
.icon-plus:before {
  content: "\ed34";
}
.icon-podcast:before {
  content: "\ed35";
}
.icon-poll-h:before {
  content: "\ed36";
}
.icon-poll:before {
  content: "\ed37";
}
.icon-poop:before {
  content: "\ed39";
}
.icon-portrait:before {
  content: "\ed3a";
}
.icon-pound-sign:before {
  content: "\ed3b";
}
.icon-power-off:before {
  content: "\ed3c";
}
.icon-print:before {
  content: "\ed42";
}
.icon-qrcode:before {
  content: "\ed46";
}
.icon-question-circle1:before {
  content: "\ed47";
}
.icon-question:before {
  content: "\ed48";
}
.icon-quote-left:before {
  content: "\ed4a";
}
.icon-quote-right:before {
  content: "\ed4b";
}
.icon-receipt:before {
  content: "\ed4e";
}
.icon-ribbon:before {
  content: "\ed56";
}
.icon-route:before {
  content: "\ed5a";
}
.icon-rss-square:before {
  content: "\ed5b";
}
.icon-rss:before {
  content: "\ed5c";
}
.icon-save1:before {
  content: "\ed65";
}
.icon-search-dollar:before {
  content: "\ed68";
}
.icon-search-location:before {
  content: "\ed69";
}
.icon-search-minus:before {
  content: "\ed6a";
}
.icon-search-plus:before {
  content: "\ed6b";
}
.icon-search:before {
  content: "\ed6c";
}
.icon-server:before {
  content: "\ed6e";
}
.icon-share-alt-square:before {
  content: "\ed70";
}
.icon-share-alt:before {
  content: "\ed71";
}
.icon-share-square1:before {
  content: "\ed72";
}
.icon-share:before {
  content: "\ed73";
}
.icon-shekel-sign:before {
  content: "\ed74";
}
.icon-shield-alt:before {
  content: "\ed75";
}
.icon-shopping-bag:before {
  content: "\ed79";
}
.icon-shopping-basket:before {
  content: "\ed7a";
}
.icon-sign-in-alt:before {
  content: "\ed7e";
}
.icon-sign-out-alt:before {
  content: "\ed80";
}
.icon-sign:before {
  content: "\ed81";
}
.icon-signal:before {
  content: "\ed82";
}
.icon-signature:before {
  content: "\ed83";
}
.icon-sitemap:before {
  content: "\ed84";
}
.icon-sliders-h:before {
  content: "\ed86";
}
.icon-sort-alpha-down:before {
  content: "\ed8f";
}
.icon-sort-alpha-up:before {
  content: "\ed90";
}
.icon-sort-amount-down:before {
  content: "\ed91";
}
.icon-sort-amount-up:before {
  content: "\ed92";
}
.icon-sort-down:before {
  content: "\ed93";
}
.icon-sort-numeric-down:before {
  content: "\ed94";
}
.icon-sort-numeric-up:before {
  content: "\ed95";
}
.icon-sort-up:before {
  content: "\ed96";
}
.icon-sort:before {
  content: "\ed97";
}
.icon-space-shuttle:before {
  content: "\ed99";
}
.icon-splotch:before {
  content: "\ed9b";
}
.icon-square1:before {
  content: "\ed9f";
}
.icon-star-half-alt:before {
  content: "\eda2";
}
.icon-star-half1:before {
  content: "\eda3";
}
.icon-star-of-life:before {
  content: "\eda5";
}
.icon-star1:before {
  content: "\eda6";
}
.icon-sticky-note1:before {
  content: "\edaa";
}
.icon-stop:before {
  content: "\edac";
}
.icon-store-alt:before {
  content: "\edae";
}
.icon-store:before {
  content: "\edaf";
}
.icon-stream:before {
  content: "\edb0";
}
.icon-subway:before {
  content: "\edb5";
}
.icon-table:before {
  content: "\edc3";
}
.icon-tablet-alt:before {
  content: "\edc4";
}
.icon-tablet:before {
  content: "\edc5";
}
.icon-tachometer-alt:before {
  content: "\edc7";
}
.icon-tag:before {
  content: "\edc8";
}
.icon-tags:before {
  content: "\edc9";
}
.icon-tasks:before {
  content: "\edcb";
}
.icon-th-large:before {
  content: "\edd2";
}
.icon-th-list:before {
  content: "\edd3";
}
.icon-th:before {
  content: "\edd4";
}
.icon-thermometer-empty:before {
  content: "\edd6";
}
.icon-thermometer-full:before {
  content: "\edd7";
}
.icon-thermometer-half:before {
  content: "\edd8";
}
.icon-thermometer-quarter:before {
  content: "\edd9";
}
.icon-thermometer-three-quarters:before {
  content: "\edda";
}
.icon-thumbs-down1:before {
  content: "\eddc";
}
.icon-thumbs-up1:before {
  content: "\eddd";
}
.icon-thumbtack:before {
  content: "\edde";
}
.icon-times-circle1:before {
  content: "\ede0";
}
.icon-times:before {
  content: "\ede1";
}
.icon-tint-slash:before {
  content: "\ede2";
}
.icon-tint:before {
  content: "\ede3";
}
.icon-toggle-off:before {
  content: "\ede5";
}
.icon-toggle-on:before {
  content: "\ede6";
}
.icon-trash-alt1:before {
  content: "\edf0";
}
.icon-trash:before {
  content: "\edf1";
}
.icon-tty:before {
  content: "\edfa";
}
.icon-tv:before {
  content: "\edfb";
}
.icon-undo-alt:before {
  content: "\edff";
}
.icon-undo:before {
  content: "\ee00";
}
.icon-unlink:before {
  content: "\ee03";
}
.icon-unlock-alt:before {
  content: "\ee04";
}
.icon-unlock:before {
  content: "\ee05";
}
.icon-upload:before {
  content: "\ee06";
}
.icon-user-alt-slash:before {
  content: "\ee07";
}
.icon-user-alt:before {
  content: "\ee08";
}
.icon-user-astronaut:before {
  content: "\ee09";
}
.icon-user-check:before {
  content: "\ee0a";
}
.icon-user-circle1:before {
  content: "\ee0b";
}
.icon-user-clock:before {
  content: "\ee0c";
}
.icon-user-cog:before {
  content: "\ee0d";
}
.icon-user-edit:before {
  content: "\ee0e";
}
.icon-user-friends:before {
  content: "\ee0f";
}
.icon-user-graduate:before {
  content: "\ee10";
}
.icon-user-lock:before {
  content: "\ee11";
}
.icon-user-md:before {
  content: "\ee12";
}
.icon-user-minus:before {
  content: "\ee13";
}
.icon-user-ninja:before {
  content: "\ee14";
}
.icon-user-plus:before {
  content: "\ee15";
}
.icon-user-secret:before {
  content: "\ee16";
}
.icon-user-shield:before {
  content: "\ee17";
}
.icon-user-slash:before {
  content: "\ee18";
}
.icon-user-tag:before {
  content: "\ee19";
}
.icon-user-tie:before {
  content: "\ee1a";
}
.icon-user-times:before {
  content: "\ee1b";
}
.icon-user1:before {
  content: "\ee1c";
}
.icon-users-cog:before {
  content: "\ee1d";
}
.icon-users:before {
  content: "\ee1e";
}
.icon-utensil-spoon:before {
  content: "\ee1f";
}
.icon-utensils:before {
  content: "\ee20";
}
.icon-video:before {
  content: "\ee28";
}
.icon-volume-down:before {
  content: "\ee2b";
}
.icon-volume-off:before {
  content: "\ee2c";
}
.icon-volume-up:before {
  content: "\ee2d";
}
.icon-walking:before {
  content: "\ee2e";
}
.icon-wallet:before {
  content: "\ee2f";
}
.icon-window-maximize1:before {
  content: "\ee36";
}
.icon-window-restore1:before {
  content: "\ee38";
}
.icon-wrench:before {
  content: "\ee3c";
}
