
<div class="oj-hybrid-padding">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page_title_section">
                <div>
                    <i class="icon-file-pdf2"></i>
                    <span>MOFA Employee CV Report</span>
                </div>

               

            </h3>
        </div>
        <div class="col-lg-12 pdf_viewer">
            <object data="../files/pdf_sample.pdf?#view=FitH" class="pdf_viewer_object"></object>
        </div>
        <div class="col-lg-12 align-right">
            <oj-button id='print' class="btns btn-default">Print</oj-button>
            <oj-button id='cancel' class="btns btn-default">Save as</oj-button>


        </div>
    </div>


</div>
