
<div class="oj-hybrid-padding">
    <div class="row">
        <div class="col-lg-12">
                <oj-collapsible expanded="true">
            <h3 class="page_title_section no-border no-shadow no-margin widgetHeader" slot="header">
                <div>
                    <i class="icon-user2"></i>
                    <span>Mohamed Ahmed Ali</span>
                </div>
                <div class="header_notes" style="display:none">
                        The notes massege will be here
                </div>
            </h3>
        



        <div class="col-lg-12 main_form_holder display_section">
                <div class="row display_row">
                    <div class="col-lg-6 form_items d-flex">
                        <oj-label class="display_desc">
                                Assigning Category
                        </oj-label>
                        <oj-label class="display_label">
                            Diplomat
                        </oj-label>
                    </div>
                    <div class="col-lg-6 form_items d-flex">
                        <oj-label class="display_desc">
                                Postion
                        </oj-label>
                        <oj-label class="display_label">
                                Secretary
                        </oj-label>
                    </div>
                    <div class="col-lg-6 form_items d-flex">
                        <oj-label class="display_desc">
                            Location
                        </oj-label>
                        <oj-label class="display_label">
                            Riyadh
                        </oj-label>
                    </div>
                    <div class="col-lg-6 form_items d-flex">
                        <oj-label class="display_desc">
                                Employee Number
                        </oj-label>
                        <oj-label class="display_label">
                            34343
                        </oj-label>
                    </div>
                    <div class="col-lg-6 form_items d-flex">
                        <oj-label class="display_desc">
                                Grade
                        </oj-label>
                        <oj-label class="display_label">
                                Diplomatic
                        </oj-label>
                    </div>
                    <div class="col-lg-6 form_items d-flex">
                        <oj-label class="display_desc">
                                Deparment
                        </oj-label>
                        <oj-label class="display_label">
                            HR Deparment
                        </oj-label>
                    </div>

    
                </div>
            </div>
            </oj-collapsible>
        </div>

            <div class="col-lg-12">
                    <oj-collapsible expanded="true">
                    <h3 class="page_title_section no-border no-shadow no-margin widgetHeader" slot="header">
                        <div>
                            <i class="icon-info1"></i>
                            <span>Basic Details</span>
                        </div>
                        
     
                        
                    </h3>
                    <div class="" style="    display: flex;justify-content: flex-end;    margin: -10px 0 0 0;" >
                            
                    <oj-button id='add' class="btns btn-default bordered_btn " ><i class="icon-plus"></i> Add </oj-button>
                    
                </div>
            <div class="col-lg-12 main_form_holder display_section">
                    <div class="row display_row">
                        <div class="col-lg-6 form_items d-flex">
                            <oj-label class="display_desc">
                                    Full Name
                            </oj-label>
                            <oj-label class="display_label">
                                Mohammed Ahmed Ali
                            </oj-label>
                        </div>
                        <div class="col-lg-6 form_items d-flex">
                            <oj-label class="display_desc">
                                    Marital Status
                            </oj-label>
                            <oj-label class="display_label">
                                    Married
                            </oj-label>
                        </div>
                        <div class="col-lg-6 form_items d-flex">
                            <oj-label class="display_desc">
                                Date of Birth
                            </oj-label>
                            <oj-label class="display_label">
                                    12-12-99   
                            </oj-label>
                        </div>
                        <div class="col-lg-6 form_items d-flex">
                            <oj-label class="display_desc">
                                    Civil Identity Number
                            </oj-label>
                            <oj-label class="display_label">
                                545454545
                            </oj-label>
                        </div>
                        <div class="col-lg-6 form_items d-flex">
                            <oj-label class="display_desc">
                                    Employee Number
                            </oj-label>
                            <oj-label class="display_label">
                                    1234543
                            </oj-label>
                        </div>
                        <div class="col-lg-6 form_items d-flex">
                            <oj-label class="display_desc">
                                    Organization Email
                            </oj-label>
                            <oj-label class="display_label">
                               mail@yahoo.com
                            </oj-label>
                        </div>
    
        
                    </div>
                </div>
                </oj-collapsible>
            </div>

                <div class="col-lg-12">
                        <oj-collapsible expanded="true">
                        <h3 class="page_title_section no-border no-shadow no-margin widgetHeader" slot="header">
                            <div>
                                <i class="icon-phone"></i>
                                <span>Phone Number</span>
                            </div>
                         
                        </h3>
                        <div class="" style="    display: flex;justify-content: flex-end;    margin: -10px 0 0 0;" >
                            
                                <oj-button id='add' class="btns btn-default bordered_btn " ><i class="icon-plus"></i> Add </oj-button>
                                
                            </div>
                        
                    
                <div class="col-lg-12 main_form_holder display_section">
                        <div class="row display_row">
                            <div class="col-lg-6 form_items d-flex">
                                <oj-label class="display_desc">
                                        Work Ext
                                </oj-label>
                                <oj-label class="display_label">
                                    345
                                </oj-label>
                            </div>
                            <div class="col-lg-6 form_items d-flex">
                                <oj-label class="display_desc">
                                        Mobile
                                </oj-label>
                                <oj-label class="display_label">
                                        05666662626
                                </oj-label>
                            </div>
                            <div class="col-lg-6 form_items d-flex">
                                <oj-label class="display_desc">
                                    SecondMobile
                                </oj-label>
                                <oj-label class="display_label">
                                    055565544333
                                </oj-label>
                            </div>
                            <div class="col-lg-6 form_items d-flex">
                                <oj-label class="display_desc">
                                        Work Number
                                </oj-label>
                                <oj-label class="display_label">
                                    534566444
                                </oj-label>
                            </div>
                       
        
            
                        </div>
                    </div>
                    </oj-collapsible>
                </div>

                    <div class="col-lg-12">
                            <oj-collapsible expanded="true">
                            <h3 class="page_title_section no-border no-shadow no-margin widgetHeader" slot="header">
                                <div>
                                    <i class="icon-home1"></i>
                                    <span>Address</span>
                                </div>
                                
                            </h3>
                            <div class="" style="    display: flex;justify-content: flex-end;    margin: -10px 0 0 0;" >
                            
                                    <oj-button id='add' class="btns btn-default bordered_btn " ><i class="icon-plus"></i> Add </oj-button>
                                    
                                </div>
                       
                            
                    <div class="col-lg-12 main_form_holder display_section">
                            <div class="row display_row">
                                <div class="col-lg-6 form_items d-flex">
                                    <oj-label class="display_desc">
                                            Address 1
                                    </oj-label>
                                    <oj-label class="display_label">
                                        Riyadh
                                    </oj-label>
                                </div>
                                <div class="col-lg-6 form_items d-flex">
                                    <oj-label class="display_desc">
                                            Address 2
                                    </oj-label>
                                    <oj-label class="display_label">
                                            Malaz
                                    </oj-label>
                                </div>
                                <div class="col-lg-6 form_items d-flex">
                                    <oj-label class="display_desc">
                                        Street 
                                    </oj-label>
                                    <oj-label class="display_label">
                                        23 salah eldeen
                                    </oj-label>
                                </div>
                                <div class="col-lg-6 form_items d-flex">
                                    <oj-label class="display_desc">
                                            Area
                                    </oj-label>
                                    <oj-label class="display_label">
                                        Malaz
                                    </oj-label>
                                </div>
                                <div class="col-lg-6 form_items d-flex">
                                    <oj-label class="display_desc">
                                            PO Box
                                    </oj-label>
                                    <oj-label class="display_label">
                                            56434
                                    </oj-label>
                                </div>
                                <div class="col-lg-6 form_items d-flex">
                                    <oj-label class="display_desc">
                                            City
                                    </oj-label>
                                    <oj-label class="display_label">
                                        Riyadh
                                    </oj-label>
                                </div>
                                <div class="col-lg-6 form_items d-flex">
                                        <oj-label class="display_desc">
                                                Postal Code
                                        </oj-label>
                                        <oj-label class="display_label">
                                            231323
                                        </oj-label>
                                    </div>
            
                
                            </div>
                        </div>
                        </oj-collapsible>
                    </div>

                        <div class="col-lg-12">
                                <oj-collapsible expanded="true">
                                <h3 class="page_title_section no-border no-shadow no-margin widgetHeader" slot="header">
                                    <div>
                                        <i class="icon-man-woman"></i>
                                        <span>Relative Contacts</span>
                                    </div>
                                   
                                </h3>
                                
                           

                            <div class="col-lg-12">
                                            <!-- <oj-collapsible expanded="true"> -->
                                                 <div class="widgetHeader table_filter_add" >
                                                     <div class="filter_input">
                                                         <oj-input-text id="filter" maxlength="30" placeholder="Type to filter" class="filter_table" on-raw-value-changed="[[handleValueChanged]]" value="{{filter}}"></oj-input-text>
                                                         <oj-button id="clearButton"  on-oj-action='[[clearClick]]' display='icons' chroming='half'>
                                                                <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-cross03'></span>Clear </oj-button>
                                                     </div>
                                                     <oj-button id='add' class="btns btn-default bordered_btn addBtn" ><i class="icon-plus"></i> Add </oj-button>
                                                       
                                 
                                                 </div>
                                                 <div class="widgetContent no-padding">
                                 
                                 
                                                     <oj-table id='table' aria-label='Departments Table'
                                                               class="data_tables"
                                                               data='[[datasource]]'
                                                               row-renderer='[[oj.KnockoutTemplateUtils.getRenderer("row_template", true)]]'
                                                               selection-required='true'
                                                               selection-mode='{"row": "single", "column": "single"}'
                                                               dnd='{"reorder": {"columns": "enabled"}}'
                                                               scroll-policy='loadMoreOnScroll'
                                                               scroll-policy-options='{"fetchSize": 10}'
                                                               columns='[[tableHeader2]]'
                                                               style='width: 100% !important;max-height:400px;'>
                                                     </oj-table>
                                                     <script type="text/html" id="row_template">
                                                         <tr>
                                                             <!-- ko if: $context['rowContext']['depth'] == 1 -->
                                                             
                                                             <td class="centered_text table_icon"  width="1%">
                                                                    <oj-button display='icons' chroming='half'><i class="icon-first-aid" ></i></oj-button>
                                                            
                                                                </td>
                                                                <td  width="1%">
                                                            
                                                                        <oj-row-expander context='[[$context.rowContext]]'></oj-row-expander>
                                                                    </td>
                                                             <td>
                                                                 <span data-bind="text: name"></span>
                                                             </td>
                                                             <td>
                                                                 <span data-bind="text: start"></span>
                                                             </td>
                                                             <td>
                                                                 <span data-bind="text: start"></span>
                                                             </td>
                                                             <td>
                                                                 <span data-bind="text: amount"></span>
                                                             </td>
                                                             <td>
                                                                    <span data-bind="text: status"></span>
                                                                </td>
                                                                <td>
                                                                        <span data-bind="text: status"></span>
                                                                    </td>
                                                             <td>
                                                                 <span data-bind="text: status"></span>
                                                             </td>
                                                             <td class="centered_text table_icon">
                                                                 <oj-button display='icons' chroming='half'><i class="icon-edit" ></i></oj-button>
                                                                 <oj-button display='icons' chroming='half'><i class="icon-trash-alt"></i></oj-button>
                                                             </td>
                                                             <!-- /ko -->
                                                             <!-- ko if: $context['rowContext']['depth'] == 2 -->
                                 
                                                             <td colspan="10">
                                                                 <span data-bind="text: detail"></span>
                                 
                                                             </td>
                                 
                                                             <!-- /ko -->
                                                         </tr>
                                                     </script>
                                 
                                 
                                 
                                                 </div>
                                            <!-- </oj-collapsible> -->

                            </div>
                            </oj-collapsible>
                            </div>

                            <div class="col-lg-12">
                                    <oj-collapsible expanded="true">
                                    <h3 class="page_title_section no-border no-shadow no-margin widgetHeader" slot="header">
                                        <div>
                                            <i class="icon-id-card"></i>
                                            <span>Saudi Hafiza</span>
                                        </div>
                                       
                                    </h3>
                                    
                               
    
                                <div class="col-lg-12">
                                                <!-- <oj-collapsible expanded="true"> -->
                                                     <div class="widgetHeader table_filter_add" >
                                                         <div class="filter_input">
                                                             <oj-input-text id="filter2" maxlength="30" placeholder="Type to filter" class="filter_table" on-raw-value-changed="[[handleValueChanged]]" value="{{filter2}}"></oj-input-text>
                                                             <oj-button id="clearButton"  on-oj-action='[[clearClick2]]' display='icons' chroming='half'>
                                                                    <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-cross03'></span>Clear </oj-button>
                                                            </div>
                                                         <oj-button id='add' class="btns btn-default bordered_btn addBtn" on-oj-action="[[saudihafizaadd]]"><i class="icon-plus"></i> Add </oj-button>

                                                     </div>
                                                     <div class="widgetContent no-padding">

                                                         <oj-table id='table' aria-label='Departments Table'
                                                                   class="data_tables"
                                                                   data='[[datasource]]'
                                                                   row-renderer='[[oj.KnockoutTemplateUtils.getRenderer("hafiza_row_template", true)]]'
                                                                   selection-required='true'
                                                                   selection-mode='{"row": "single", "column": "single"}'
                                                                   dnd='{"reorder": {"columns": "enabled"}}'
                                                                   scroll-policy='loadMoreOnScroll'
                                                                   scroll-policy-options='{"fetchSize": 10}'
                                                                   columns='[[tableHeader]]'
                                                                   style='width: 100% !important;max-height:400px;'>
                                                         </oj-table>
                                                         <script type="text/html" id="hafiza_row_template">
                                                             <tr>
                                                                 <!-- ko if: $context['rowContext']['depth'] == 1 -->
                                                                 <td width="1%">
                                     
                                                                     <oj-row-expander context='[[$context.rowContext]]'></oj-row-expander>
                                                                 </td>
                                                                 <td>
                                                                     <span data-bind="text: name"></span>
                                                                 </td>
                                                                 <td>
                                                                     <span data-bind="text: start"></span>
                                                                 </td>
                                                                 <td>
                                                                     <span data-bind="text: start"></span>
                                                                 </td>
                                                                 <td>
                                                                     <span data-bind="text: amount"></span>
                                                                 </td>
                                                                 <td>
                                                                     <span data-bind="text: status"></span>
                                                                 </td>
                                                                 <td>
                                                                     <span data-bind="text: status"></span>
                                                                 </td>
                                                                 <td class="centered_text table_icon">
                                                                     <oj-button display='icons' chroming='half'><i class="icon-edit" ></i></oj-button>
                                                                     <oj-button display='icons' chroming='half'><i class="icon-trash-alt"></i></oj-button>
                                                                 </td>
                                                                 <!-- /ko -->
                                                                 <!-- ko if: $context['rowContext']['depth'] == 2 -->
                                     
                                                                 <td colspan="8">
                                                                     <span data-bind="text: detail"></span>
                                     
                                                                 </td>
                                     
                                                                 <!-- /ko -->
                                                             </tr>
                                                         </script>
                                     
                                     
                                     
                                                     </div>
                                                <!-- </oj-collapsible> -->
    
                                </div>
                                </oj-collapsible>
                                </div>
       

                                <br><br><br><br>
    </div>






</div>
