/*::-webkit-scrollbar {
    background: #e5e5e5;
    overflow: visible;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
    border: solid #FDFCFA;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.8)
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 3px 3px;
    min-width: 100px;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:vertical {
    border-width: 3px 3px;
    min-height: 100px;
    cursor: pointer;
    border-radius:10px;
}
::-webkit-scrollbar-track-piece {
    background-color: #FDFCFA;
    border-left:0 #e5e5e5 solid;
}
::-webkit-scrollbar-corner {
    background: #FDFCFA;
}
::-webkit-scrollbar-thumb {
    background-color: #501f6e;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #e3007a;
}
*/

@font-face {
    font-family: 'stc-bold';
    src: url("../fonts/STC-Bold.eot");
    /* for non-IE */
    src: local("?"), url("../fonts/STC-Bold.woff") format("woff"), url("../fonts/STC-Bold.ttf") format("truetype"), url("../fonts/STC-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-italic';
    src: url("../fonts/STC-Italic.eot");
    src: local("?"), url("../fonts/STC-Italic.woff") format("woff"), url("../fonts/STC-Italic.ttf") format("truetype"), url("../fonts/STC-Italic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-light';
    src: url("../fonts/STC-Light.eot");
    src: local("?"), url("../fonts/STC-Light.woff") format("woff"), url("../fonts/STC-Light.ttf") format("truetype"), url("../fonts/STC-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'stc-regular';
    src: url("../fonts/STC-Regular.eot");
    src: local("?"), url("../fonts/STC-Regular.woff") format("woff"), url("../fonts/STC-Regular.ttf") format("truetype"), url("../fonts/STC-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    background-size: 4px 4px;
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .9) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, .9) 75%, transparent 75%, transparent);
    font-family: arial, sans-serif;
}

html{overflow-x: hidden;}

a, a:active {
    outline: 0;
}
header {
    background: #fff;
    height: 67px;
    z-index: 22;
    position: relative;
}
header .stc_logo {
    display: block;
    width: 143px;
    height: 62px;
    margin: 0;
    background: url(../images/stc_logo.jpg) no-repeat left top;
    font-size: 0;
}
.main_content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.navbar.top_menu {
    background: #8d569a;
    border-radius: 0px;
    border: none;
    z-index: 22;
}
.navbar.top_menu .navbar-nav {
    max-width: 1200px;
    float: none;
    margin: 0 auto;
}
.navbar.top_menu .navbar-nav>.active>a, .navbar.top_menu .navbar-nav>.active>a:hover, .navbar.top_menu .navbar-nav>.active>a:focus {
    background: #712c81;
    color: #f2bd55;
}
.navbar.top_menu .navbar-nav>li>a {
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    font-family: stc-light
}
.navbar.top_menu .navbar-nav>li>a span {
    color: #fff;
    margin-right: 5px;
}
.navbar.top_menu .navbar-nav>li>a:hover {
    color: #f2bd55;
}
.user_display img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: solid 2px #e8e6e6;
    margin-top: 8px;
    margin-right: 10px;
}
.user_display span {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.user_display span.glyphicon {
    width: 20px;
    color: #d9467f
}
.user_display span h3, .user_display span h4 {
    display: block;
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    color: #666666;
}
.user_display span h3 {
    font-weight: normal;
    font-size: 12px;
}
.user_display span h4 {
    color: #712c81;
    font-family: stc-light;
}
.grid-stack.dashboard {
    margin-bottom: 6px;
}
h1.title {
    color: #712c81;
    text-transform: uppercase;
    font-size: 30px;
    margin: 7px 0 14px;
    padding: 0;
    font-family: "stc-light", arial, sans-serif;
    font-weight: normal;
}
.language_select a {
    font-size: 17px;
    margin-top: 15px;
    font-family: "stc-light", arial, sans-serif;
    color: #666666;
    display: block;
}
.language_select a span.glyphicon-globe {
    font-size: 21px;
    margin-left: 5px;
    color: #da3f7b;
    margin-top: 4px;
}
.language_select a:hover {
    color: #8d569a;
}
.language_select a:hover span.glyphicon-globe {
    font-size: 21px;
    margin-left: 5px;
    color: #da3f7b;
    margin-top: 4px;
}
/*left submenu classes*/
h2.submenu_title {
    background: #e16595;
    width: 100%;
    margin: 0 0 5px;
    padding: 12px 10px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 3px;
    font-family: "stc-light", arial, sans-serif;
    font-weight: normal;
}
h2.submenu_title i {
    right: 20px;
    position: absolute;
    font-size: 24px;
    margin-top: -5px;
}
.submenu_cont {
    background: #f2f2f3;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
}
.submenu_cont:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: solid 10px transparent;
    border-bottom-color: #f2f2f3;
    margin-top: -29px;
    left: 40%;
}
.submenu_cont  a {
    display:block;
    border-top:dotted 1px #d1d1d2;
    color:#4e2f54;
    font-size:14px;
    padding:10px 0;
    position:relative;
}
.submenu_cont a:hover{color:#e16595;}
.submenu_cont a:first-child{border-top:none;}
.submenu_cont a i{color:#cccccc;font-size:18px;margin-right:8px;}
.submenu_cont a.active{color:#fff;background:#8d569a;width: 112%;margin-left: -10px;padding-left: 10px;}
.submenu_cont a.active i {color:#fff}
.submenu_cont  a.qitaf_circle i:after {content:'';width: 7px;height:5px;background:#fff;position:absolute;left: 4px;top: 12px;border-radius:50%;opacity: 0.7;}
.submenu_cont  a.qitaf_circle.active i:after {background: #E16595;left: 14px;}


/*Add widgets classes*/
.add_widget {width: 64px;height: 64px;border-radius:50%;background:#da3f7b;color: #fff;font-size: 30px;padding: 12px 0;text-align:center;display: inline-block;transition:all ease 0.45s;cursor:pointer;z-index: 100;right: 20px;position: absolute;margin-top: -10px;}
.add_widget:hover,.add_widget.active  {background:#fff;color:#da3f7b;}
.btns_shadow{box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.6);}
/*Footer Classes*/
footer {
    width: 100%;
    z-index: 1000;
    position: fixed;
    bottom: 4px;
}

.content-wrap {padding-bottom: 110px;}
/*Share menu Classes*/

.share-button, .share-toggle-button {
    position: absolute;
    display: inline-block;
    left: 105px;
    bottom:3%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: -40px;
    margin-top: -40px;
    background: #ccc;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
}
.share-button:hover, .share-toggle-button:hover {
    color: #fff;
}
.share-button {
    font-size: 20px;
    background: #c6abcd;
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    color: #4b1557;

}
a.share-button {
    color: #fff;
}
a.share-button:hover, a.share-button:focus {
    color: #4b1557;
}
.share-toggle-button {
    z-index: 9;
    background: #8d569a;
    font-size: 20px;
}
.share-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.share-item {
    display: inline-block;
}

/*Chat popup button*/
.chat_cont a.chat_icon{width:40px;height:40px;border-radius:50%;background:#8d569a;position:absolute;left: 20px;text-align:center;color:#fff;font-size:20px;transition:all ease 0.4s;display: block;margin-top: -40px;bottom:3%;}
.chat_cont a.chat_icon:hover{background:#4b1557;}
.chat_cont a.chat_icon.opened{background:#e16595;}

.chat_cont a.chat_icon i{margin-top:10px;}

/*Widget container classes*/
.widget_setting_btn {position: fixed;right: 5px;top: 5px;color:#cccccc;display:block;width: 10px;font-size: 17px;transition: all ease-in 0.4s;z-index:1000;}
.widget_setting_btn.active{color:#d73e7a;}

.widget_cont{margin:10px;}
.widget_cont h4, .widget_cont h2, .widget_cont h3, .widget_cont h6, .widget_cont h1, .widget_cont h5 {margin:0;padding: 0;font-weight: lighter;}
.widget_cont h4{color:#d93f7b;font-size:12px;margin-bottom:5px;}
.widget_cont h2,.widget_cont h1, .widget_cont h5{margin-bottom:10px;font-family: "stc-light", arial, sans-serif;}
.widget_cont h2{color:#672875;font-size: 17px;text-transform: uppercase;}
.widget_cont h1{color: #712C81;font-size:25px;display: inline-block;}
.widget_cont h5{color:#672875;font-size:14px;display: inline-block;}
.widget_cont h6{color:#999;font-size: 10px;margin-bottom:5px;}
.widget_more_details{position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #f2f2f2;
    border: solid 1px #f2f2f2;
    display: block ;
    padding: 3px 20px !important;
    border-radius: 3px;
    color: #b5b5b5;
    font-size: 20px !important;
    transition: all ease 0.3s;}

.widget_more_details:hover {background:#D94880;color:#fff;}


/*Widget Settings classes*/
/*Widget Settings classes*/
.widget_settings{width: 100%;height: 100%;top: 0;left:0;position:absolute;z-index:20; background: rgba(255,255,255,0.93); z-index:10;-webkit-animation: slideInUp; animation: slideInUp;transition: all ease-in 0.3s;opacity: 0;padding: 5%;}
.widget_settings.opened{display: block;opacity: 1;}

.edit_widget_cont, .remove_widget_cont {display:none;margin-top: -20px;vertical-align: middle;padding-top: 3px;}
.widget_settings .widget_settings_btns  {position:relative;top: 40%;left: 30%;background: #ccc;display: inline-block;width: 46px;height: 46px;border-radius: 4px;text-align: center;font-size: 26px;padding-top: 4px;margin: 0 4px 0 0;border: solid 1px #f2f2f2;color: #666;transition: all ease 0.3s;}
.widget_settings .widget_settings_btns:hover {background: #E16595;color: #fff;border-color: #fff;}
.remove_widget_cont h3{font-size: 13px;text-transform: uppercase;color: #8D569A;line-height: 20px;margin-top: 10px;}



/*Circle buttons classes*/
.pink_circle_btns, .purple_circle_btns {
    background-color: #712C81;
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 3px #8D569A;
    color: #fff;
    padding-top: 17px;
    text-align: center;
    font-size: 12px;
    transition:all ease-in 0.4s;
}
.purple_circle_btns{background:#8d569a;}
.pink_circle_btns i, .purple_circle_btns i{font-size:28px;margin-top:-8px;}
a.pink_circle_btns:hover, a.purple_circle_btns:hover{background:#fff;color:#E16595;}
.pink_circle_btns ~ label, .purple_circle_btns ~ label {display:block;width:55px;margin-top:3px;text-align:center;font-weight:normal;}
.purple_circle_btns.offers {width:74px;height:74px;margin:0 auto;}
.purple_circle_btns.offers i {font-size: 41px;margin-top: -5px;}
.purple_circle_btns label {font-weight:normal;color: #fff;}
.purple_circle_btns label.bold{margin: -10px 1px -3px;display: block;font-weight: bold;font-size: 14px;}


/*Circular charts override classes*/
canvas.circle_charts {display: block;margin: 29px auto 20px;}
canvas.circle_charts.small_charts{display: block;margin: 2px auto 2px;}
.remaining_values {margin-top: -130px;margin-bottom: 67px;-webkit-animation-delay: 0.7s;font-family: "stc-light", arial, sans-serif;z-index:2;}
.remaining_values h1, .remaining_values h5 {display: block;text-align: center;}
.remaining_values h1{font-size:30px;}
.remaining_values.small_charts {margin-top: -61px;margin-bottom: 0;}

.account_icons p{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: solid #ccc 3px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
    color:#8D569A
}
.account_icons p i {font-size: 42px;margin-top: 9px;margin-left: 0px;}
.account_icons  h3{color:#672875;font-size: 24px;display:inline-block;margin-right: 5px;}


.account_summary_border{border-bottom: dotted 1px #b5b5b5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.remaining_values.doughnuts {margin-top: -107px;margin-left: 57px;margin-bottom: 60px;width: 50%;}
.remaining_values.list{margin-left:26px;}
.remaining_values.doughnuts h5{font-size:18px;text-transform: uppercase;/* width: 50%; */}
.chart_map h6{
    color: #999;
    font-size: 10px;
    margin-bottom: 5px;
    width: 25%;
    display: inline-block;
    margin-right: 10px;
}
.remaining_values.doughnuts + .chart_map h6:before {

    content:'';
    width: 10px;
    height: 10px;
    background-color: #E20079;
    position: absolute;
    margin-left: -14px;
    display: inline-block;
    vertical-align: middle;

}

canvas{position:relative;z-index:4;}
.border_circle{width: 140px;height: 140px;border: solid 5px #8D569A;border-radius:50%;margin: 20px auto 0;}
.remaining_values.qitaf{margin-top:-89px;}
.sub_users_list h3 {font-size: 11px;background: #fff;border-bottom: dotted 1px #b5b5b5;padding: 5px;margin: 0 0 2px;transition:all ease 0.3s;position: relative;}
.sub_users_list h3 span.users_item i {margin-right:6px;}
.sub_users_list h3 span.users_item {display:inline-block;width: 77%;vertical-align: top;margin-right:5%;}
.sub_users_list h3 span.user_action_menu {display:inline-block;width: 23%;vertical-align: top;position:absolute;right: 2px;opacity:0;transition:opacity ease 0.3s;text-align: right;}
.sub_users_list h3 span.user_action_menu a {display: inline-block;background:#fff;padding: 3px;border-radius: 3px;border: solid 1px #DCDBDB;text-align: center;margin-top: -10px;transition:all ease 0.3s;font-size: 10px;}
.sub_users_list h3 span.user_action_menu a:hover{background:#E26B99;color:#fff}
.sub_users_list h3:hover span.user_action_menu{opacity:1;}
.error_msg, .success_msg, .alert_msg, .info_msg {font-size: 16px;text-transform: uppercase;color:#8d569a;position:relative;width: 90%;margin:20px auto;}
.error_msg span, .success_msg span, .alert_msg span, .info_msg span {font-size: 18px;font-weight:bold}
.error_msg:before, .success_msg:before, .alert_msg:before, .info_msg:before {width:auto;content:'';left:3px;margin-right:10px;font-size: 60px;color:#e20079;vertical-align: middle;}
.error_msg:before{content:'\2639'}
.success_msg:before{content: '\263a';}
.alert_msg:before{content: '\26a0';}
.info_msg:before{content: '\fffd';}
.add_account {font-size: 20px !important; color: #fff !important;padding: 10px !important;}
.chart_map {text-align:left;}
.accounts_top_links {font-size:16px;}
.accounts_top_links:hover  .pink_circle_btns {background:#E26B99;color:#fff;border-color:#e20079}
.account_icons h3.sub_title{display:block;margin-bottom:5px;font-size:14px;}
.account_icons h3.sub_title i {color:#E26B99;font-size:16px;margin-right:5px;}
.quicknet_packages_charts .circle_charts{margin:0;}
.quicknet_packages_charts .remaining_values {    margin: -96px 0 0 -5px; width: 140px;}
.quicknet_packages_charts .remaining_values h1 { font-size: 20px;text-transform: uppercase;}
.quicknet_packages_charts .remaining_values h5 {margin-top:-10px;}
.show_quicknet_package{display:none;}




/*Add widget panel classes*/
.add_Widget_panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border: solid #fff 0px;
    background-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    z-index:10000000000;
}

.add_Widget_panel.opened {
    height: 100%;
    border-width: 20px 300px 20px 20px;
    background-color: rgba(0,0,0,0.85);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
}
.add_Widget_panel .add_widget_cont {position:fixed;right: 0;top:50px;width: 300px;margin:0 auto;display:none;padding: 20px;}
.add_Widget_panel.opened .add_widget_cont {display:block;}

.close_widget {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 2px;
    top: 131px;
    cursor: pointer;
    opacity: 1;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
.add_widget_cont  h1 {font-family: "stc-light", arial, sans-serif; color: #fff;font-size: 25px;text-transform: uppercase;margin: 145px 0 30px;padding: 0;display: block;transition: all ease 0.3s;}
button.add_widget {border:none;position:relative;margin:10px;outline: 0;}


.add_widget_div {background:rgba(0,0,0,0.6);width: 250px;height:100%;position: fixed;right:-270px;top: 0;z-index: 1;padding: 20px;transition:right ease-in 0.4s;}
.add_widget_div.opened{right:0;-webkit-animation-name: slideInRight; animation-name: slideInRight;}
.widget_back_btn, .widget_done_btn{display:none;position: absolute;top: 9px;background-color: transparent;transition: all ease 0.3s;-webkit-transition: all ease 0.3s;border-radius: 3px;padding:4px;text-align:center;margin-bottom:10px;}
.widget_back_btn{float: left;left:12px;clear: both;}
.widget_done_btn{right: 12px;float:right;clear: both;}

.widget_back_btn i, .widget_done_btn i {font-size: 20px;vertical-align: middle;color: #712C81;}
.widget_back_btn:hover, .widget_done_btn:hover{background-color:#f2f2f2}
.remove_widget_btn {background:#712C81;padding:8px 12px;text-align:center;color:#fff;display:inline-block;border-radius:4px;transition: background ease-in 0.4s;}
.remove_widget_btn.cancel {background:#d83e7b;}
.remove_widget_btn:hover {background:#f2f2f2;color:#d83e7b;}
.grid-stack-item[data-gs-width="2"] .edit_widget_cont {margin-top:-10px;}
.grid-stack-item[data-gs-width="2"] .widget_settings .widget_settings_btns {left:17%;}
.edit_widget_btn{overflow:hidden;}

/*User Profile classes*/
.user_profile .dummy-column.user_data {width:20%;background-color: #fff;padding: 10px;border-radius: 3px;position: relative;z-index: 2;}
.user_profile .dummy-column:nth-child(2) {
    margin: 0 4px;
    width: 79%;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    vertical-align: top;
    min-height: 456px;
    /*overflow-x: auto;*/
}
.user_profile .dummy-column.user_data img {width:128px;height:128px;border-radius:50%;margin: 0 auto;display: block;}
.user_data h3{
    font-size: 13px;
    margin: 15px 0 10px;
    padding: 0;
    text-align: center;
}
.user_data h2{

    font-size: 16px;
    letter-spacing: 0;
    font-weight: normal;
    color: #8D579A;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;

}
.user_data nav {border-top:solid 8px #f2f2f2;margin-top:20px;padding-top: 10px;}
.user_data nav a {
    border-top: dotted 1px #b5b5b5;
    padding: 10px;
    display:block;

}


.user_data nav a:first-child {border-top: none}
.user_data nav a i{color:#8d579a;font-size:20px;margin-right:8px;}
.user_data nav a.active {background:#8d579a;color: #fff;border-radius: 3px; animation: fadeInDown; -webkit-animation: fadeInDown;}
.user_data nav a.active i {color:#fff;}
.user_data nav a.active:before {
    content: '';
    width: 44px;
    height: 40px;
    border: solid 21px transparent;
    position: absolute;
    float: right;
    right: -33px;
    margin-top: -10px;
    border-left-color: #8d579a;
    opacity:1;
}

.profile_divs h2 {
    color: #8D579A;
    padding: 0 0 5px;
    margin: 10px;
    font-family: "stc-light", arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    border-bottom: solid 7px #f2f2f2;
    font-weight:normal;

}
.profile_divs h2 i {font-size:28px;margin-right:8px;color:#E26B99}

.profile_div_cont {display:none;}
.profile_div_cont:nth-of-type(1){display:block;}


/*Credit Cards icons*/
.credit_cards input[type='radio']{display:none;}
.credit_cards input[type='radio'] + label {display:inline-block;width: 87px;height: 65px;border-radius:4px;background: #fff;border:solid 2px #f2f2f2;color: #b5b5b5;font-size: 45px;text-align:center;transition: all ease 0.3s;cursor: pointer;}
.credit_cards input[type='radio'] + label:hover {border-color: #f2f2f2;color: #8D579A;background:#f2f2f2;}
.credit_cards input[type='radio']:checked + label {background:#d83e7b;color:#fff;border-color: #d83e7b;}

/*Autocomplete classes*/
.ui-widget-content{
    background-color: #f2f2f2;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -webkit-background-clip: padding-box;
    color: rgb(51, 51, 51);
    display: none;
    height: auto;
    line-height: 22px;
    z-index: 100;
    border: solid 2px #f2f2f2;
    max-height:200px;
    overflow-y: auto;

}
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}
.ui-menu{list-style:none;padding:0;margin:0;display:block;outline:none}
.ui-menu .ui-menu-item{position:relative;margin:0;padding:3px 1em 3px .4em;cursor:pointer;min-height:0;transition:all ease 0.3s;}
.ui-menu .ui-state-focus,.ui-menu .ui-state-active{background:#E26B99;color:#fff;}

.notification_div h3{font-size: 15px;text-transform: uppercase;color:#e26b99;margin:5px 0}
.notification_div h4{font-size: 13px;text-transform: capitalize;color:#666;font-weight:bold}
.notification_div p{font-size: 11px;text-transform: capitalize;color:#999;}

/*data tables overwrite classes */
.accounts_tables {border-collapse: separate;border-spacing: 0 3px;}
.accounts_tables thead{display:none;}
.accounts_tables tbody tr td{background:#fff;border-bottom:solid 1px #f2f2f2;border-top:solid 1px #f2f2f2;padding: 0 10px;position: relative;box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.1);}
.accounts_tables tbody tr td:first-child, .accounts_tables tbody tr.mobile td:first-child{border-radius:4px 0 0 4px;border-left: solid 33px #E26B99;}
.accounts_tables tbody tr td:last-child{border-radius:0 4px 4px 0;border-right:solid 1px #f2f2f2}
.accounts_tables h1{font-size: 22px;color:#d83e7b;font-family:"stc-light","stc-light", arial, sans-serif;margin: 0 0 0 -50px;padding:0;position:relative;}
.accounts_tables h3{font-size: 17px;color:#712c81;font-family:"stc-light","stc-light", arial, sans-serif;margin: 0;padding: 0;display: inline-block;}
.accounts_tables h5{font-size: 10px;color:#712c81;}
.accounts_tables h1 i {color:#712c81;margin-right:8px;}
.accounts_tables h1:after, .accounts_tables h3:after{content:'';position:absolute;width:3px;height: 80%;border-left:dotted 1px #b5b5b5;left:-5px;margin-top: 8px;top: 0;}
.accounts_tables .sorting_1 h1:after, .accounts_tables .sorting_1 + td h1:after{border:none;}
.accounts_tables  a:hover h1 {color:#712c81;}
.accounts_tables  a h3 {color:#d83e7b;}
.accounts_tables  a:hover h3 {color:#712c81;}
.accounts_tables h5{margin-top:3px;display: inline-block;}
.accounts_tables tbody tr.landline td:first-child{border-left-color: #8D569A;}
.accounts_tables tbody tr.data td:first-child{border-left-color: #f2bd55;}
.filter_options {background:#fff;padding:10px;border-radius:3px;margin-bottom:4px;z-index: 12;position: relative;}
.dataTables_length, .dataTables_filter {background-color: #fff;
    padding: 10px;
    border-radius: 3px;z-index: 2;position: relative;box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.1);}
.dataTables_length, .dataTables_length label{text-align: right !important;}
div.dataTables_wrapper div.dataTables_filter label {
    width:55%
}
.dataTables_wrapper .row{margin:-2px -4px;}
.dataTables_wrapper .col-sm-6, .dataTables_wrapper .col-sm-12 {padding:3px}
.dataTables_wrapper .col-sm-12 {margin-top:-11px}
.dataTables_filter input[type='search']{
    width: 100% !important;
    border: none;
    border-bottom: 3px solid #f2f2f2;
    box-shadow: none;
    transition: border-bottom cubic-bezier(.2,.19,1,.69) 0.3s;
}
.dataTables_filter input[type='search']:focus{

    border-bottom-color: #e26b99;
}
.accounts_tables td .checkbox{margin-left: -157%; position: relative;margin-top: 1px;}
.filter_options input[type='checkbox']{display:none;}
.filter_options input[type='checkbox'] +  label {
    background:#fff;border:solid 1px #f2f2f2;border-radius:3px;
    padding: 10px 10px;
    font-size: 13px;
    transition: all ease 0.3s;
    cursor:pointer;
}
.filter_options input[type='checkbox'] +  label i {
    color : #712c81;
    font-size: 33px;
    vertical-align:middle;margin-right:8px;
    transition: all ease 0.3s;
    margin-top: 5px;
    width: 26px;
}
.filter_options input[type='checkbox'] + label:hover{background:#e26b99;color:#fff}
.filter_options input[type='checkbox']:checked +  label {
    border-color:#e26b99;
    background:#fff;color:#8d569a;
    border-left-width:12px;
}
.filter_options input[type='checkbox'] +  label h6{
    margin: -9px 10px 2px 35px;
    padding: 0;
    font-size: 13px;
    color: #ccc;
    /* text-align: center; */
}
.filter_options input[type='checkbox'].mobile_accounts:checked +  label{background:#fff;border-color:#e26b99;}
.filter_options input[type='checkbox'].landline_accounts:checked +  label{background:#fff;border-color:#8d569a;}
.filter_options input[type='checkbox'].data_accounts:checked +  label{background:#fff;border-color:#f2bd55;}

.accounts_tables tbody tr.landline .checkbox-primary input[type="checkbox"]:checked + label::before {background:#8d569a;border-color: #834E90;}
.accounts_tables tbody tr.data .checkbox-primary input[type="checkbox"]:checked + label::before {background:#f2bd55;border-color: #ECB74E;}

.pay_bills{background:#d83e7b;display:block;padding:10px;color:#fff;transition:all ease 0.3s;margin-top:40px;}
.select_all{position: absolute; z-index: 20; margin: 6px 10px 10px 7px;}
.export_data_lbl{margin-left:-16px;}

.accounts_tables tr td:nth-of-type(1){width:1px;}

.dt-buttons{position: absolute; margin-top: 4px; right: -497px;z-index: 999999;-webkit-animation-delay: 0.4s;animation-delay: 0.4s;background-color: #DA3F7B;padding: 5px 0;box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.6);border-radius: 3px;display: none;max-width: 125px;}
.dt-buttons:before {content:'';width:20px;height:20px;border:solid 10px transparent;border-bottom-color: #DA3F7B;position: absolute;right: 19px;margin-top: -25px;}
.dt-buttons a :before {font-family:'FontAwesome';content:"";color:#fff;width:30px;margin-right:8px;font-size:20px;}
.dt-buttons a.buttons-copy :before {content:"\f0c5";}
.dt-buttons a.buttons-excel :before {content:"\f1c3";}
.dt-buttons a.buttons-pdf :before {content:"\f1c1";}
.dt-buttons a {float:none;display:block;border-radius:0;width: 100%;left:0;margin: 0 !important;border: none;border-top: dotted 1px #E26B99;background-color: transparent;}
.dt-buttons a:first-child{border:none}
div.dt-button-info {z-index:88;border: none;border-radius: 3px;}
div.dt-button-info h2 {background: #712C81;color:#fff;border-radius:4px 4px 0 0;font-size:20px;font-family:'stc-light',arial,sans-serif;text-transform:uppercase;padding-top: 15px;}
.tables_btns{position:absolute;right:15px;}
.tables_btns .add_widget {
    width: 48px;
    height: 48px;
    font-size: 25px !important;
    padding-top: 8px !important;
    margin-top: 6px;
    right: auto;
    display: inline-block;
    position: relative;
}
.inside_widget {right:30%;margin-top:-1px;}
.add_service {display: block;width:100%;background: #DA3F7B;padding: 15px 12px;height:100%;color:#fff;font-size: 14px;border-radius: 3px;position: absolute;left: 0;top: 0;font-family: 'stc-light',arial,sans-serif;text-transform: uppercase;text-align:center;transition:all ease-in 0.3s;}
.add_service i {display:block;margin-bottom:5px;font-size:25px;}
.add_service:hover{background: #E26B99;color: #fff;}
.col-sm-2 .pink_circle_btns {width:48px;height:48px;}
.col-sm-2 .pink_circle_btns p i {
    font-size: 29px;
    margin-top: 7px;
    margin-left: 0px;
}


.services_top_links {display:block;margin-bottom:10px
}
.services_top_links i{background-color:#712c81;width: 22px;height: 22px;border-radius:50%;text-align:center;display:inline-block;margin-right: 2px;vertical-align: middle;color: #fff;padding-top: 2px;font-size: 17px;}
.services_top_links span{font-size:13px;}

.remaining_values.doughnuts + .chart_map h6:nth-of-type(1):before, .account_icons .animated:nth-of-type(1) .services_top_links i {background-color:#e20079}
.remaining_values.doughnuts + .chart_map h6:nth-of-type(2):before, .account_icons .animated:nth-of-type(2) .services_top_links i {background-color:#8d569a}
.remaining_values.doughnuts + .chart_map h6:nth-of-type(3):before, .account_icons .animated:nth-of-type(3) .services_top_links i {background-color:#f2bd55}
.remaining_values.doughnuts + .chart_map h6:nth-of-type(4):before, .account_icons .animated:nth-of-type(4) .services_top_links i {background-color:#999999}
.remaining_values.doughnuts + .chart_map h6:nth-of-type(5):before, .account_icons .animated:nth-of-type(5) .services_top_links i {background-color:#c6abcd}
.remaining_values.doughnuts.small {margin-top: -97px; margin-left: 37px; margin-bottom: 50px; width: 50%;}
.remaining_values.doughnuts.small h5{font-size:15px;}
.sub_users_list.large h3{display: inline-block;width: 48%;margin-left: 5px;}
.sub_users_list.large h3:first-child{margin-left:0}
.full_btn_widget {background:#d83e7b;}
.inside_widget_btn{width: 156px;font-weight:normal;}
.package_name{font-size:16px;vertical-align: baseline;display: inline-block;}
.inline_block{display: inline-block;margin-left:6px;}
.packages_img img{width:100%;height:auto;}
/*SIM Card Icon*/
.sim_icon{background: #712C81;border-radius: 4px;width: 100%;height: 53px;position: relative;left:0;top:0;border: solid 2px #712C81;z-index: 1;}
.sim_icon:before{content:'';width: 30px;height: 9px;position:absolute;top: -4px;left: -11px; -ms-transform: rotate(-46deg); -webkit-transform: rotate(-46deg);transform: rotate(-46deg););background-color: #fff;}
.sim_icon:after{content: '\f009';font-family:"FontAwesome";position:absolute;bottom: 22px;right: 19px;font-size: 36px;color: #FFFFFF;width: 20px;height: 20px;display: block;z-index: 8888888;}
/*White SIM Card Icon*/
.sim_icon.white{background: #FFFFFF;border-color: #8D569A;}
.sim_icon.white:before{height: 12px;top: -4px;left: -8px;border-bottom: solid 2px #8D569A;width: 19px;}
.sim_icon.white:after{color: #E16595;}
.sim_icon + h6{font-size: 9px;margin-top:5px;}
.sim_details h1{font-size:17px;}
.sim_details  .quick_Pckg_title {display: block;}
.sim_details .carousel-inner {margin-left:10px;}

.services_state i {margin-right:5px;width: 20px;height: 20px;background: #17B6A4;border-radius: 50%;text-align: center;color: #fff;padding-top: 3px;font-size: 15px;vertical-align:baseline;}
.services_state.active i {background: #17B6A4;}
.services_state.disconnected i {background:#d83e7b;}
.quick_Pckg_title {
    font-size: 11px !important;
    font-family: arial !important;
    font-weight: normal;
    text-transform: uppercase;
}
.quicknet_packages_charts.internet .remaining_values {margin: -91px 0 48px 1px;}
.quicknet_packages_charts.roaming_packages .remaining_values {margin: -76px 0 31px -8px;}

.quicknet_packages_charts.internet canvas{margin-left:11px;}
.purple_circle_btns h1 , .pink_circle_btns h1, .purple_services_btns h1{font-family: inherit;font-size: 12px; margin-top: 19px;}

.service_status {
    position: absolute;
    right: 10px;
    margin-top: -57px;
    background-color: #f2f2f2;
    padding: 3px 10px;
    border-radius: 3px;
    box-shadow:2px 2px 5px -2px rgba(0,0,0,0.1)
}
.service_status h3{font-size:14px;display:inline-block;margin: 0 5px;padding:0;color: #8D569A;}
.service_status .btn {margin-top:7px;}
h1.flash{-webkit-animation-delay: 0.7s;animation-delay: 0.7s;}
.download_bill_panel {background:#d83e7b;position:absolute;top: 66px;padding: 12px 0;z-index: 1000;width: 169px;border-radius: 4px;left: -26px;box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.1);display: none;}
.download_bill_panel:before{content:'';width:20px;height:20px;position:absolute;border:solid 10px transparent;border-bottom-color: #D83E7B;left: 47%;top: -19px;}
.download_bill_panel a {position:relative;display:block;border-bottom: dotted 1px #D47D9E;color: #fff;padding: 5px;transition:all ease-in 0.3s}
.download_bill_panel a:hover{background: #2F0838;}
.download_bill_panel a i{margin:0 5px;}
.service_bill, .account_bill{display:none;}
.back_btn{position: relative;left: -3px;display: inline-block;color: #fff;border-right: solid 1px #BB4D78;padding: 0px 10px;margin-right: 5px;background-color: transparent;border-radius: 3px;transition: all ease-out 0.3s;}
.back_btn:hover {background:#fff;}
h2.submenu_title a i{right:auto;margin:2px 0 0;;position:relative;font-size:inherit}


/*Users page Classes*/
.accounts_tables .datatable_action_btns {display:inline-block;font-size: 0;width: 30px;height: 30px;background-color: #f2f2f2;padding: 5px;vertical-align: top;border-radius: 3px;margin:3px;color: #999999;text-align: center;transition: all ease-in 0.3s;opacity:1;}
.accounts_tables .datatable_action_btns:hover{background: #DA3F7B;color: #fff;font-weight: bold;}
.accounts_tables .datatable_action_btns i {font-size: 18px;margin:2px}
.show_btns{opacity:1 !important;display:inline-block !important;}
.user_info h6{display:inline-block;margin-right:5px;}
.user_info h1 {font-size:18px;}
.user_times i{font-size: 32px;vertical-align: middle;color: #DA3F7B;}
.user_info  .success_msg {font-size:14px;-webkit-animation-delay: 1.5s;animation-delay:1.5s;margin-top:-40px}
.user_info  .success_msg:before{vertical-align:sub;}
.assigned_accounts h6{margin-top:5px;}

/* Common Classes */

.purple {color:#712c81 !important;}
.pink {color:#d83e7b !important;}
.pink_widget {background:#d83e7b !important;}
.purple_widget {background:#712c81 !important;}
.bold{font-weight:bold !important;}
.uppercase{text-transform:uppercase; !important;}
.italic{font-style:italic!important;}
.center_btn {margin:auto!important;}
.top_reset{margin-top:0 !important;}
.bottom_reset{margin-bottom:0 !important;}
.top_negative_10 {margin-top:-10px !important;}
.top_negative_25 {margin-top:-25px !important;}
.top_positive_5 {margin-top: 5px !important;}
.top_positive_10 {margin-top: 10px !important;}
.top_positive_15 {margin-top: 15px !important;}
.top_positive_30 {margin-top: 30px !important;}
.top_positive_23 {margin-top:23px !important;}
.top_positive_50 {margin-top: 50px!important;}
.top_positive_95 {margin-top: 95px!important;}
.bottom_negative_6{margin-bottom:-6px !important;}
.bototm_positive_10 {margin-bottom:10px !important;;}
.bototm_positive_15 {margin-bottom:15px !important;;}

label {display:block;font-size:12px;margin-bottom:8px;color:#672875;font-weight:normal;}
.purple_circle_btns label, .add_widget_div label {font-weight:normal;color: #fff;}
.btn-primary {text-transform: uppercase}
.align-center{text-align:center;}
.btn.cancel{text-transform: uppercase;background-color: transparent;}
.btn.cancel:hover{opacity:0.8;color:#666}
.noscrolling {overflow:visible !important;}
.content_margin{margin:10px;}
.select_index{z-index:1000;}
.block{display:block !important}


/*Postpaid packages icon drawing*/
.packg_icon{margin-top:10px;}
.packg_top,.packg_bottom{

    width: 60%;
    padding: 0 5px 5px;
    color: #fff;
    height: 18px;
    border-radius: 0 0 5px;
    font-size: 8px;
    font-family: stc-light;
    text-align: center;
    right: 0;
    float: right;
    position: absolute;
    z-index: 90;font-size: 11px;line-height: 11px;}
.packg_bottom{
    width: 70%;
    height: 47px;
    font-size: 39px;
    color: #fff;
    float: left;
    margin-top: 13px;
    z-index: 31;
    right: auto;
    left: 0;
    border-radius:5px 0 0 0;
    line-height: 65px;
}
.packg_top:before,.packg_bottom:before{content:"";background: #FFFFFF;width: 20px;height: 101%;display: block;position: absolute;border-radius: 0 0 5px 0;left: -16px;top: -5px;}
.packg_bottom:before{
    top: 4px;
    right: -18px;
    left: auto;
    height: 100%;
    background: white;
    border-radius: 5px 0 0 0;
    z-index: 10;
}
.packg_top:after,.packg_bottom:after{content:"";width: calc(100% - 2px);height: 10px;display: block;position: absolute;bottom: -10px;right: 2px;float: right;z-index: 20;border-radius: 0 0 5px 5px;}
.packg_top:after{
    float: left;
    left: 4px;
    top: -10px;
    border-radius: 5px 5px  0 0;
    width: calc(100% - 4px);
}
/*Change packages colors based on the package*/
/* postpaid 30 Package*/
.packg_30 .packg_top,.packg_30 .packg_bottom,.packg_30 .packg_top:after, .packg_30 .packg_bottom:after{background: #F0582F;}
/* postpaid 100 Package*/
.packg_100 .packg_top,.packg_100 .packg_bottom,.packg_100 .packg_top:after, .packg_100 .packg_bottom:after{background: #17B6A4;}
/* postpaid 200 Package*/
.packg_200 .packg_top,.packg_200 .packg_bottom,.packg_200 .packg_top:after, .packg_200 .packg_bottom:after{background: #E23E71;}
/* postpaid 400 Package*/
.packg_400 .packg_top,.packg_400 .packg_bottom,.packg_400 .packg_top:after, .packg_400 .packg_bottom:after{background: #8F5C94;}
/* postpaid 1000 Package*/
.packg_1000 .packg_top,.packg_1000 .packg_bottom,.packg_1000 .packg_top:after, .packg_1000 .packg_bottom:after{background: #000;color:#EACD7D}
